{% macro form_open(id, name, action, method) %}
    <form id="{{ id }}" name="{{ name }}" action="{{ action }}" method="{{ method }}">
{% endmacro %}

{% macro form_close() %}
    </form>
{% endmacro %}

{% macro hidden_input(id, name, value) %}
    {% if id is not empty %}
        <input id="{{ id }}" name="{{ name }}" value="{{ value }}" type="hidden" />
    {% else %}
        <input name="{{ name }}" value="{{ value }}" type="hidden" />
    {% endif %}
{% endmacro %}

{% macro display_preloader() %}
    <div class="z-preloader-container">
        <div class="z-preloader">
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
        </div>
    </div>
{% endmacro %}