<style type="text/css">
    .pagetitle{
        margin-top: 80px;
    }
</style>
<div class="row">
    <div class="col-xs-12">
        <h5 class="text-center">Your shopping cart is empty.</h5>
    </div>
</div>
