{% import "form.macros.twig" as forms %}
<div class="modal fade" id="newsletter" tabindex="-1" role="dialog" aria-labelledby="newsletterTitle" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <div class="close" data-dismiss="modal"><img src="/templates/156/images/close_black.png" class="close_image"><span class="sr-only">Close</span></div>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xs-12 text-center">
                            <div class="form">
                                {{ forms.form_open("newsletter-form", "newsletter-form", 'http://marketing.zindigo.com/ajax.php', 'GET') }}
                                {{ forms.hidden_input('sid', 'sid', "#{ controller.storeId }") }}
                                <div class="modal-text-news">SUBSCRIBE TO OUR NEWSLETTER TO STAY UP TO DATE WITH THE LATEST STELLA VALLE NEWS.</div>
                                <input name="email" id="email" placeholder="EMAIL ADDRESS" data-rule-email="true" required/>
                                <a class='signup' href="#">SUBMIT</a>
                                {{ forms.form_close() }}
                            </div>
                            <div class="thankyou hidden">
                                <h6>Thank you for your submission!</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
