<div class="modal fade" id="sizeGuide">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
			    	<button type="button" class="close" data-dismiss="modal">
			        <span aria-hidden="true"><img style="width:28px;" src="/templates/156/images/close_black.png"></span><span class="sr-only">Close</span></button>
			</div>
			<div class="modal-body">
				<div class="container-fluid content" id="bra-size">
				    <div class="row size_chart_title">
				    	<div class="col-xs-12">Size Chart</div>
				    </div>
				    <div class="row">
				        <div class="col-xs-12">
				        
				        <div class="size-padding">
					        <div class="sizechartheader">How to Measure</div>
							<div class="sizecharttext">
								<div><span>chest:</span> Measure over the fullest part of your bust.</div>
								<div><span>waist:</span> Measure around your natural waistline; keep your measuring tape loose and comfortable.</div>
								<div><span>hip:</span> Measure around the fullest part of your hips, 8" below your waist.</div>
							</div>
				        </div>
						
						<br/>
						<br/>
						<div class="table-responsive">
							<table cellspacing="0" cellpadding="0" class="size_chart_values">
								<tr style="height: auto;">
									<th>SIZE</th>
									<th>XS</th>
									<th>S</th>
									<th>M</th>
									<th>L</th>
									<th>XL</th>
								</tr>
								<tr>
									<td>CHEST</td>
									<td>31-32</td>
									<td>32-34</td>
									<td>34-36.5</td>
									<td>37-39</td>
									<td>40-42</td>
								</tr>
								<tr>
									<td>WAIST</td>
									<td>25-26</td>
									<td>27-28</td>
									<td>28.5-30</td>
									<td>31-33</td>
									<td>34.5-36.5</td>
								</tr>
								<tr>
									<td>HIPS</td>
									<td>33-34</td>
									<td>34-36</td>
									<td>36.5-38</td>
									<td>39-40.5</td>
									<td>41.5-43</td>
								</tr>
								<tr style="height:60px;">
									<td>INSEAM</td>
									<td>33<br/>0-2</td>
									<td>33<br/>2-4</td>
									<td>33<br/>4-6</td>
									<td>33<br/>6-8</td>
									<td>33<br/>8-10</td>
								</tr>
							</table>
						</div>
						<br/><br/>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
