{% if (outofStock.properties.size.options is not empty or outofStock.properties.color.options is not empty) %}
	<script src="/js/{{ controller.storeId }}/generated/utilities/outofstock.min.js"></script>
	
	{{ forms.hidden_input('oosinventory', 'oosinventory', "#{outofStock.inventory|json_encode()}") }}
	
	<div class="modal fade" id="outofStock" role="dialog">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
					</button>
					<h4 class="sizeTitle">NOTIFY ME</h4>
				</div>
				<div class="modal-body">
					<div class="start-of-modal">
						<div class="notify-text">Notify me when the {{ product.details.Name }} is back in stock.</div>
						
						{% set oformId = "oos-form" %}
						{{ forms.form_open("#{oformId}", "#{oformId}", "index.php?storeid=#{controller.storeId}&page=outofstock", 'GET') }}
						
							<div class="input-holder"><input type="text" name="oosname" placeholder="Name*" /></div>
							<div class="input-holder"><input type="email" name="oosemail" placeholder="Email Address*" /></div>
							
							{% if outofStock.properties.color.options is not empty %}
								<div class="input-holder">
									<div class="val-selector oos-val-selector">
										<select name="unavailableColors">
											<option value="">COLOR</option>
											{% for color, colorData in outofStock.properties.color.options %}
												<option value="{{ colorData.ID }}">{{ color|upper }}</option>
											{% endfor %}
										</select>
										<div class="prodvalcont">
											<div class="valtext">COLOR</div>
											<div class="valarrow"></div>
											<div class="clear"></div>
										</div>
										<div class="valoptions" style="display: none;">
											<div class="suboption suboptionpr">COLOR<input type="hidden" value=""></div>
											{% for color, colorData in outofStock.properties.color.options %}
												<div class="suboption suboptionpr">{{ color|upper }}<input type="hidden" value="{{ colorData.ID }}"></div>
											{% endfor %}
										</div>
									</div>
								</div>
							{% endif %}
							
							{% if outofStock.properties.size.options is not empty %}
								<div class="input-holder">
									<div class="val-selector oos-val-selector">
										<select name="unavailableSizes">
											<option value="">SIZE</option>
											{% for size, sizeData in outofStock.properties.size.options %}
												<option value="{{ sizeData.ID }}">{{ size|upper }}</option>
											{% endfor %}
										</select>
										<div class="prodvalcont">
											<div class="valtext">SIZE</div>
											<div class="valarrow"></div>
											<div class="clear"></div>
										</div>
										<div class="valoptions" style="display: none;">
											<div class="suboption suboptionpr">SIZE<input type="hidden" value=""></div>
											{% for size, sizeData in outofStock.properties.size.options %}
												<div class="suboption suboptionpr">{{ size|upper }}<input type="hidden" value="{{ sizeData.ID }}"></div>
											{% endfor %}
										</div>
									</div>
								</div>
							{% endif %}
							<input type="hidden" name="storeid" value="{{ controller.storeId }}" />
							
							<input type="hidden" name="zindigo" value="{{ outofStock.zindigo }}" />
							<input type="hidden" name="agentid" value="{{ outofStock.agentID }}" />
							<input type="hidden" name="weburl" value="{{ outofStock.web }}" />
							<input type="hidden" name="params" value="{{ outofStock.params }}" />
							
		                    <input type="hidden" name="productid" value="{{product.details.ProductID}}" data-rule-ooscolor="true" data-rule-oossize="true" data-rule-oosemail="true" data-rule-oosname="true" data-msg-oosname="Please enter your name" data-msg-oosemail="Please eneter your email" data-msg-oossize="Please select a size first" data-msg-ooscolor="Please select a color first"  required />
		                    <div class="submitoos" type="submit">SUBMIT</div>
	                    {{ forms.form_close() }}
					</div>
				</div>
				<div class="end-of-modal">
					<div class="notify-text">Thank you. You will be notified when the {{ product.details.Name }} is back in stock.</div>
					<div class="cont-shop">CONTINUE SHOPPING</div>
				</div>
			</div>
		</div>
	</div>
{% endif %}