<div class="modal fade" id="video" tabindex="-1" role="dialog" aria-labelledby="videoTitle" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><img src="/images/page/80/futuristic/trendclose.png" /></span>
                </button>
                <div style="clear:both;"></div>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xs-12 text-center">
                            <div class="player">
                                <video id="video_big" controls="true">
                                    <source type="video/mp4" src="/videos/80_WWbyStellaValle.mp4">
                                </video>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>