{% set socialIconImagePathTpl = "/templates/#{controller.storeId}/images/views/blog/social/{social}.png" %}
<div class="modal fade" id="readMoreModal" tabindex="-1" role="dialog" aria-labelledby="readMoreLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="readMoreLabel">shop the look</h4>
                <h3 class="headline"></h3>
                <div class="row">
                    <div class="col-xs-5">
                        <span class="creator"></span>
                    </div>
                    <div class="col-xs-7 text-right">
                        <div class="social">
                            <span>
                                <a href="http://www.facebook.com/sharer/sharer.php?u={shareUrl}" target="_blank">
                                    <img src="{{ socialIconImagePathTpl|replace({'{social}': 'facebook'}) }}" border="0" />
                                </a>
                            </span>
                            <span>
                                <a href="http://www.twitter.com/share?url={shareUrl}" target="_blank">
                                    <img src="{{ socialIconImagePathTpl|replace({'{social}': 'twitter'}) }}" border="0" />
                                </a>
                            </span>
                            <span>
                                <a href="http://pinterest.com/pin/create/button/?url={shareUrl}&media={shareMedia}&description=" target="_blank">
                                    <img src="{{ socialIconImagePathTpl|replace({'{social}': 'pinterest'}) }}" border="0" />
                                </a>
                            </span>
                            <span>
                                <a href="http://www.facebook.com/sharer/sharer.php?u={shareUrl}" target="_blank">
                                    <img src="{{ socialIconImagePathTpl|replace({'{social}': 'link'}) }}" border="0" />
                                </a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <div class="image"></div>
                <div class="content"></div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>
