{% import "form.macros.twig" as forms %}
<div class="modal fade" id="gallery-upload" tabindex="-1" role="dialog" aria-labelledby="newsletterTitle" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <div class="close" data-dismiss="modal"><img src="/templates/156/images/close_black.png" class="close_image"><span class="sr-only">Close</span></div>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row upload-row">
                        <div class="col-xs-12 text-center">
                            <div class="upload-header">UPLOAD A PHOTO</div>
                        </div>

                        <div class="col-sm-4">
                            <div id="preview-template" style="display: none;">
                                <div class="hold-preview">
                                    <img data-dz-thumbnail />
                                </div>
                            </div>

                            <form id="my-awesome-dropzone" action="/upload" class="dropzone">
                                <div class="dz-default dz-message">
                                    <img src="/templates/80/images/choose-photo.png" data-dz-thumbnail />
                                </div>

                            </form>
                        </div>
                        <div class="col-sm-8 other-user-vals">
                            <input type="text" placeholder="NICKNAME*" name="nickname" />
                            <textarea name="description" placeholder="DESCRIPTION*"></textarea>
                        </div>
                        <div class="clear"></div>

                        <div class="col-sm-4">
                            <div class="required-field">REQUIRED*</div>
                        </div>
                        <div class="col-sm-8">
                            <div class="my-terms"><span class="agree-terms"><i class="fa fa-check-square-o" aria-hidden="true"></i></span>Yes, I agree to the terms and conditions.</div>
                        </div>
                        <div class="clear"></div>

                        <div class="col-xs-12">
                            <div class="uploading-error"></div>
                        </div>
                        <div class="clear"></div>
                        <div class="col-xs-12">
                            <div class="post-photo">POST PHOTO</div>
                            <div class="cancel-photo">CANCEL</div>
                        </div>
                        <div class="clear"></div>

                    </div>
                    <div class="row finished-row">
                        <div class="col-xs-12 text-center">
                            <div class="upload-header">THANK YOU FOR YOUR SUBMISSION, YOUR POST SHOULD BE AVAILABLE SOON.</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
