<table class="shipping">
    <tbody>
        <tr>
            <td>&nbsp;</td>
            <td>
                <input name="asmy" id="copy-billing" type="checkbox" />
                <label for="copy-billing" class="inline">Copy from Billing</label>
            </td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>
                <input id="Residential" name="Residential" type="checkbox" checked="checked"/>
                <label for="Residential" class="inline">Residential</label>
            </td>
        </tr>
        <tr style="display:none;">
            <td>company</td>
            <td>
                <input name="ship_company" type="text" />
            </td>
        </tr>
        <tr>
            <td><span class="required">*</span>first name</td>
            <td>
                <input name="ship_fname" type="text" required/>
            </td>
        </tr>
        <tr>
            <td><span class="required">*</span>last name</td>
            <td>
                <input name="ship_lname" type="text" required/>
            </td>
        </tr>
        <tr>
            <td><span class="required">*</span>address</td>
            <td>
                <input name="ship_address1" type="text" required/>
            </td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>
                <input name="ship_address2" type="text" />
            </td>
        </tr>
        <tr>
            <td><span class="required">*</span>city</td>
            <td>
                <input name="ship_city" type="text" required/>
            </td>
        </tr>
    </tbody>
</table>
