{% set baseUrl = "index.php?storeid=#{controller.getStoreId(false)}&sess=#{sessionName}&#{sessionName}=#{sessionId}" %}
<div class="container-fluid blog-container">
    <div class="row">
        {% for article in blogArticles %}
            <div class="blog-article col-xs-12 col-sm-4">
                <a class="article-preview" href="/{{ baseUrl }}&page=blogarticle&article={{ article.niceurl }}">
                    <img src="{{ article.url }}" />
                    <div class="article-hover">
                        <div class="article-info">
                            <div class="article-name">{{ article.title }}</div>
                            <div class="article-date">{{ article.date }}</div>
                        </div>
                    </div>
                </a>
            </div>

        {% endfor %}
    </div>
</div>