{% set baseUrl = "index.php?storeid=#{controller.getStoreId(false)}&sess=#{sessionName}&#{sessionName}=#{sessionId}" %}
<div class="container-fluid article-container">
    <div class="row">
    <div class="col-xs-12">
        <div class="article-nav">
            <div class="moreposts">
                <a href="/{{ baseUrl }}&page=blog">BACK TO ALL POSTS</a>

                <a href="/{{ baseUrl }}&page=blogarticle&article={{ prevArticle.niceurl }}" class="prev-article">PREVIOUS POST</a>
                <a href="/{{ baseUrl }}&page=blogarticle&article={{ nextArticle.niceurl }}">NEXT POST</a>
            </div>
        </div>
    </div>
        <div class="col-xs-12 article-html">
            <div class="col-xs-12 col-md-6 text-center article-content"><img src="{{ currentArticle.firstImage }}" /></div>
            <div class="col-xs-12 col-md-6 text-center article-content"><img src="{{ currentArticle.secondImage }}" /></div>
{% if currentArticle.thirdImage is not empty %}
	<div class="col-xs-12 col-md-6 text-center article-content"><img src="{{ currentArticle.thirdImage }}" /></div>
{% endif %}
{% if currentArticle.fourthImage is not empty %}
	<div class="col-xs-12 col-md-6 text-center article-content"><img src="{{ currentArticle.fourthImage }}" /></div>
{% endif %}
            <div class="clear"></div>
            <div class="article-date">{{ currentArticle.title }} | {{ currentArticle.date }}</div>
            <div class="col-sm-6 hidden-xs article-content">{{ currentArticle.firstHalf | raw }}</div>
            <div class="col-sm-6 hidden-xs article-content">{{ currentArticle.secondHalf | raw }}</div>
            <div class="col-xs-12 visible-xs article-content">{{ currentArticle.firstHalf | raw }}{{ currentArticle.secondHalf | raw }}</div>
        </div>
    </div>
</div>
