{% import "form.macros.twig" as forms %}
{% if session.cart.itemcount > 0 %}
<div class="container-fluid">
	<div class="row">
		<div class="pagetitle col-xs-12">Shopping Cart</div>
	</div>
</div>
{% endif %}
<div class="container-fluid cart-view-container">
        {% if session.cart.itemcount == 0 %}
            {% include "_empty_shopping_cart.twig" %}
        {% else %}
        <div class="row">
            <div class="col-xs-12">
                {% for type, messages in session.cart.messages %}
                    {% for message in messages %}
                        {% set alertTypeClass = (type == 'error') ? 'alert-danger' : 'alert-success' %}
                        <div class="alert {{ alertTypeClass }} alert-dismissible" role="alert">
                            <button type="button" class="close" data-dismiss="alert">
                                <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                            </button>
                            {{ message | raw }}
                        </div>
                    {% endfor %}
                {% endfor %}

                {% set formUrl = "index.php?page=cart_view&storeid=#{controller.getStoreId(false)}&sess=#{sessionName}&#{sessionName}=#{sessionId}" %}
                {{ forms.form_open('cart-form', 'cart-form', "#{formUrl}", 'POST') }}
                {{ forms.hidden_input('action', 'action', '') }}
                {{ forms.hidden_input('productID', 'productID', '') }}

                {% include "_cart_items_table.twig" %}

                <div class="visible-xs">
                    <table class="summary">
                        <tr>
                            <td class="total">
                                {% set discount = session.cart.coupondiscount + session.cart.purchaseddiscount %}
                                {% if discount > '.01' %}
                                    <div>
                                        <span class="bold">Discount:</span><span class="price">${{ discount|number_format(2) }}</span>
                                    </div>
                                {% endif %}
                                {% if discount < '-.01' %}
                                    <div>
                                        <span class="bold">Fee:</span><span class="price">${{ discount|abs }}</span>
                                    </div>
                                {% endif %}
                                {% if session.cart.taxes > 0 %}
                                    <div>
                                        <span class="bold">Tax:</span><span class="price">${{ session.cart.taxes()|number_format(2) }}</span>
                                    </div>
                                {% endif %}
                                {% if session.cart.totshipping > 0 %}
                                    <div>
                                        <span class="bold">Shipping:</span><span class="price">${{ session.cart.totshipping|number_format(2) }}</span>
                                    </div>
                                {% endif %}
                                <div>
                                    <span class="bold">Total:</span><span class="price">${{ session.cart.recalc_total()|number_format(2) }}</span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                {% set numAllowedPromos = 1 %}
                                <div class="cart-promos">
                                    {% for promoNum in 1..numAllowedPromos %}
                                        <div class="cart-promo">
                                            <label class="cart-promo-label">Gift Card or Promo Code:</label>
                                            <input type="text" name="promo_codes[]" />
                                            <button class="btn btn-default apply-promo">apply</button>
                                        </div>
                                    {% endfor %}
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>

                <div class="hidden-xs">
                    <table class="summary">
                        <tr>
                            <td>
                                {% set numAllowedPromos = 1 %}
                                <div class="cart-promos">
                                    {% for promoNum in 1..numAllowedPromos %}
                                        <div class="cart-promo">
                                            <label>Gift Card or Promo Code:</label>
                                            <input type="text" name="promo_codes[]" />
                                            <button class="btn btn-default apply-promo">apply</button>
                                        </div>
                                    {% endfor %}
                                </div>

                            </td>
                            <td>&nbsp;</td>
                            <td class="total">
                                {% set discount = session.cart.coupondiscount + session.cart.purchaseddiscount %}
                                {% if discount > '.01' %}
                                    <div>
                                        <span class="bold">Discount:</span><span class="price">${{ discount|number_format(2) }}</span>
                                    </div>
                                {% endif %}
                                {% if discount < '-.01' %}
                                    <div>
                                        <span class="bold">Fee:</span><span class="price">${{ discount|abs }}</span>
                                    </div>
                                {% endif %}
                                {% if session.cart.taxes > 0 %}
                                    <div>
                                        <span class="bold">Tax:</span><span class="price">${{ session.cart.taxes()|number_format(2) }}</span>
                                    </div>
                                {% endif %}
                                {% if session.cart.totshipping > 0 %}
                                    <div>
                                        <span class="bold">Shipping:</span><span class="price">${{ session.cart.totshipping|number_format(2) }}</span>
                                    </div>
                                {% endif %}
                                <div>
                                    <span class="bold">Total:</span><span class="price">${{ session.cart.recalc_total()|number_format(2) }}</span>
                                </div>
                            </td>
                        </tr>
                    </table>
               </div>

                <p class="extrainfo">Our merchandise subtotal does not yet include shipping and handling, tax, or promotional pricing offers, which will be reflected at Checkout.</p>

                <div class="cart-buttons">
                    <button class="btn btn-default checkout">checkout</button>
                    <button class="btn btn-default continue-shopping">continue shopping</button>
                    <button class="btn btn-default update hidden-xs">update QUANTITY</button>
                </div>
                {{ forms.form_close() }}
                {% endif %}
            </div>
        </div>
    </div>
</div>

<div class="row">
 <div class="col-sm-12">
<div class="yotpo yotpo-reviews-carousel" 
data-mode="top_rated" 
data-type="both" 
data-count="6" 
data-show-bottomline="1" 
data-autoplay-enabled="1" 
data-autoplay-speed="3000" 
data-show-navigation="1" 
data-header-customisation-enabled="1" 
data-header-customisation-text="" 
data-header-customisation-font-size="18" 
data-header-customisation-color="#000000" 
data-header-customisation-alignment="left" 
data-background-color="#ffffff">&nbsp;</div>
</div>
</div>
