<div class="container-fluid dynamic-container">
    <div class="row">
        <div class="col-xs-12 dynamic-title">CONTACT</div>
        <div class="col-md-6 col-xs-12">
            <div class="dynamic-content">
                <div>RETAIL | ECOMMERCE CUSTOMER SERVICE</div>
                <a href="" class="dynamic-email">STELLAVALLE@ZINDIGO.COM</a>
                <a href="" class="dynamic-phone">877.212.8450</a>
            </div>
            <div class="dynamic-content">
                <div>WHOLESALE CUSTOMER SERVICE</div>
                <a href="" class="dynamic-email">CUSTOMERSERVICE@STELLAVALLE.COM</a>
                <a href="" class="dynamic-phone">908.829.5662</a>
            </div>
        </div>
        <div class="col-md-6 col-xs-12">
            <div class="dynamic-content">
                <div>PRESS INQUIRIES</div>
                <a href="" class="dynamic-email">PRESS@STELLAVALLE.COM</a>
            </div>
            <div class="dynamic-content">
                <div>WHOLESALE INQUIRIES</div>
                <a href="" class="dynamic-email">SALES@STELLAVALLE.COM</a>
                <a href="" class="dynamic-phone">908.829.5662</a><br/>
		<div>or visit our wholesale buying portal<br/>
<a href="https://app.nuorder.com/stellavalle">https://app.nuorder.com/stellavalle</a>
</div>
            </div>
        </div>
    </div>
</div>
