<div class="container-fluid main-content">
    <div class="row" style="margin: 0 auto;padding-top:30px; padding-left: 25px; padding-right: 25px;">
        <div class="col-sm-12">
            {{ content|raw }}
        </div>
    </div>
</div>
