<div class="container-fluid gallery-container">
    <div class="row">
        <div class="share-ww">SHARE!<br/>#WomenWarriors | #BeOne</div>
        <div class="gallery-buttons">
            <a class="connect-with" href="https://www.instagram.com/womenwarriorssv/" target="_blank">@WOMENWARRIORSSV</a>
            <a href="#" data-toggle="modal" data-target="#gallery-upload" class="upload-photo">UPLOAD A PHOTO</a>
        </div>


        <div class="igposts">
            {% for ipost in posts %}
                <div class="col-xs-6 col-sm-3 igpost">
                    <div><img src="{{ ipost.image }}" /></div>
                    <div class="igfrom">{{ ipost.from }}</div>
                    <div class="ig-text">{{ ipost.caption }}</div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
