{% set baseUrl = "index.php?storeid=#{controller.getStoreId(false)}&sess=#{sessionName}&#{sessionName}=#{sessionId}" %}
<div class="row" id="slideshow">
    <div class="col-sm-12">

        <div id="home-large" class="carousel slide carousel-fade hidden-xs" data-ride="carousel">
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <a href="{{baseUrl}}&page=products&categoryId=2499&action=all">
                        <img src="/templates/{{ controller.storeId }}/images/views/home/home_slide_1.jpg" alt="Stella Valle">
                    </a>
                </div>

                <div class="item">
                    <a href="{{baseUrl}}&page=products&categoryId=2499&action=all">
                        <img src="/templates/{{ controller.storeId }}/images/views/home/home_slide_2.jpg" alt="Stella Valle">
                    </a>
                </div>

                <div class="item">
                    <a href="{{baseUrl}}&page=products&categoryId=2499&action=all">
                        <img src="/templates/{{ controller.storeId }}/images/views/home/home_slide_3.jpg" alt="Stella Valle">
                    </a>
                </div>
            </div>
            <div href="#home-large" class="left carousel-control" data-slide="prev">
                <span>
                  <img src="/templates/{{ controller.storeId }}/images/arrow-left-black.png" />
                </span>
            </div>
            <div href="#home-large" class="right carousel-control" data-slide="next">
              <span>
                <img src="/templates/{{ controller.storeId }}/images/arrow-right-black.png" />
              </span>
            </div>
            <div class="col-sm-12">
                <ol class="carousel-indicators">
                    <li data-target="#home-large" data-slide-to="0" class="active"></li>
                    <li data-target="#home-large" data-slide-to="1"></li>
                    <li data-target="#home-large" data-slide-to="2"></li>
                </ol>
            </div>
        </div>

        <div id="home-small" class="carousel slide carousel-fade visible-xs" data-ride="carousel">
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <a href="{{baseUrl}}&page=products&categoryId=2499&action=all">
                        <img src="/templates/{{ controller.storeId }}/images/views/home/sv_mobile_home_1.jpg" alt="Stella Valle">
                    </a>
                </div>

                <div class="item">
                    <a href="{{baseUrl}}&page=products&categoryId=2499&action=all">
                        <img src="/templates/{{ controller.storeId }}/images/views/home/sv_mobile_home_2.jpg" alt="Stella Valle">
                    </a>
                </div>

                <div class="item">
                    <a href="{{baseUrl}}&page=products&categoryId=2499&action=all">
                        <img src="/templates/{{ controller.storeId }}/images/views/home/sv_mobile_home_3.jpg" alt="Stella Valle">
                    </a>
                </div>
            </div>
            <div href="#home-small" class="left carousel-control" data-slide="prev">
                <span>
                  <img src="/templates/{{ controller.storeId }}/images/arrow-left-black.png" />
                </span>
            </div>
            <div href="#home-small" class="right carousel-control" data-slide="next">
              <span>
                <img src="/templates/{{ controller.storeId }}/images/arrow-right-black.png" />
              </span>
            </div>

            <div class="col-sm-12">
                <ol class="carousel-indicators">
                    <li data-target="#home-small" data-slide-to="0" class="active"></li>
                    <li data-target="#home-small" data-slide-to="1"></li>
                    <li data-target="#home-small" data-slide-to="2"></li>
                </ol>
            </div>
        </div>


    </div>
</div>

<div class="row">
    <div class="col-sm-12 instagram-spot">INSTAGRAM</div>
    {% for ipost in posts %}
        <div class="col-xs-6 col-sm-4 col-md-2 igpost"><a href="https://www.instagram.com/stellavalle/" target="_blank"><img src="{{ ipost.image }}" /></a></div>
    {% endfor %}
</div>

<div class="row">
 <div class="col-sm-12">
<div class="yotpo yotpo-reviews-carousel" 
data-mode="top_rated" 
data-type="both" 
data-count="6" 
data-show-bottomline="1" 
data-autoplay-enabled="1" 
data-autoplay-speed="3000" 
data-show-navigation="1" 
data-header-customisation-enabled="1" 
data-header-customisation-text="" 
data-header-customisation-font-size="18" 
data-header-customisation-color="#000000" 
data-header-customisation-alignment="left" 
data-background-color="#ffffff">&nbsp;</div>
</div>
</div>
