<script>
	var in_facebook = {% if session.in_facebook %}true{% else %}false{% endif %};
</script>
<div class="top-nav">
    <a href="{{ baseUrl }}&page=home" class="svlogo"><img src="/templates/{{ controller.storeId }}/images/sv_logo.png" /></a>
    <a href="{{ baseUrl }}&page=home" class="wwlogo"><img src="/templates/{{ controller.storeId }}/images/ww_logo.png" /></a>
</div>

<nav class="navbar yamm navbar-default" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>

        <div class="navbar-right-links visible-mobile-menu">
            <ul class="list-inline">
                <li><a href="{{ baseUrl }}&page=cart_view" class="shopping-bag mobilemenubag">CART ({{ session.cart.itemcount }})</a></li>
            </ul>
        </div>
    </div>


    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <div class="free-ship-banner">free shipping on orders over $100</div>
        {# <div style="position:absolute; left: 0px; right: 0px; margin: auto; width: 1px; height: 100%; background-color: red;"></div> #}
        <ul class="nav navbar-nav">
            <li class="dropdown top-drop sv-drop">
                <a href="/{{ baseUrl }}&page=products&categoryId=2432&action=all" class="dropdown-toggle topnav" data-toggle="dropdown">STELLA VALLE</a>
                <ul class="dropdown-menu top-menu">
                     <li class="dropdown dropdown-submenu">
                        <div class="row">
                            <div class="col-md-12 navcentertext">
                                <div class="maincat">
                                    <a href="#" class="dropdown-toggle cattitle" data-toggle="dropdown">SHOP</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="/{{ baseUrl }}&page=products&categoryId=2499&action=all">ALL PRODUCTS</a></li>
                                        <li><a href="/{{ baseUrl }}&page=products&categoryId=2432&action=keywords&keywords=cat_necklaces&keytitle=Necklaces">Necklaces</a></li>
                                        <li><a href="/{{ baseUrl }}&page=products&categoryId=2432&action=keywords&keywords=cat_bracelets&keytitle=Bracelets">Bracelets</a></li>
                                        <li><a href="/{{ baseUrl }}&page=products&categoryId=2432&action=keywords&keywords=cat_earrings&keytitle=Earrings">Earrings</a></li>
                                        <li><a href="/{{ baseUrl }}&page=products&categoryId=2432&action=keywords&keywords=cat_rings&keytitle=Rings">Rings</a></li>
                                    </ul>
                                </div>
                                <div class="maincat">
                                    <a href="#" class="dropdown-toggle cattitle" data-toggle="dropdown">COLLECTIONS</a>
                                    <ul class="dropdown-menu">
                                        {% for category in registry.get('svcategories') %}
                                            <li class="dropdown"><a href="/{{ baseUrl }}&page=collections&categoryId={{ category.ID }}&action=all">{{ category.Name | raw | upper}}</a></li>
                                        {% endfor %}

                                    </ul>
                                </div>

                                <div class="maincat">
                                    <a class="cattitle" href="/{{ baseUrl }}&page=story&storyid=4227">STORY</a>
                                </div>

                                <div class="maincat">
                                    <a class="cattitle" href="/{{ baseUrl }}&page=blog">BLOG</a>
                                </div>
                                <div class="maincat search-bar-nav">
                                    <div class="search-bar">
                                        {% set sformId = "nav-search-form" %}
                                        {{ forms.form_open("#{sformId}", "#{sformId}", 'index.php', 'GET') }}
                                        {{ forms.hidden_input('action', 'action', 'search') }}
                                        {{ forms.hidden_input('page', 'page', 'searchproducts') }}
                                        {{ forms.hidden_input('sess', 'sess', "#{sessionName}") }}
                                        {{ forms.hidden_input('storeid', 'storeid', "#{controller.getStoreId(false)}") }}
                                        <input type="text" placeholder="SEARCH" name="searchtext" />
                                        {{ forms.form_close() }}
                                    </div>
                                </div>

                            </div>
                        </div>
                     </li>
                </ul>
            </li>
            <li class="svnav-divider">|</li>
            <li class="dropdown top-drop">
                <a href="/{{ baseUrl }}&page=products&categoryId=2442&action=all" class="dropdown-toggle topnav" data-toggle="dropdown">WOMEN WARRIORS</a>
                <ul class="dropdown-menu top-menu">
                    <li class="dropdown dropdown-submenu">
                        <div class="row">
                            <div class="col-md-12 navcentertext">
                                <div class="maincat">
                                    <a href="#" class="dropdown-toggle cattitle" data-toggle="dropdown">SHOP</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="/{{ baseUrl }}&page=products&categoryId=2500&action=all">ALL PRODUCTS</a></li>
                                        <li><a href="/{{ baseUrl }}&page=products&categoryId=2442&action=keywords&keywords=cat_necklaces&keytitle=Necklaces">Necklaces</a></li>
                                        <li><a href="/{{ baseUrl }}&page=products&categoryId=2442&action=keywords&keywords=cat_bracelets&keytitle=Bracelets">Bracelets</a></li>
                                        <li><a href="/{{ baseUrl }}&page=products&categoryId=2442&action=keywords&keywords=cat_earrings&keytitle=Earrings">Earrings</a></li>
                                        <li><a href="/{{ baseUrl }}&page=products&categoryId=2442&action=keywords&keywords=cat_rings&keytitle=Rings">Rings</a></li>
                                    </ul>
                                </div>
                                <div class="maincat">
                                    <a href="#" class="dropdown-toggle cattitle" data-toggle="dropdown">COLLECTIONS</a>
                                    <ul class="dropdown-menu">
                                        {% for category in registry.get('wwcategories') %}
                                            <li class="dropdown"><a href="/{{ baseUrl }}&page=warriorcollections&categoryId={{ category.ID }}&action=all">{{ category.Name | raw | upper}}</a></li>
                                        {% endfor %}
                                    </ul>
                                </div>

                                <div class="maincat">
                                    <a class="cattitle" href="/{{ baseUrl }}&page=warriorstory&storyid=4227">STORY</a>
                                </div>

                                <div class="maincat">
                                    <a class="cattitle" href="/{{ baseUrl }}&page=gallery">SHARE</a>
                                </div>

                                <div class="maincat">
                                    <a class="cattitle" href="/{{ baseUrl }}&page=blog&subsec=ww">BLOG</a>
                                </div>

                                <div class="maincat search-bar-nav">
                                    <div class="search-bar">
                                        {% set sformId = "nav-search-forms" %}
                                        {{ forms.form_open("#{sformId}", "#{sformId}", 'index.php', 'GET') }}
                                        {{ forms.hidden_input('action', 'action', 'search') }}
                                        {{ forms.hidden_input('page', 'page', 'searchproducts') }}
                                        {{ forms.hidden_input('sess', 'sess', "#{sessionName}") }}
                                        {{ forms.hidden_input('storeid', 'storeid', "#{controller.getStoreId(false)}") }}
                                        <input type="text" placeholder="SEARCH" name="searchtext" />
                                        {{ forms.form_close() }}
                                    </div>
                                </div>

                            </div>
                        </div>
                    </li>
                </ul>
            </li>

        </ul>
        <a class="shop-bag-nav" href="{{ baseUrl }}&page=cart_view">CART ({{ session.cart.itemcount }})</a>
    </div><!-- /.navbar-collapse -->
</nav>
