{% import "form.macros.twig" as forms %}
<div class="container-fluid" style="margin-top:30px;">
    <div class="row">
        <div class="col-xs-12">
            <div class="row">
                <div class="presslideshow">

                </div>
            </div>
        </div>
    </div>
</div>

{{ forms.hidden_input('subsection', 'subsection', "#{subsection}") }}