{% import "form.macros.twig" as forms %}
{% set productUrlTpl = "index.php?storeid=#{controller.getStoreId(false)}&page=product&prodid={productId}&sess=#{sessionName}=#{sessionName}=#{sessionId}" %}
{% include "_modal_outofstock.twig" %}


<div class="container-fluid">
    <div class="row toolbar">
        <div class="col-lg-11 col-xs-6">
            <a href="#" class="back">BACK</a>
        </div>
        <div class="col-lg-1 col-xs-6 text-right">
            {% if previousProductId is not empty %}
                <span><a href="{{ productUrlTpl|replace({'{productId}': previousProductId}) }}" class="prev"><i class="fa fa-chevron-left"></i>PREV</a></span>
            {% endif %}

            {% if nextProductId is not empty %}
                <span><a href="{{ productUrlTpl|replace({'{productId}': nextProductId}) }}" class="next">NEXT<i class="fa fa-chevron-right"></i></a></span>
            {% endif %}
        </div>
    </div>
    <div class="row product">
        {{ forms.hidden_input('inventory', 'inventory', "#{product.inventory|json_encode()}") }}

        {% set formId = "add-product" %}
        {{ forms.form_open("#{formId}", "#{formId}", 'index.php', 'GET') }}
        {{ forms.hidden_input('page', 'page', 'cart_add') }}
        {{ forms.hidden_input('productID', 'productID', "#{product.details.ProductID}") }}
        {{ forms.hidden_input('sess', 'sess', "#{sessionName}") }}
        {{ forms.hidden_input('storeid', 'storeid', "#{controller.getStoreId(false)}") }}
        {% if (ostoreid is not empty) %}
            {{ forms.hidden_input('ostoreid', 'ostoreid', "#{ostoreid}") }}
        {% endif %}

        <div class="col-sm-7 col-xs-12 text-center image">
            <div class="visible-xs">
                <img class="large-product-image" src="{{ product.images.LargePath }}" border="0"/>
            </div>
            <div class="hidden-xs"  id="big-image">
                <a href="{{ product.images.LargePath }}" id="large-product-image" class="cloud-zoom" rel="softFocus: 1, position: 'inside', adjustX: 0, adjustY: 0, zoomWidth: 'auto', zoomHeight: 'auto', tinyOpacity: 0, lensOpacity: 1">
                    <img src="{{ product.images.ImagePath }}" border="0"/>
                </a>
                {% if (product.details.Custom == 1) %}
                <div class="preorder-label">PRE ORDER</div>
                {% endif %}
            </div>


            {% if product.alternateImages %}

            <div class="detail alternate-views hidden-xs">
                <div class="row" style="padding:0 0 0 44px;">
                    <div class="col-lg-2 col-xs-3" style="margin-top:22px;">
                        <a class="cloud-zoom-gallery" rel="useZoom: 'large-product-image', smallImage: '{{ product.images.LargePath }}'">
                            <img data-large="{{ product.images.LargePath }}" src="{{ product.images.ImagePath }}" border="0" />
                        </a>
                    </div>
                    {% for image in product.alternateImages %}
                        <div class="col-lg-2 col-xs-3" style="margin-top:22px;">
                            <a class="cloud-zoom-gallery" rel="useZoom: 'large-product-image', smallImage: '{{ image.LargePath }}'">
                                <img data-large="{{ image.LargePath }}" src="{{ image.ImagePath }}" border="0" />
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>

            <div class="detail alternate-views visible-xs">
                <div class="row">
                    <div class="col-lg-2 col-xs-3">
                        <a class="alternate-view-gallery">
                            <img data-large="{{ product.images.LargePath }}" src="{{ product.images.ImagePath }}" border="0" />
                        </a>
                    </div>
                    {% for image in product.alternateImages %}
                    <div class="col-lg-2 col-xs-3">
                        <a class="alternate-view-gallery">
                            <img data-large="{{ image.LargePath }}" src="{{ image.ImagePath }}" border="0" />
                        </a>
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% endif %}
        </div>

        <div class="col-sm-5 col-xs-12 details">
            <div class="detail product_name">
                <h5>{{ product.details.Name }}</h5>
            </div>
            <div class="detail product_price">
                <h5>
                    {% if product.details.OrigPrice != product.details.StorePrice %}
                        <span class="origprice">${{ product.details.OrigPrice|number_format(0) }}</span>
                        <span class="saleprice">${{ product.details.StorePrice|number_format(0) }}</span>
                    {% else %}
                        <span class="price">${{ product.details.StorePrice|number_format(0) }}</span>
                    {% endif %}
                    {% if product.details.FinalSale is not empty and product.details.FinalSale == 1  %}
                        <span class="final-sale"><img src="/templates/{{controller.getStoreId(false)}}/images/final_sale_retina.png" /></span>
                    {% endif %}
                </h5>
            </div>
            <div class="yotpo-review-stars">
                <div class="yotpo bottomLine"
                     data-appkey="eB4LY0YiIwVF6qw2QE3RDvH5ekX1yDPoQE58z9jD"
                     data-domain="stellavalle.com"
                     data-product-id="{{ product.details.ProductID }}"
                     data-name="{{ product.details.Name }}"
                     data-url="{{ baseURL|url_encode }}"
                     data-image-url="{{ product.images.LargePath }}"
                     data-description="{{ product.details.Description|raw|striptags|url_encode }}">
                </div>
            </div>

            <div class="detail size-and-color">
                {% if product.properties.color.options is not empty %}
                <div class="row cart_values">
                    <div class="val-selector">
						<select name="Color">
                            {% if product.properties.color.options|length > 1 %}
							<option value="">COLOR</option>
                            {%  endif %}
							{% for color, colorData in product.properties.color.options if colorData.Qty %}
								<option value="{{ colorData.ID }}">{{ color|title }}</option>
							{% endfor %}
						</select>
						<div class="prodvalcont">
							<div class="valtext">COLOR</div>
							<div class="valarrow"></div>
							<div class="clear"></div>
						</div>
						<div class="valoptions" style="display: none;">
                            {% if product.properties.color.options|length > 1 %}
							<div class="suboption suboptionpr">COLOR<input type="hidden" value=""></div>
                            {%  endif %}
							{% for color, colorData in product.properties.color.options if colorData.Qty %}
								<div class="suboption suboptionpr">{{ color|title }}<input type="hidden" value="{{ colorData.ID }}"></div>
							{% endfor %}
						</div>
					</div>
				</div>
                {% endif %}

                {% if product.properties.size.options is not empty %}
                    <div class="row cart_values">
                        <div class="val-selector">
                            <select name="Size">
                                <option value="">SIZE</option>
                                {% for size, sizeData in product.properties.size.options %}
                                    <option value="{{ sizeData.ID }}">{{ size|upper }}</option>
                                {% endfor %}
                            </select>
                            <div class="prodvalcont">
                                <div class="valtext">SIZE</div>
                                <div class="valarrow"></div>
                                <div class="clear"></div>
                            </div>
                            <div class="valoptions" style="display: none;">
                                <div class="suboption suboptionpr">SIZE<input type="hidden" value=""></div>
                                {% for size, sizeData in product.properties.size.options %}
                                    <div class="suboption suboptionpr">{{ size|upper }}<input type="hidden" value="{{ sizeData.ID }}"></div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                {% endif %}
                
                {% if product.details.Customizable == 1 %}
                <div class="row">
                    <div class="col-xs-12">
                        <div class="customization">
                            <input type="text" name="CustomComments" id="CustomComments" class="customization_field" required/>
                            <span class="pd-sizechart visible-sm visible-lg visible-md"><a href="javascript:void(0)" style="color:#000; cursor: default; text-decoration: none !important;width:100%;!important;">{{ product.details.CustomPrompt }}</a></span>
                        </div>
                    </div>
                </div>
                {% endif %}

				<div class="row cart_values">

                    <div class="col-xs-12">
                        <div class="qty">
                            <div class="selector">
                                <input type="text" name="qty" data-rule-quantity="true" data-rule-color="true" data-rule-size="true" data-rule-finish="true" data-msg-size="Please select a size first" data-msg-color="Please select a color first" data-msg-finish="Please select a finish first" data-msg-quantity="We are out of stock for that color/size combination" data-msg-required="Please specify how many you would like to purchase" placeholder="QUANTITY" value="1" required/>
                                <!-- <span class="pd-sizechart visible-sm visible-lg visible-md"><a href="javascript:void(0)" style="color:#000; cursor: default; text-decoration: none !important;width:100%;!important;">QUANTITY</a></span>
                                <div class="hidden-sm hidden-lg hidden-md quantity_mobile">QUANTITY</div> -->
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
            {% if (product.details.Custom == 1) %}
                <div class="detail hidden-xs detailbuttonholder">
                    <button class="btn btn-default add" type="submit">pre order</button>
                </div>
                <div class="detail visible-xs detailbuttonholder">
                    <button class="btn btn-default add" type="submit">pre order</button>
                </div>
            {% else %}
            <div class="detail hidden-xs detailbuttonholder">
                <button class="btn btn-default add" type="submit">add to bag</button>
            </div>
            <div class="detail visible-xs detailbuttonholder">
                <button class="btn btn-default add" type="submit">add to bag</button>
            </div>
            {% endif %}

            {# PROD DETAILS #}
            <div class="detail">
                <div class="proddescription_title" data-toggle="collapse" data-target="#proddescription">DESCRIPTION</div>
                <div class="proddescription collapse in" id="proddescription">
                    {% autoescape false %}
                        {{ product.details.Description|raw }}
                    {% endautoescape %}
                </div>
            </div>

            {# SHIPPING #}
            <div class="detail">
                <div class="proddescription_title collapsed" data-toggle="collapse" data-target="#prodship">SHIPPING</div>
                <div class="proddescription collapse" id="prodship">
                    {% if (product.details.Custom == 1) %}
                        <span style="color:#990033;">This is a pre order and your credit card will be charged the full amount at the time of checkout.</span><br/><br/>
                    {% endif %}
                    <div>This item will ship in {{ product.details.Ships }} business days. Please see our <a href="index.php?storeid={{ controller.getStoreId(false) }}&page=returns&sess={{ sessionName }}&{{ sessionName }}={{ sessionId }}">shipping and delivery</a> guidelines for more information on our shipping services.</div>
                </div>
            </div>

            {# RETURNS #}
            <div class="detail">
                <div class="proddescription_title collapsed" data-toggle="collapse" data-target="#prodreturn">RETURNS</div>
                <div class="proddescription collapse" id="prodreturn">
                    <div>Returns must be shipped to Stella Valle within 14 days from the date received. All merchandise must be unworn in sellable condition with all packaging. Please see our <a href="index.php?storeid={{ controller.getStoreId(false) }}&page=returns&sess={{ sessionName }}&{{ sessionName }}={{ sessionId }}">return guidelines</a> for more information on our complete return policy.</div>
                </div>
            </div>

            {# ASSISTANCE #}
            <div class="detail">
                <div class="proddescription_title collapsed" data-toggle="collapse" data-target="#prodassistance">NEED ASSISTANCE?</div>
                <div class="proddescription collapse" id="prodassistance">
                    <div>We are happy to help answer any questions to make your shopping experience with Stella Valle as enjoyable as possible. Please contact our customer service by phone at <a href="tel:18772128450">1-877-212-8450</a> (9am to 5pm EST Monday-Friday) or by email at <a href="mailto:stellavalle@zindigo.com">STELLAVALLE@ZINDIGO.COM</a> (9am to 5pm EST Monday-Friday)</div>
                </div>
            </div>

            <div class="detail sharethis">
                <div class="row share">
                    <div class="col-md-12">
                        <div class="custom-prod-dtl-socials">
                            <div class="social-block">
                                <div class='button-container topspace' style='margin-top: 3px;margin-right:25px;font-size:13px;line-height: 27px;width: 40px;'>SHARE</div>
                                <div class='button-container topspace' style='margin-top: 3px;margin-right:8px;'><a target='_top' href="{{ socialUrls.facebook }}"><i class="fa fa-facebook-square"></i></a></div>
                                <div class='button-container topspace' style='margin-top: 3px;margin-right:8px;'><a target='_top' href="{{ socialUrls.twitter }}"><i class="fa fa-twitter-square"></i></a></div>
<div class='button-container topspace' style='margin-top: 3px;margin-right:8px;'><a target='_top' href="{{ socialUrls.pinterest }}"><i class="fa fa-pinterest-square"></i></a></div>
                                <div class='button-container'><a style="cursor:pointer !important;" id="prod-btn-share"><img src='/images/share_icon_retina.png' style="width: 22px !important; height: 24px !important;"></a></div>
                                <div class='reset'></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div>
                <div class="yotpo yotpo-main-widget"
                     data-product-id="{{ product.details.ProductID }}"
                     data-name="{{ product.details.Name }}"
                     data-url="{{ baseURL|url_encode }}"
                     data-image-url="{{ product.images.LargePath }}"
                     data-description="{{ product.details.Description|raw|striptags }}">
                </div>
            </div>

            <div class="detail visible-xs products_youlike">
                <h5 class="lovespace"><span>SIMILAR PRODUCTS</span></h5>
                <div class="row">
                    {% for product in youMayAlsoLikeProducts %}
                        <div class="col-sm-3 col-xs-6">
                            <a href="index.php?storeid={{ controller.getStoreId(false) }}&page=product&prodid={{ product.ProductID }}&sess={{ sessionName }}&{{ sessionName }}={{ sessionId }}">
                                <img src="{{ product.ImagePath }}" border="0" />
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        
        {{ forms.form_close() }}
    </div>
    <div class="row youlllove hidden-xs">
        <div class="col-xs-12 similarprods">SIMILAR PRODUCTS</div>
        <div class="col-xs-12">
            <div class="row">
                {% for product in youMayAlsoLikeProducts %}
                    <div class="col-lg-3 col-xs-3 youlllove_product">
                        <a href="index.php?storeid={{ controller.getStoreId(false) }}&page=product&prodid={{ product.ProductID }}&sess={{ sessionName }}&{{ sessionName }}={{ sessionId }}">
                            <img src="{{ product.ImagePath }}" border="0" />
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% set vars = {'product': product,'socialUrls':socialUrls,'uniquename': uniquename,'papuserid':papuserid} %}
{% include "_modal_share.twig" with product %}
