{% import "form.macros.twig" as forms %}

{% set replace_space = ' ' %}
{% set replace_slash = '/' %}
{% set replace_dot = '.' %}
{% set replace_space_underscore = '_' %}
{% set replace_space_dash = '-' %}

{% set baseUrl = "index.php?storeid=#{controller.getStoreId(false)}&sess=#{sessionName}&" %}

{% if (registry.get('ZindigoShops') is not empty) %}
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<style>
    .addtolb-icon {
        text-align: center;
        font-size: 14px;
        cursor: pointer;
        padding: 6px 0px;
    }

    .addtolb-icon:before {
        font-family: 'FontAwesome';
        content: "\f08a";
    }

    .addtolb-icon.liked:before {
        font-family: 'FontAwesome';
        content: "\f004";
    }

    .phover{
    	bottom: 80px !important;
    }
</style>
<script type="text/javascript" src="/js/helpers/lookbookHelper.js"></script>
{%  endif %}

{# WE NEED TO MAKE THE SELECTION INTO A HELPER #}
<div class="container-fluid sort-cont">
	<div class="row">

        <div class="col-xs-12 col-sm-4 sortingby-page">
            <div class="pagination">
                <div class="holder"></div>
            </div>
        </div>

		<div class="col-xs-12 col-sm-8 sortingby">

            <input type="hidden" name="baseurl" id="baseurl" value="{{baseUrl}}">
            {# IPP #}
            <span class="sortby"><span>ITEMS PER PAGE</span></span>
            <div class="val-selector sort-selector">
                <select name="items-to-show">
                    <option value="12">12</option>
                    <option value="24" selected>24</option>
                    <option value="48">48</option>
                    <option value="999">ALL</option>
                </select>
                <div class="prodvalcont">
                    <div class="valtext">24</div>
                    <div class="valarrow"></div>
                    <div class="clear"></div>
                </div>
                <div class="valoptions" style="display: none;">
                    <div class="suboption suboptionpr">12<input type="hidden" value="12"></div>
                    <div class="suboption suboptionpr">24<input type="hidden" value="24"></div>
                    <div class="suboption suboptionpr">48<input type="hidden" value="48"></div>
                    <div class="suboption suboptionpr">ALL<input type="hidden" value="999"></div>
                </div>
            </div>
            {# END IPP #}

            {# SORTBY #}
            <span class="sortby"><span>Sort by</span></span>
            <div class="val-selector sort-selector">
                <select name="sorter">
                    <option value="default" selected>recommended</option>
                    <option value="price:asc">Price Low-High</option>
                    <option value="price:desc">Price High-Low</option>
                </select>
                <div class="prodvalcont">
                    <div class="valtext">recommended</div>
                    <div class="valarrow"></div>
                    <div class="clear"></div>
                </div>
                <div class="valoptions" style="display: none;">
                    <div class="suboption suboptionpr">Recommended<input type="hidden" value="default"></div>
                    <div class="suboption suboptionpr">Price Low-High<input type="hidden" value="price:asc"></div>
                    <div class="suboption suboptionpr">Price High-Low<input type="hidden" value="price:desc"></div>
                </div>
            </div>
            {# END SORTBY #}
			<div style="clear:both;"></div>
		</div>
		<div style="clear:both;"></div>

	</div>
</div>

<div class="container-fluid">
    <div class="row" id="products-container">
        <div id="status"></div>
        {{ forms.display_preloader() }}
        <div class="products" id="Container"></div>
    </div>
</div>
<div style="clear:both;"></div>
        <div class="col-xs-12 sortingby-page">
            <div class="pagination">
                <div class="holder"></div>
            </div>
        </div>
		
<div style="clear:both;"></div>
<script id="product-template" type="text/js-render">
   {{" {{if ~Number(StorePrice) < ~Number(OrigPrice) }} "}}
			<div class="product col-lg-3 col-md-4 col-sm-6 col-xs-12 mix" data-price="{{ "{{>StorePrice}}" }}">
	 {{" {{else}} "}}
			<div class="product col-lg-3 col-md-4 col-sm-6 col-xs-12 mix" data-price="{{ "{{>OrigPrice}}" }}">
	{{" {{/if}} "}}
    	<div>

	        <a href="index.php?storeid={{ "#{controller.getStoreId(false)}" }}&page=product&prodid={{ "{{:ProductID}}" }}&sess={{ "#{sessionName}" }}&{{ "#{sessionName}" }}={{ "#{sessionId}" }}{{ categoryId ? '&categoryId='~categoryId : '' }}">
	        	<img class="product_image" alt="{{ "{{>ProductName}}" }}" src="{{"{{>ImagePath}}" }}" {{"{{if AltImagePath && AltImagePath.length}}"}} data-valueover="/{{"{{>AltImagePath}}" }}"  data-valueout="/{{"{{>ImagePath}}" }}" {{"{{/if}}"}} />
	        </a>
	        <input type="hidden" value="{{ "{{>yourls}}" }}" name="yourls" />
	        <div class="phover">
	        	<a href="index.php?storeid={{ "#{controller.getStoreId(false)}" }}&page=product&prodid={{ "{{:ProductID}}" }}&sess={{ "#{sessionName}" }}&{{ "#{sessionName}" }}={{ "#{sessionId}" }}{{ categoryId ? '&categoryId='~categoryId : '' }}">
	        	    <div>{{ "{{:~Truncate(ProductName, 60)}}" }}<br/>
                    {{" {{if ~Number(StorePrice) < ~Number(OrigPrice)}} "}}
                            <span class='origprice'>${{ "{{:~round(OrigPrice)}}" }}</span>
                            <span class='saleprice'>${{ "{{:~round(StorePrice)}}" }}</span>
                    {{" {{else}} "}}
                        <span class="price">${{ "{{:~round(StorePrice)}}" }}</span>
                    {{" {{/if}} "}}

<div class="yotpo bottomLine"
data-appkey="eB4LY0YiIwVF6qw2QE3RDvH5ekX1yDPoQE58z9jD"
data-domain="stellavalle.com"
data-product-id="{{ "{{:ProductID}}" }}"
data-product-models=""
data-name="{{ "{{>ProductName}}" }}"
data-url="stellavalle.com/index.php?storeid={{ "#{controller.getStoreId(false)}" }}&page=product&prodid={{ "{{:ProductID}}" }}&sess={{ "#{sessionName}" }}&{{ "#{sessionName}" }}={{ "#{sessionId}" }}{{ categoryId ? '&categoryId='~categoryId : '' }}"
data-description=""
data-bread-crumbs="">
</div>

                    </div>
	        	</a>
			</div>

    	</div>
    </div>
</script>

{{ forms.hidden_input('storeid', 'storeid', "#{controller.getStoreId()}") }}
{{ forms.hidden_input('action', 'action', "#{action}") }}
{{ forms.hidden_input('keywords', 'keywords', "#{keywords}") }}
{{ forms.hidden_input('catid', 'catid', "#{categoryId}") }}
{{ forms.hidden_input('share-app-id', 'share-app-id', "#{sharedAppId}") }}
{{ forms.hidden_input('share-agent-id', 'share-agent-id', "#{sharedAgentId}") }}
{{ forms.hidden_input('brand-url', 'brand-url', "#{brandSiteUrl}") }}
{{ forms.hidden_input('searchword', 'searchword', "#{searchword}") }}

