{% import "form.macros.twig" as forms %}
{% include "_page_title.twig" %}
{% set baseUrl = "index.php?storeid=#{controller.getStoreId(false)}&sess=#{sessionName}&#{sessionName}=#{sessionId}" %}
<div class="container-fluid purchase-container">
    {% if session.cart.itemcount == 0 %}
        {% include "_empty_shopping_cart.twig" %}
    {% else %}
        <div class="row">
            <div class="col-xs-12">
                {% set formUrl = "index.php?page=purchase_now&storeid=#{controller.storeId}&sess=#{sessionName}&#{sessionName}=#{sessionId}" %}
                {{ forms.form_open('billing-form', 'billing-form', "#{formUrl}", 'POST') }}
                {{ forms.hidden_input('billing-address-id', 'billing-address-id', "#{ billingAddressId }") }}
                {{ forms.hidden_input('sess', 'sess', "#{sessionName}") }}
                {{ forms.hidden_input('form', 'form', 'send') }}
                {{ forms.hidden_input('selectAddress', 'selectAddress', '') }}
                <div class="col-sm-6 col-xs-12 left">
                    {% include "_billing_table_left.twig" %}
                    {% include "_shipping_table_left.twig" %}
                </div>
                <div class="col-sm-6 col-xs-12 right">
                    {% include "_billing_table_right.twig" %}
                    {% include "_shipping_table_right.twig" %}
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-xs-12 extrainfo">&nbsp;</div>
        </div>
        
        <div class="row">
            <div class="col-xs-12 cart-buttons text-right hidden-xs">
                <button class="btn btn-default prev" rel="{{baseUrl}}&page=cart_view">back</button>
                <button type="submit" class="btn btn-default next">next</button>
            </div>
            <div class="col-xs-12 cart-buttons text-right visible-xs">
                <button type="submit" class="btn btn-default next">next</button>
                <button class="btn btn-default prev" rel="{{baseUrl}}&page=cart_view">back</button>
                
            </div>
        </div>
        {{ forms.form_close() }}
    {% endif %}
</div>