<div class="container-fluid thankspadding">
    <div class="row printable">
        <div class="col-xs-12">
            <table class="order-details">
                <tr>
                    <td class="text-left">
                        <p>
                            <span>Order Number:</span>
                            <span>{{ orderDetails.OrderNum }}</span>
                        </p>
                        <p>
                            <span>Order Date:</span>
                            <span>{{ "now"|date("m/d/Y") }}</span>
                        </p>
                    </td>
                </tr>
            </table>
            <table class="header">
                <thead>
                    <th class="image">image</th>
				    <th class="description">description</th>
				    <th class="quantity">quantity</th>
				    <th class="price">price</th>
					<th class="delivery">est. delivery date</th>
                </thead>
                <tbody>
                {% for cartItem in registry.get('cartItems') %}
                    {% spaceless %}
                        <tr>
                            <td class="image">
                                <img src="{{ cartItem.image }}" />
                                <input type="hidden" name="id[]" value="{{ cartItem.itemKey }}"/>
                            </td>
                            <td class="description">
                                <span>{{ cartItem.details.get_name()|title }}</span>
                            </td>
                            <td class="quantity">
                                <span>{{ cartItem.details.get_qty() }}</span>
                            </td>
                            <td class="price">
                                <span>${{ cartItem.details.get_price()|number_format(2) }}</span>
                            </td>
                            <td class="delivery">
                                <span>{{ cartItem.details.estdeliverydate() }}</span>
                            </td>
                        </tr>
                    {% endspaceless %}
                {% endfor %}
                </tbody>
            </table>

            <div class="visible-xs">
                <table class="summary">
                    <tr class="header">
                        <td>
                           Bill To:
                        </td>
                        <td>
                            Ship To:
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="address">
                                <ul>
                                    <li>{{ session.orderinfo.fname|title }} {{ session.orderinfo.lname|title }}</li>
                                    {% if session.orderinfo.company is not empty %}
                                        <li>{{ session.orderinfo.company|title }}</li>
                                    {% endif %}
                                    <li>{{ session.orderinfo.address|title }}</li>
                                    {% if session.orderinfo.address2 is not empty %}
                                        <li>{{ session.orderinfo.address2|title }}</li>
                                    {% endif %}
                                    <li>{{ session.orderinfo.city|title }}, {{ session.orderinfo.state|title }}, {{ session.orderinfo.zipcode }}</li>
                                    {% if session.orderinfo.country|lower != 'us' %}
                                        <li>{{ session.orderinfo.country|upper }}</li>
                                    {% endif %}
                                </ul>
                            </div>
                        </td>
                        <td>
                            <div class="address">
                                <ul>
                                    <li>{{ session.orderinfo.ship_fname|title }} {{ session.orderinfo.ship_lname|title }}</li>
                                    {% if session.orderinfo.company is not empty %}
                                        <li>{{ session.orderinfo.company|title }}</li>
                                    {% endif %}
                                    <li>{{ session.orderinfo.ship_address1|title }}</li>
                                    {% if session.orderinfo.ship_address2 is not empty %}
                                        <li>{{ session.orderinfo.ship_address2|title }}</li>
                                    {% endif %}
                                    <li>{{ session.orderinfo.ship_city|title }}, {{ session.orderinfo.ship_state|title }}, {{ session.orderinfo.ship_zip }}</li>
                                    {% if session.orderinfo.ship_country|lower != 'us' %}
                                        <li>{{ session.orderinfo.ship_country|upper }}</li>
                                    {% endif %}
                                </ul>
                            </div>
                        </td>
                    </tr>
                    <tr class="header">
                        <td colspan="2">
                            Order Summary
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" class="total">
                            <ul>
                                <li><span>Sub-total:</span> <span>${{ session.cart.total|number_format(2) }}</span></li>
                                <li><span>Tax:</span> <span>${{ session.cart.salestaxes|number_format(2) }}</span></li>
                                <li><span>Shipping:</span> <span>${{ session.cart.totshipping|number_format(2) }}</span></li>
                                {% if orderDetails.Discount > 0 %}
                                    <li><span>Discount:</span> <span>${{ orderDetails.Discount|number_format(2) }}</span></li>
                                {% endif %}
                                <li><span>Total:</span> <span>${{ orderDetails.CCAmount|number_format(2) }}</span></li>
                            </ul>
                        </td>
                    </tr>
                </table>
            </div>

			<div class="hidden-xs">
                <table class="summary">
                    <tr>
                        <td>Bill To:</td>
                        <td>
                            <div class="address">
                                <ul>
                                    <li>{{ session.orderinfo.fname|title }} {{ session.orderinfo.lname|title }}</li>
                                    {% if session.orderinfo.company is not empty %}
                                        <li>{{ session.orderinfo.company|title }}</li>
                                    {% endif %}
                                    <li>{{ session.orderinfo.address|title }}</li>
                                    {% if session.orderinfo.address2 is not empty %}
                                        <li>{{ session.orderinfo.address2|title }}</li>
                                    {% endif %}
                                    <li>{{ session.orderinfo.city|title }}, {{ session.orderinfo.state|title }}, {{ session.orderinfo.zipcode }}</li>
                                    {% if session.orderinfo.country|lower != 'us' %}
                                        <li>{{ session.orderinfo.country|upper }}</li>
                                    {% endif %}
                                </ul>
                            </div>
                        </td>
                        <td>Ship To:</td>
                        <td>
                            <div class="address">
                                <ul>
                                    <li>{{ session.orderinfo.ship_fname|title }} {{ session.orderinfo.ship_lname|title }}</li>
                                    {% if session.orderinfo.company is not empty %}
                                        <li>{{ session.orderinfo.company|title }}</li>
                                    {% endif %}
                                    <li>{{ session.orderinfo.ship_address1|title }}</li>
                                    {% if session.orderinfo.ship_address2 is not empty %}
                                        <li>{{ session.orderinfo.ship_address2|title }}</li>
                                    {% endif %}
                                    <li>{{ session.orderinfo.ship_city|title }}, {{ session.orderinfo.ship_state|title }}, {{ session.orderinfo.ship_zip }}</li>
                                    {% if session.orderinfo.ship_country|lower != 'us' %}
                                        <li>{{ session.orderinfo.ship_country|upper }}</li>
                                    {% endif %}
                                </ul>
                            </div>
                        </td>
                        <td class="total">
                            <ul>
                                <li><span>Sub-total:</span> <span>${{ session.cart.total|number_format(2) }}</span></li>
                                <li><span>Tax:</span> <span>${{ session.cart.salestaxes|number_format(2) }}</span></li>
                                <li><span>Shipping:</span> <span>${{ session.cart.totshipping|number_format(2) }}</span></li>
                                {% if orderDetails.Discount > 0 %}
                                    <li><span>Discount:</span> <span>${{ orderDetails.Discount|number_format(2) }}</span></li>
                                {% endif %}
                                <li><span>Total:</span> <span>${{ orderDetails.CCAmount|number_format(2) }}</span></li>
                            </ul>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 text-right">
            <button class="btn btn-stateless-active print">Print this page</button>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function() {
        {% if(registry.get('gacid')) is not empty %}
        ga('send', 'event', 'emailpurchase', '{{ orderDetails.OrderNum }}', '{{ registry.get('gacid') }}', {{ orderDetails.CCAmount|number_format(2) }});
        {% endif %}

        ga('require', 'ecommerce', 'ecommerce.js');
        ga('ecommerce:addTransaction', {
            'id': '{{ orderDetails.OrderNum }}',
            'affiliation': 'stellavalle.com',
            'revenue': '{{ orderDetails.CCAmount|number_format(2) }}',
            'shipping': '{{ session.cart.totshipping|number_format(2) }}',
            'tax': '{{ session.cart.salestaxes|number_format(2) }}'
        });
        {% for cartItem in registry.get('cartItems') %}
        ga('ecommerce:addItem', {
            'id': '{{ cartItem.details.get_id() }}',
            'name': '{{ cartItem.details.get_name() }}',
            'sku': '{{ cartItem.itemKey|escape('js') }}',
            'category': '',
            'price': '{{ cartItem.details.get_price()}}',
            'quantity': '{{ cartItem.details.get_qty() }}'
        });
        {% endfor %}
        ga('ecommerce:send');
    });
</script>

<img src="http://shareasale.com/sale.cfm?amount={{ orderDetails.CCAmount|number_format(2) }}&tracking={{ orderDetails.OrderNum }}&transtype=sale&merchantID=61619" width="1" height="1">
<img src="http://api.yotpo.com/conversion_tracking.gif?order_amount={{ orderDetails.CCAmount|number_format(2) }}&order_id={{ orderDetails.OrderNum }}&order_currency=USD&app_key=eB4LY0YiIwVF6qw2QE3RDvH5ekX1yDPoQE58z9jD" width="1" height="1">