{% import "form.macros.twig" as forms %}
{% include "_page_title.twig" %}
{% set baseUrl = "index.php?storeid=#{controller.getStoreId(false)}&sess=#{sessionName}&#{sessionName}=#{sessionId}" %}
<div class="container-fluid">
    {% set formUrl = "index.php?page=shipping_confirmation&storeid=#{controller.storeId}&sess=#{sessionName}&#{sessionName}=#{sessionId}" %}
    {{ forms.form_open('billing-form', 'billing-form', "#{formUrl}", 'POST') }}
    {{ forms.hidden_input('sess', 'sess', "#{sessionName}") }}
    {{ forms.hidden_input('form', 'form', 'send') }}
    <div class="row">
        <div class="col-xs-12">
            <table>
                {% if not isValidShippingAddress %}
                    <tr>
                        <td colspan="3" align="center">
                            <p>We're sorry, but we cannot ship to that address. Please go back and try entering a different address.</p>
                        </td>
                    </tr>
                {% else %}
                    {% for vendorId, shippingVendors in session.cart.shipping() %}
                        {% for vendor in shippingVendors %}
							<tr>
							{% if vendor.ShipAmount is not empty %} 
                                <td class="radiorow"><input type="radio" {{ loop.first ? 'checked' }} name="shipmethod[{{ vendorId }}]" value="{{ vendor.servicecode }}:{{ vendor.ShipAmount }}:{{ vendor.transittime }}" /></td>
                                <td class="servicerow">{{ vendor.ServiceName }}</td>
                                <td class="amountrow">${{ vendor.ShipAmount|number_format(2) }}</td>
                                {% if vendor.ServiceName in 'Next Business Day' %}
                                    <td class="transitrow">Ships Next Business Day</td>
                                {% else %}
                                    <td class="transitrow">Transit Time: up to {{ vendor.DeliveryDaysMax }} business days</td>
                                {% endif %}
							{% else %}
                                <td class="radiorow"><input type="radio" {{ loop.first ? 'checked' }} name="shipmethod[{{ vendorId }}]" value="{{ vendor.servicecode }}:{{ vendor.amount }}:{{ vendor.transittime }}" /></td>
                                <td class="servicerow">{{ vendor.servicecode }}</td>
                                <td class="amountrow">${{ vendor.amount|number_format(2) }}</td>
								<td class="transitrow">Transit Time: up to {{ vendor.transittime }} business days</td>
							{% endif %}
							</tr>
                        {% endfor %}
                    {% endfor %}
                {% endif %}
            </table>
        </div>
    </div>
     <div class="row hidden-xs">
            <div class="col-xs-12 extrainfo"><div style="width:50%;margin:0 auto;">*Overnight orders usually ship the following business day.</div></div>
    </div>
    <div class="row visible-xs">
            <div class="col-xs-12 extrainfo"><div>*Overnight orders usually ship the following business day.</div></div>
    </div>
    <div class="row">
        <div class="col-xs-12 cart-buttons text-right hidden-xs" style="margin-bottom: 200px;">
            <button class="btn btn-stateless prev" rel="{{baseUrl}}&page=purchase_now">back</button>
            <button type="submit" class="btn btn-stateless-active next">next</button>
        </div>
        <div class="col-xs-12 cart-buttons text-right visible-xs" style="margin-bottom: 200px;">
            
            <button type="submit" class="btn btn-stateless-active next">next</button>
            <button class="btn btn-stateless prev" rel="{{baseUrl}}&page=purchase_now">back</button>
        </div>
    </div>
    {{ forms.form_close() }}
</div>
