<div class="container-fluid stockist-container">
    <div class="row stockists">
        <img src="/images/dynamic/80_4227_sv_story.jpg" class="bg-img" />
        <div class="col-md-6 col-sm-12 map-holder">
            <div style="width: 100%; height: 100%;">
                <div style='display:none;' id="map-canvas" class="map-canvas"></div>
            </div>
        </div>
        <div class="col-md-6 col-sm-12 stockist-holder">
            <div class="text-center">
                <div class="locator-text">STORE LOCATOR</div>

                <div class="val-selector country-selector">
                    <select name="country">
                        <option value="">Country</option>
                        {% for cun in countries%}
                        <option value="{{ cun.code }}">{{ cun.country }}</option>
                        {% endfor %}
                    </select>
                    <div class="prodvalcont">
                        <div class="valtext">COUNTRY</div>
                        <div class="valarrow"></div>
                        <div class="clear"></div>
                    </div>
                    <div class="valoptions" style="display: none;">
                        <div class="suboption suboptionpr">Country<input type="hidden" value=""></div>
                        {% for cun in countries%}
                        <div class="suboption suboptionpr">{{ cun.country }}<input type="hidden" value="{{ cun.code }}"></div>
                        {% endfor %}
                    </div>
                </div>


                <div class="val-selector state-selector" style="display: none;">
                    <select name="state">
                        <option value="">State</option>
                        {% for cun in states%}
                            <option value="{{ cun.state }}">{{ cun.name }}</option>
                        {% endfor %}
                    </select>
                    <div class="prodvalcont">
                        <div class="valtext">STATE</div>
                        <div class="valarrow"></div>
                        <div class="clear"></div>
                    </div>
                    <div class="valoptions" style="display: none;">
                        <div class="suboption suboptionpr">State<input type="hidden" value=""></div>
                        {% for cun in states%}
                            <div class="suboption suboptionpr">{{ cun.name }}<input type="hidden" value="{{ cun.state }}"></div>
                        {% endfor %}
                    </div>
                </div>

                <div class="submit-stockist">SUBMIT</div>
            </div>
            <div class="current-stores">

            </div>

        </div>
    </div>
</div>

<script id="stockist-template" type="text/js-render">
{{" {{if City }} "}}
    <div class="store col-sm-6 col-xs-12">
        <div class="store-name">{{ "{{:StoreName}}" }}</div>
        <div>{{ "{{:Address}}" }}</div>
        {{" {{if Address2 }} "}}
        <div>{{ "{{:Address2}}" }}</div>
        {{" {{/if}} "}}

        <div>{{ "{{>City}}" }}, {{ "{{>State}}" }} {{ "{{>ZipCode}}" }}</div>
        {{" {{if Phone }} "}}
        <div>{{ "{{>Phone}}" }}</div>
        {{" {{/if}} "}}

	{{" {{if Notes }} "}}
        <div>{{ "{{>Notes}}" }}</div>
        {{" {{/if}} "}}
        <a href='#map-canvas' class='viewmap' onclick='codeAddress({{ "{{>curCount}}" }})'>View Map<input id='{{ "{{>curCount}}" }}' type='hidden' value='{{ "{{>searchAddress}}" }}'></a>
    </div>
{{" {{/if}} "}}
</script>

<script type="text/javascript" src="//maps.googleapis.com/maps/api/js"></script>
