<script type="text/javascript" src="/js/80/flowplayer.js"></script>
<link rel="stylesheet" href="//releases.flowplayer.org/5.4.3/skin/minimalist.css">

{% if section is same as("entrepreneur") %}
<div class="container-fluid video-container">
    <div class="row">
        <div class="col-xs-12">
                <div class="videosmall col-xs-12 col-md-4" name='videos/80_Entrepreneur.mp4' title="To succeed in Fashion: Find Mentors, Vendors and Business Partners You Trust">
                    <img src="videos/80_sv_thumb_1_to_succeed_in_fashion.jpg"><br><div>To succeed in Fashion: Find Mentors, Vendors and Business Partners You Trust</div>
                </div>
                <div class="videosmall col-xs-12 col-md-4" name='videos/80_Entrepreneur2_232787.mp4' title="Breaking into Fashion? Network and don't give up">
                    <img src="videos/80_sv_thumb_2_breaking_into_fashion.jpg"><br><div>Breaking into Fashion? Network and don't give up</div>
                </div>
                <div class="videosmall col-xs-12 col-md-4" name='videos/80_Entrepreneur_233017.mp4' title="Pitching a Fashion Line to Investors? Brush Up on Your Storytelling Skills">
                    <img src="videos/80_sv_thumb_3_pitching_a_fashion_line.jpg"><br><div>Pitching a Fashion Line to Investors? Brush Up on Your Storytelling Skills</div>
                </div>
        </div>
        <div class="col-xs-12">
            <div class="player">
                <video autoplay="autoplay" poster="images/dynamic/80_4077_entrepreneur.png" controls="false">
                    <source type="video/mp4" src="videos/80_Entrepreneur.mp4">
                    <source type="video/webm" src="videos/80_Entrepreneur.webm">
                    <source type="video/ogg" src="videos/80_Entrepreneur.ogv">
                </video>
                <div class="skipvideo"></div>
            </div>
        </div>
    </div>
</div>
{% else %}
    <div class="container-fluid video-container">
        <div class="row">
            <div class="col-xs-12">
                <div class="videosmall col-xs-12 col-md-4" name='videos/80_Entrepreneur.mp4' title="To succeed in Fashion: Find Mentors, Vendors and Business Partners You Trust">
                    <img src="videos/80_SharkTank.png"><br><div>Shark Tank</div>
                </div>
                <div class="videosmall col-xs-12 col-md-4">
                    <a style="text-transform: uppercase" target="_blank" onclick="api.pause();" href="http://abcnews.go.com/Entertainment/video/shark-tank-entrepreneurs-give-back-23577170">
                        <img src="/templates/80/images/sharktank.png"><br><div>Shark Tank: Swimming with the Sharks Update</div>
                    </a>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="player">
                    <video autoplay="autoplay" poster="videos/80_SharkTank.png" controls="false">
                        <source src="videos/80_80_shark_tank_final_Broadband.m4v" type="video/mp4">
                        <source src="videos/80_shark_tank_final_Broadband.webm" type="video/webm">
                    </video>
                    <div class="skipvideo"></div>
                </div>
            </div>
        </div>
    </div>
{% endif %}