{% set baseUrl = "index.php?storeid=#{controller.getStoreId(false)}&sess=#{sessionName}&#{sessionName}=#{sessionId}" %}

{% include "_modal_video.twig" %}

<div class="container-fluid">
    <div class="row wwstory">
        <img src="/templates/80/images/views/story/ww_story.jpg" class="story-image"/>

        <div class="col-md-6 col-xs-12 story-container">
            <div class="vertical-container">
                <div class="vertical-text">
                    <div class="story-title">WOMEN WARRIORS<br/>BE ONE.</div>
                    <div class="story-text">
                         Women Warriors by Stella Valle is a jewelry line that will inspire you to be a warrior for what you want in life! After partnering with Lori Greiner and Mark Cuban, on ABC’s Shark Tank, Army Veterans and the sister-duo designers behind Stella Valle, Ashley Dellavalle Jung, and Paige Dellavalle Walker designed this casual yet affordable line to inspire and empower women to be their authentic self and follow their lives’ goals and dreams. 
                        <br/><br/>
                        <div class="learnmore-vid" data-toggle="modal" data-target="#video">Learn More About the Line from Ashley & Paige</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="hidden-xs col-md-6">&nbsp;</div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="ww-feed">
            <div class="share-ww">SHARE!
                <br/>#WomenWarriorsSV
            </div>
            <div class="ww-ig-feed">
                {% for ipost in posts %}
                    <div class="col-xs-6 col-sm-4 col-md-2 igpost"><img src="{{ ipost.image }}" /></div>
                {% endfor %}
            </div>
            <a class="view-all" href="/{{ baseUrl }}&page=gallery">VIEW ALL PHOTOS</a>
        </div>
    </div>
</div>
