// Allows for custom coloring of a button (supports hover)
@mixin button-state-colors($color, $background, $hoverColor, $hoverBackground) {
  background: $background;
  color: $color;

  &:hover {
    background: $hoverBackground;
    color: $hoverColor;
  }
}

// Override the default button behavior in Bootstrap as it automatically applies hover effects
.btn {

  // Override the default Bootstrap behavior of the default buttons
  &.btn-default {
    @include button-state-colors(white, black, white, #777);
    @include brand-secondary-font-book(10);
  }

  // The story category filter buttons
  &.btn-store-category {
    $btn-fg-color: darken(#d3d3d3, 30%);
    @include brand-primary-font(10);
    @include button-state-colors($btn-fg-color, #d3d3d3, $btn-fg-color, #d3d3d3);
    border: 1px solid transparent;
    padding: 2px 10px 0px 10px;
    letter-spacing: 1px;

    &:hover {
      border: 1px solid $btn-fg-color;
    }

    &.active {
      border: 1px solid $btn-fg-color;
      box-shadow: none; // override default .active boostrap behavior
    }
  }
}