// Outputs the 'rem' value for font sizes
@mixin font-size($sizeValue: 14){
  font-size: $sizeValue + px; //fallback for old browsers
  font-size: (0.125 * $sizeValue) + rem;
}

// Used to output font attributes
@mixin font($family, $size: 14, $weight: normal, $decoration: initial, $letterspacing: normal) {
  font-family: $family;
  font-weight: $weight;
  text-decoration: $decoration;
  letter-spacing: $letterspacing;
  @include font-size($size);
}

@import url("//hello.myfonts.net/count/27a301");


@font-face {font-family: 'BauerBodoniBT-Roman';src: url('/fonts/27A301_0_0.eot');src: url('/fonts/27A301_0_0.eot?#iefix') format('embedded-opentype'),url('/fonts/27A301_0_0.woff') format('woff'),url('/fonts/27A301_0_0.ttf') format('truetype');}


@font-face {font-family: 'BauerBodoniBT-Italic';src: url('/fonts/27A301_1_0.eot');src: url('/fonts/27A301_1_0.eot?#iefix') format('embedded-opentype'),url('/fonts/27A301_1_0.woff') format('woff'),url('/fonts/27A301_1_0.ttf') format('truetype');}


@font-face {font-family: 'AvenirNextLTPro-Bold';src: url('/fonts/27A301_2_0.eot');src: url('/fonts/27A301_2_0.eot?#iefix') format('embedded-opentype'),url('/fonts/27A301_2_0.woff') format('woff'),url('/fonts/27A301_2_0.ttf') format('truetype');}


@font-face {font-family: 'AvenirNextLTPro-Regular';src: url('/fonts/27A301_3_0.eot');src: url('/fonts/27A301_3_0.eot?#iefix') format('embedded-opentype'),url('/fonts/27A301_3_0.woff') format('woff'),url('/fonts/27A301_3_0.ttf') format('truetype');}


@font-face {
    font-family: 'bauer-bodoni';
    src: url('/templates/156/twig_templates/themes/store/fonts/bauerbodoni/bauerb__.woff') format('woff'),
         url('/templates/156/twig_templates/themes/store/fonts/bauerbodoni/bauerb__.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

// Franklin Gothic BOOK
@mixin franklin-gothic-book($size: 14, $decoration: initial, $letterspacing: 0, $weight: 400) {
  @include font(#{"\"AvenirNextLTPro-Regular\", Arial"}, $size, $weight, $decoration, $letterspacing);
}

// Franklin Gothic DEMI
@mixin franklin-gothic-demi($size: 14, $decoration: initial, $letterspacing: 0, $weight: 700) {
  @include font(#{"\"AvenirNextLTPro-Regular\", Arial"}, $size, $weight, $decoration, $letterspacing);
}

// Bauer Bodoni
@mixin bauer-bodoni($size: 14, $decoration: initial, $letterspacing: 0, $weight: 400) {
  @include font(#{"\"AvenirNextLTPro-Regular\", Arial"}, $size, $weight, $decoration, $letterspacing);
}

@mixin avenir-reg($size: 14, $decoration: initial, $letterspacing: 0, $weight: normal) {
  @include font(#{"\"AvenirNextLTPro-Regular\", Arial"}, $size, $weight, $decoration, $letterspacing);
}

@mixin avenir-bold($size: 14, $decoration: initial, $letterspacing: 0, $weight: 400) {
  @include font(#{"\"AvenirNextLTPro-Bold\", Arial"}, $size, $weight, $decoration, $letterspacing);
}


//brand-primary-font
// Primary Font
@mixin brand-primary-font($size: 14, $decoration: initial) {
  @include avenir-reg($size, $decoration);
}

@mixin brand-secondary-font($size: 14, $decoration: initial) {
  @include avenir-bold($size, $decoration);
}

// Franklin Gothic BOOK
@mixin brand-secondary-font-book($size: 14, $decoration: initial) {
  @include avenir-reg($size, $decoration);
}

// Franklin Gothic BOOK
@mixin brand-secondary-font-demi($size: 14, $decoration: initial) {
  @include avenir-reg($size, $decoration);
}

