@import "utilities";

// Preloader
.z-preloader-container {
  position: relative;
}

.z-preloader {
  @include pos(absolute, 0, 0, 0, 0);
  margin: 0 auto;
  width: 70px;
  text-align: center;
}

.z-preloader {
  div {
    width: 18px;
    height: 18px;
    background-color: #333;

    border-radius: 100%;
    display: inline-block;
    -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
    animation: bouncedelay 1.4s infinite ease-in-out;
    /* Prevent first frame from flickering when animation starts */
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }

  div.dot:nth-child(1) {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
  }

  div.dot:nth-child(2) {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
  }
}

@-webkit-keyframes bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0.0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes bouncedelay {
  0%, 80%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 40% {
      transform: scale(1.0);
      -webkit-transform: scale(1.0);
    }
}

// Form styles
form {
  input {
    border: 1px solid #a9a9a9;
    border-radius: 4px;
    height: 25px;
  }
}

// Error styles
input.error {
  background: $alert-danger-bg;
  color: black;
}

.error {
  @include font-size(10);
  color: $alert-danger-text;
}
