@import "fonts";
@import "utilities";
#gallery-upload
{
  color: #000;
  .clear
  {
    clear: both;
  }
  .modal-content {
    background-color: #dbdbdb;
    .modal-header {
      border: none;
      padding: 10px 20px;
    }
    .modal-body
    {
      padding: 5px 20px;
    }
    .close {
      float: none;
      text-align: right;
      img {
        width: 30px;
      }
    }

    .upload-header {
      font-size: 22px;
      line-height: 24px;
      padding-bottom: 15px;
    }

    .hold-preview {
      display: none !important;
    }

    .post-photo
    {
      width: 100%;
      background-color: #000;
      color: #FFF;
      text-align: center;
      height: 38px;
      line-height: 38px;
      font-size: 14px;
      cursor: pointer;
      margin-top: 15px;
    }
    .my-terms
    {
      padding: 0px 15px;
      margin-top: 10px;

    }
    .other-user-vals
    {
      padding: 0px 15px;
      input[type=text]
      {
        width: 100%;
        border: 1px solid #000;
        height: 30px;
      }

      textarea
      {

        min-height: 115px;
        max-height: 115px;
        height: 115px;
        min-width: 100%;
        max-width: 100%;
        width: 100%;
        border: 1px solid #000;
        margin-top: 15px;
      }
    }
    .required-field
    {
      padding: 10px 0px;
      text-align: left;
      font-size: 13px;
      @include breakpoint-medium
      {
        padding: 10px 15px;

      }
    }
    .cancel-photo
    {
      line-height: 38px;
      font-size: 14px;
      color: #000;
      text-align: center;
      cursor: pointer;
      display: block;
    }
    .dz-message
    {
      text-align: left;
      cursor: pointer;
      @include breakpoint-medium
      {
        padding: 0px 15px;
        margin-bottom: 10px;
      }

      img
      {
        height: auto !important;
        width: auto !important;
        max-width: 100%;
      }
    }
    .uploading-error
    {
      display: block;
      text-align: center;
      color: red;
      font-size: 14px;
      line-height: 18px;
      text-transform: uppercase;
      margin-top: 10px;
    }
  }
  .upload-row
  {
    display: block;
  }
  .finished-row
  {
    display: none;
  }
}