@import "fonts";

// Read more modal
.modal {

  .modal-header {
    padding: 15px 15px 8px 15px;
  }

  .headline {
    padding-bottom: 8px;
    text-transform: uppercase;
    width: 90%;

    @include breakpoint-xsmall {
      @include font-size(16);
      line-height: 22px;
    }
  }

  .creator {
    text-transform: uppercase;
    color: #666;
  }

  .content {
    padding-top: 10px;
  }

  .image {
    img {
      width: 100%;
      height: auto;
    }
  }

  p {
    @include font-size(11);
  }

  .social {
    margin-top: -8px;

    img {
      width: 20px;
      height: auto;
    }
  }
}
