@import "fonts";
@import "forms";
@import "utilities";

.modal {
  z-index: 9999;
}

#personalShopperModal {
	background: rgba(72,72,72,0.7);
	z-index: 999999999999999;
	.modal-lg
	{
		max-width: 540px;
	}
	
		
	.modal-content
	{
		border-radius: 0px;
		color:#000;
		text-transform: uppercase;
		@include breakpoint-medium-up{
	      background: #fff;
	      background-image: url('/templates/156/images/personalshopper_bg.jpg');
	    }
	    @include breakpoint-small{
	      background: #fff;
	    }
	}
	
	.modal-body{
		position: static;
	}

	.modal-header
	{
		border: none;
		/*padding:40px 40px 0 0;*/
		.close{
			margin-right: -9px;
    		margin-top: -9px;
		}
	}
	
	.personal-header
	{
		@include brand-primary-font($size: 26);
		text-align: center;
		/*text-transform: uppercase;*/
		font-size: 28px;
		line-height: 32px;
		width: 90%;
		margin:0 auto;
	}
	.choose-text
	{
		@include brand-secondary-font-book($size: 12);
		font-size: 12px;
		line-height: 20px;
		text-align: center;
		text-transform: none;
	}
	.assist-text
	{
		@include brand-secondary-font-book($size: 12);
		text-align: center;
		text-transform: uppercase;
		font-size: 12px;
		line-height: 20px;
	}
	.call-us
	{
		@include brand-secondary-font-book($size: 12);
		font-size: 12px;
		/*line-height: 20px;*/
		text-align: center;
		margin-top: 25px;
		i
		{
			color: #000;
			margin-right: 8px;
		}
	}
	.email-us
	{
		@include brand-secondary-font-book($size: 12);
		font-size: 12px;
		/*line-height: 20px;*/
		text-align: center;
		margin-top: 5px;
		margin-bottom: 20px;
		i
		{
			color: #000;
			margin-right: 8px;
		}
		a
		{
			color: #000;
			text-decoration: underline;
			&:hover
			{
				color: #000;
				/*text-transform: uppercase;*/
			}
		}
	}
	
	.submit-below
	{
		@include brand-secondary-font-book($size: 11);
		font-size: 12px;
		/*line-height: 20px;*/
		/*text-transform: uppercase;*/
		text-align: center;
		margin-top: 20px;
		margin-bottom: 10px;
	}
	
	.form
	{
		input
		{
			width: 331px;
			height: 29px;
			border: 1px solid #000;
			border-radius: 0px;
			padding-left: 5px;
			margin: 0 auto;
			margin-bottom: 5px;
			@include brand-secondary-font-book($size: 9);
			color: #000;
			display: block;
			font-size: 11px;
			@include breakpoint-small {
		      width: 100%;
		    }
		}
		.btn
		{
			width: 331px !important;
			height: 45px;
			line-height: 40px;
			vertical-align: top;
			@include brand-secondary-font-book($size: 12);
			display: block;
			margin: 0 auto;
			margin-bottom: 15px;
			background-color: #000;
			border: none;
			@include breakpoint-small {
		      width: 100% !important;
		    }
		}

		::-webkit-input-placeholder { /* WebKit browsers */
			color:    #000;
		}
		:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
			color:    #000;
			opacity:  1;
		}
		::-moz-placeholder { /* Mozilla Firefox 19+ */
			color:    #000;
			opacity:  1;
		}
		:-ms-input-placeholder { /* Internet Explorer 10+ */
			color:    #000;
		}
	}
	
	.required
	{
		float: left;
		@include brand-secondary-font-book($size: 12);
		font-size: 11px;
		line-height: 20px;
		text-align: left;
		margin-top: 15px;
		margin-left: 20px;
		span
		{
			color: #000;
		}
	}

	.modal-dialog, .modal-content{
		@include breakpoint-medium-up{
		  	width: 540px;
      		height: 530px;
		}
	}

	.close_image{
		width: 30px;
		height: 30px;
	}

	label{
		width: 331px;
		height: 29px;
		padding-left: 5px;
		margin: 0 auto;
		margin-bottom: 5px;
		@include brand-secondary-font-book($size: 9);
		color: red;
		display: block;
		font-size: 11px;
		text-align: center;
		@include breakpoint-small {
	      width: 100%;
	    }
	}
}
