@import "fonts";
@import "utilities";

#video {
  .modal-dialog {
    width: 336px;
    @include breakpoint-medium-up {
      width: 802px;
    }

  }
  
  #video_big{
    width: 336px;
    @include breakpoint-medium-up {
      width: 800px;
    }
  }

  .close{
    text-shadow:none;
    opacity:1;
    color:#000;
  }

  .modal-content {

    .modal-header {
      border: 0;
      padding: 5px;
    }

    .modal-body {
      padding: 0;

      @include headers {
        @include brand-primary-font();
      }

      h3 {
        @include brand-primary-font($size: 30);
      }

      h6 {
        padding-top: 0;
      }
    }
  }
}
