@import "fonts";
@import "utilities";

#sizeGuide {
	background: rgba(72,72,72,0.7);
	z-index: 999999999999999;
	.modal-lg
	{
		max-width: 650px;
	}
	.modal-content
	{
		border-radius: 0px;
	}
	@include headers {
	text-align: center;
	padding: 10px;

	
	@include breakpoint-xsmall {
	  @include font-size(15);
	  padding: 6px;
	}
	}

  // title should be left aligned
  .sizeTitle {
    text-align: left;
  }

  hr {
    margin: $grid-gutter-width 0;
    margin-top: 0;
  }

  .modal-header {
    border-bottom: 0;
    padding-top: 40px;
  }

  .modal-body {
    padding: 0px;
  }

  div.row {
    padding: 0;
  }
  
  .close
  {
  	margin-top: -40px;
  	margin-right: 10px;
	  span
	  {
		  font-size: 45px;
	  }
  }
  
  .sizechartheader
  {
	  @include brand-secondary-font-book($size: 14);
	  font-size: 18px;
	  line-height: 20px;
	  text-transform: uppercase;
	  text-align: center;
	  color: #000;
  }
  
  .sizecharttext
  {
	  @include brand-secondary-font-book($size: 11);
	  font-size: 16px;
	  line-height: 20px;
	  text-align: center;
	  color: #000;
	  span
	  {
		  text-transform: uppercase;
		  color: #000;
	  }
  }

  .navigation {
    div {
      background: $brand-color-lightgray;
      padding: 8px;

      &.active {
        background: black;
      }

      a {
        @include brand-secondary-font-book($size: 12);
        @include breakpoint-xsmall {
          @include font-size(9);
        }
        color: white;
        text-transform: uppercase;
      }
    }
  }

  .background {
    background: $brand-color-lightgray;
  }

  .measure {
    margin-top: $grid-gutter-width;

  }

  // All paragraph styles
  p {
    @include font-size(12);

    &.step {
      @include brand-secondary-font-book($size: 13);
      text-transform: uppercase;

      @include breakpoint-xsmall {
        @include font-size(11);
        padding-top: 4px;
        margin-bottom: 0;
      }
    }

    &.disclaimer {
      text-align: center;
    }
  }

  ul {
    @include breakpoint-xsmall {
      padding-left: 8px;
    }

    li {
      @include font-size(12);
      text-transform: uppercase;

      &:not(:first-child) {
        padding-top: $grid-gutter-width;
      }
    }
  }
  
  .table-responsive
  {
  	table
  	{
  		width: 100%;
  		@include brand-secondary-font-book($size: 13);
  		font-size: 14px;
  		line-height: 22px;
  		th
  		{
	  		color: #FFF;
	  		text-align: center;
	  		background-color: #000;	
  		}
  		td
  		{
	  		color: #000;
	  		text-align: center;
	  		/*background-color: #ece5dd;	*/
  		}
  	}
	  
  }
  .size-padding
  {
	  padding: 0px 10px;
  }

  .size_chart_values{
    tr{
      height: 45px;
    }
  }

  .size_chart_title{
    
    @include brand-primary-font($size: 13);
    font-size: 50px;
    text-align: center;
    margin-bottom: 20px;
  }
}

