@import "fonts";
@import "utilities";

#newsletter {
  .close{
    float: none;
    text-align: right;
  }

  .modal-body{
    padding: 10px;
  }
  .modal-dialog {
    width: 300px;
    margin: 0 auto;
    @include breakpoint-medium-up {
      width: 450px;
    }

  }
  .modal-content {
    background: rgba(255,255,255,0.8);
    color: #000;
    border-radius: 0px;
    text-transform:uppercase;

    .modal-text-news
    {
      font-size: 18px;
      line-height: 24px;
      margin: 15px 0px;
      padding: 0px 10px;
    }

    .modal-header {
      border: 0;
      padding:10px;

      button {
        opacity: 1;
        color: #fff;
      }
    }

    .thankyou{
      @include brand-primary-font($size: 30);
      letter-spacing: 2px;
      margin-top: 0px;
      paddingtop: 0px;
      font-size: 36px;
      margin: 0px;
    }

    .modal-body {
      @include headers {
        @include font-size(14);
        @include brand-primary-font();
        padding: 10px;
      }

      h3 {
        @include brand-primary-font($size: 30);
        letter-spacing: 0px;
        margin-top: 0px;
        paddingtop: 0px;
        font-size: 80px;
        @include breakpoint-xsmall {
          font-size: 55px;
        }
      }

      h6 {
        padding-top: 0;
        @include brand-secondary-font-book($size: 20);
        font-size: 16px;
        letter-spacing: 2px;
      }

      input {
        @include brand-secondary-font-book($size: 20);
        font-size: 12px;
        letter-spacing: 0px;
        @include breakpoint-xsmall {
          width: 100%;
        }

        width: 300px;
        background: #FFF;
        border: 1px solid #000;
        color: #000;
        height: 30px;
        text-align: left;
        padding-left: 5px;
      }

      ul {
      	@include brand-primary-font($size: 12);
        padding-bottom: 10px;
        width: 100%;
        margin: 0 auto;
        text-align: center;
        list-style-type: none;
        padding-left: 0px;
        padding-bottom: 20px;

        @include breakpoint-xsmall {
          width: 100%;
          padding-left: 13px;
        }

        li {
          span {
            text-transform: uppercase;
            color: black;
            letter-spacing: 0px;
          }

          &:before {
            @include font-size(7);
            color: black;
            content: "\2022";
            padding-right: .20em;
            position: relative;
            top: -.3em;
          }
        }
      }

      p {
        padding: 9px;
        margin-bottom: 5px;

        a {
          @include font-size(12);
          color: white;
          text-transform: uppercase;
          text-decoration: underline;
        }
      }

      label {
        padding-top: 5px;
        display: block;

        &.error {
          color: $btn-danger-bg;
        }
      }
      .signup
      {
		    background-color: transparent;
		    color: #000;
		    text-decoration: none;
		    display: block;
		    margin: 10px auto;
        text-align: center;
        letter-spacing:0px;
        font-size: 14px;
      }

      .description{
        @include brand-secondary-font-book($size: 20);
        font-size: 12px;
        letter-spacing: 1px;
        line-height: 22px;
        text-align: center;
        width: 100%;
        margin-bottom: 30px;
      }

      .disclaimer{
        text-transform: none;
        @include brand-secondary-font-book($size: 20);
        font-size: 11px;
        letter-spacing: 0px;
        a{
          color:#000;
          &:hover{
            color:#000;
          }
        }
      }
    }
  }

  .close_image{
    width: 30px;
    height: 30px;
  }
}

/*Iphone 5*/
/*@media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : landscape) {
  .modal-dialog{
    height: 294px !important;
    overflow-y: auto;
  }
}

@media only screen and (min-device-width : 375px) and (max-device-width : 667px) and (orientation : landscape) {
  .modal-dialog{
    height: 340px !important;
    overflow-y: auto;
  }
}*/
