// Add font functionality
@import 'fonts';

// Add utility functionality
@import 'utilities';

// Will adjust the top padding for the navigation and the menu pop-up background
$navigation-top-padding: 10;
.free-ship-banner, .shop-bag-nav
{
  display: none;
}



// Activate hover menus
@include breakpoint-mobile-menu-up {

  .navcentertext
  {
    text-align: center;
  }

  nav.navbar
  {
    border-bottom: 1px solid #000 !important;
    padding-bottom: 1px;
  }

  nav.navbar ul.dropdown-menu
  {
    border-top: 1px solid #000 !important;
  }

  .navbar-collapse
  {
    text-align: center;
  }

  .free-ship-banner
  {
    text-align: center;
    display: inline-block;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 54px;
    position: absolute;
    left: 25px;
    top: 0px;
  }

  .shop-bag-nav
  {
    text-align: center;
    display: inline-block;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 54px;
    position: absolute;
    right: 25px;
    top: 0px;
    display: block;
  }



  nav {
    .svnav-divider
    {
      padding: 16px 10px;
    }
   .nav li>a:first-child
   {
	   padding: 0px;
	   font-size: 16px;
       color:#000;
       padding: 8px 10px;
   }
  }

  nav.navbar ul li.top-drop {
    padding-top: 8px;
    width: 190px;
    min-width: 140px;
    &.sv-drop
    {
      padding-left: 50px;
    }
  }

  .top-nav
  {
    height: 168px;
    background-color: #000;
    text-align: center;
    padding: 0px 0px;
    a{
      display: block;
      height: 100%;
    }
    img
    {
      max-height: 100%;
    }
  }

  .top-nav a {
    &.svlogo {
      display: none;
      padding: 28px 0px;
    }
    &.wwlogo {
      display: none;
      padding: 14px 0px;
    }
  }


}


.navbar-default .navbar-nav .open .dropdown-menu > li > a {
  color: #fff;
}

.nav>li
{
	position: initial;
}


nav.navbar {
	  @include border-radius(0);
	  background: #FFF;
      color: #000;
	  margin-bottom: 0;
	  height: 53px;
	  border: none;
	
	  a {
	    letter-spacing: 0.1em;
	  }
	  ul:first-child li {
	  	padding-top: 5px;
	  	@include breakpoint-mobile-menu-up {
	    padding: 12px 35px;
	    }
	  }
	  
	  li .topnav a {
		  	letter-spacing: 0.2em;
		  	font-size: 12px;
	  }
}



.maincat
{
	display: inline-block;
    position: relative;

    @include breakpoint-mobile-menu {
      max-width: 100%;
    }
}

.prodcatbutton a{
  text-transform: none;
  padding: 0 !important;
}

nav.navbar ul.dropdown-menu li .navitembreak
{
	padding: 5px 10px 5px 0px;
	text-transform:none;
  font-size: 20px;
	a
	{
		@include brand-primary-font($size: 11);
		/*letter-spacing: 0.1em;*/
		&:hover
		{
			text-decoration: underline;
		}
	}
}


nav.navbar ul.dropdown-menu li .navitemnobreak
{
	padding-top: 5px;
	a
	{
	@include brand-primary-font($size: 11);
  font-size: 14px;
	/*letter-spacing: 0.1em;*/
	/*text-transform: uppercase;*/
		&:hover
		{
			text-decoration: underline;
		}
      &.nohover
      {
        text-decoration: none !important;
        cursor: pointer !important;
      }

	}
}

nav.navbar ul.dropdown-menu li .navitemtopbreak
{
	border-top: 1px solid #FFF;
	margin-top: 5px;
	a
	{
	@include brand-primary-font($size: 11);
	/*letter-spacing: 0.1em;*/
	text-transform: uppercase;
		&:hover
		{
			text-decoration: underline;
		}
	}
	@include breakpoint-mobile-menu-up {
		padding-top: 10px;
	}
}


.navbar-default .navbar-nav>li>a, .navbar-default .navbar-text
{
	
  color: #FFF;
  @include font-size(14);
  @include breakpoint-mobile-menu-up {
    color: #000;
  }

  
}
// Position of the top right links
ul.navbar-right {

  @include breakpoint-mobile-menu-up {
    li {
      @include font-size(9);
      /*letter-spacing: 0.1em;*/
      text-align: center;
      margin-top: -20px;
      /*text-transform: uppercase;*/
      color: #777;

      // Icon color
      & i {
        color: black;
      }

      &:first-child {
        margin-top: -3px;
      }
    }

    a {
      @include font-size(9);
      letter-spacing: 1px;
    }
  }
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
  color: #fff;
  background-color: #b0b0b0;
  /*	text-decoration: underline;*/
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover
{
	color: #fff;
	background-color: #b0b0b0;
/*	text-decoration: underline;*/
  @include breakpoint-mobile-menu {
    color: #FFF;
  }
}

.catimagepreview
{
	padding-left: 15px;
  max-height: 230px !important;
  img{
    max-height: 230px !important;
  }
}

@include breakpoint-mobile-menu {
  .collapsing,
  .collapse.in {
    position: absolute;
    z-index: 99999;
    width: 101%;
    background: rgba(0,0,0,0.8); //Darker on mobile phone
  }
  
 .navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #FFF;
    background-color: #b0b0b0;
    text-decoration: none;
  }

  div.navbar-collapse {
    margin-top: 5px;
  }

  // The background of the sub menu
  div.menu-background {
    display: none;
  }
  .catimagepreview
  {
  	display: none;
  }
  
  .navitembreak
  {
	  padding-bottom: 0px;
	  border: none;
    color: #000;
    @include breakpoint-mobile-menu {
      margin-top:10px;
    }
  }
}

@include breakpoint-small-up {
  $menu-background-height: 153;

  div.menu-background {
    @include pos($position: absolute, $top: (94 + $navigation-top-padding) + px);
	background: #000;
    background: rgba(0, 0, 0, .7);
    height: $menu-background-height + px;
    width: 100%;
    display: none;
    z-index: 99999;
  }

  nav.navbar ul.dropdown-menu {
    @include border-radius(0);
    margin-top: 0px;
    border: 0;
    width: auto;
    box-shadow: initial;
    background: rgba(255,255,255,0.8);
    /* overflow: hidden; */
    z-index: 9999999;
    padding: 0;
    a {
      color: #000;
      display: block;
      /*padding: 5px 0;*/
      margin-left: 0px;
      font-size: 13px;
      line-height: 30px;
      &:hover {
        background: transparent;
        text-decoration: underline;
      }
    }
    .row
    {
	    position: relative;
    }
  }
  
  	.dropdown-menu .row [class*='col-'] img
	{
		width: auto;
		height: 100%;
	}

}

.navbar-toggle {
  border: 0;
  margin-top: 10px;
  padding-top: 7px;
}

.navbar-right-links {
  float: right;
  margin: 5px 20px 0 0;
  height: 40px;
  

  ul {
    padding: 0px;
    padding-top: 5px;

    li {
      padding: 0;
      text-transform: uppercase;

      &:not(:last-child):after {
        content: '|';
        padding: 0 5px;
      }
    }
  }
}

.topnav
{
	text-transform: uppercase;
}

.navbar-brand {
/*  img
  {
    
    max-width: 209px;
    @include breakpoint-mobile-menu {
      margin-top: 8px;
    }
  }*/
  @include breakpoint-mobile-menu {
  	margin: 16px 0px 0px 0px;
  	padding: 0px 0px 0px 10px;
    height: 22px;
  	img
  	{
      @include breakpoint-xsmall {
	  	  max-width: 130px;
      }
      @include breakpoint-small {
        max-width: 97px;
      }
      @include breakpoint-medium {
        max-width: 97px;
      }

      /*margin-top: 7px;*/
  	}
  }
  
  
}

.nav>li.navbar-cobrand {
	display: none;
  @include breakpoint-mobile-menu {
  	display: block;
  	img
  	{
  		width: auto;
	  	max-height: 24px;
  	}
  }
}

.nav>li.search-nav {
  display: none;
  @include breakpoint-mobile-menu {
    display: block;
  }
}

nav.navbar ul:first-child li
{
	/*text-transform: uppercase;*/
  @include breakpoint-mobile-menu {
		.row [class*='col-']
		{
			width: 100%;
			.maincat
			{
				@include franklin-gothic-book($size: 11);
        font-size: 11px;
        padding: 0px;
				margin: 0px;
				border: none;
				line-height: 20px;
				padding: 0px 15px;
				color: #FFF;
        margin:10px;
				a {
					color: #FFF;
				}
			}

      .cattitle{
        font-size: 13px;
        line-height: 30px;
      }

      .prodcatbutton{
        padding: 4px 15px;
      }
		}
	}
}

.phoebeicon
{
	display: none;
	@include breakpoint-mobile-menu-up {
		display: block;
		position: absolute;
		top: 0px;
		bottom: 0px;
		right: 15px;
		margin: auto;
		height: 30px;
		img
		{
			max-height: 32px;
		}
	}
}


.navbar-nav .open .dropdown-menu
{
	@include breakpoint-mobile-menu{
	    padding: 0px !important;
    }
}

.navbar-toggle .icon-bar+.icon-bar
{
	margin-top: 6px;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover
{
	background-color: transparent;
}

.navbar-toggle .icon-bar.activated
{
	background-color: #000;
}

.searchcontainer
{
  display: none;
  float:right;
  margin-right: 43px;
  position: relative;
  @include breakpoint-mobile-menu-up {
    display: inline-block;
  }
  @include brand-primary-font($size: 10);
  line-height: 29px;
  i {
    cursor: pointer;
    position: absolute;
    top: 7px;
    z-index: 2;
    right: 5px;
  }
  .stextcontainer
  {
    display: inline-block;
    input[type=text]
    {
      border: 1px solid #484848;
      width: 120px;
      background-color: #FFF;
      text-transform: uppercase;
      margin: 0px;
      padding: 0px;
      outline: none;
      height: 19px;
      vertical-align: middle;
      margin-left: 5px;
      font-size: 12px;
      line-height: normal;
      border-radius: 0px;
      position: relative;
      top: -1px;
      padding-left: 5px;
    }
    form{
      display: inline-block;
    }
  }
}


.navbar .navbar-nav {
  @include breakpoint-mobile-menu-up {
    display: inline-block;
    float: none;
    vertical-align: top;
  }
}

img.logo{
  height: 35px;
  @include breakpoint-mobile-menu{
    height: auto;
  }
}

.navbar-toggle{
  float:left;
}

a.navbar-brand{
  @include breakpoint-mobile-menu{
    width: 89%;
    text-align: center;
  }
  @include breakpoint-small{
    width: 84%;
    text-align: center;
  }
  @include breakpoint-xsmall{
    width: auto;
    text-align: left;
    border-left: 1px solid #000;
  }
}

.pshoppa{
  position: absolute;
  right: 55px;
  top:0;
  line-height: 27px;
  @include breakpoint-mobile-menu{
    /*display: none;*/
    right: 0;
    line-height: 29px;
  }
}

.navbar-brand{
  padding-top:9px;
  margin-left: 45px;
  @include breakpoint-mobile-menu{
    padding-top:0px;
    margin-left: 0px;
  }
}

.shopping_bag_container{
  width: 60px;
  float: right;
  height: 51px;
    @include breakpoint-mobile-menu{
      display: none;
    }
}

.contactus_container{
  width: 234px;
  float: right;
  height: 51px;
    @media screen and (max-width: 1047px) {
      display: none;
    }
    @include breakpoint-large-up{
      display: block;
    }
}

.row1{
  height: 25px;
  line-height: 30px;
  text-align: right;
  a{
    @include franklin-gothic-book($size: 11);
    letter-spacing: 0px;
    font-size: 13px;
    color: #fff !important;
    &:hover{
      color: #fff !important;
    }
  }
}
.row2{
  height: 20px;
  line-height: 20px;
  text-align: right;
  @include franklin-gothic-demi($size: 11);
  letter-spacing: 0px;
  font-size: 13px;
  color: #fff;
}

nav.navbar a{
  letter-spacing: 0px !important;
}
nav.navbar {
  .maincat {
    @include breakpoint-mobile-menu-up {
      margin-right: 25px;
      &.search-bar-nav
      {
        margin-right: 0px;
      }
      .cattitle {
        line-height: 54px;
        font-size: 16px;
        font-weight: normal;
        letter-spacing: normal !important;
        color: #FFF !important;
        text-decoration: none;
        &.active
        {
          color: #000 !important;
        }
        &:hover
        {
          color: #000 !important;
        }

      }
    }
    ul.dropdown-menu {
      @include border-radius(0);
      margin-top: 0px;
      border: none !important;
      width: auto;
      box-shadow: initial;
      background: rgba(255, 255, 255, 0.9);
      overflow: hidden;
      z-index: 9999999;
      padding: 0;
      position: absolute;
      top: 80%;
      left: 50%;
      display: none;
      padding: 0px 25px;
      min-width: 100%;
      list-style: none;
      text-align: center;
      margin-left: 0px;
      transform: translate(-50%, 0%);
      li {
        padding: 0px;
        margin: 0px;
        white-space: nowrap;
        text-transform: uppercase;
        a
        {
          line-height: 24px;
          font-size: 12px;
        }
      }
    }
    &:hover {
      cursor: pointer;
      @include breakpoint-mobile-menu-up {
      ul {
          display: block;
        }
      }
    }
    &.open > .dropdown-menu
    {
      display: block;
    }
  }
}

nav.navbar
{
  ul.dropdown-menu
  {
    background-color: #b0b0b0;
  }
}

.navbar-default .navbar-nav .open .dropdown-menu > li > a
{
  color: inherit;
}

/* Below is for this custom stuck nav.. */
@include breakpoint-mobile-menu-up {
  .navbar-nav>li>a.alwaysopen {
    color: #fff !important;
    background-color: #b0b0b0;
  }
  #content-wrap
  {
    position: relative;
    .dropdown-menu
    {
      position: relative;
top: 0px;
      display: block;
      width: 100%;
      padding: 0px;
      margin: 0px;
      border: none;
      list-style-type: none;
      background-color: #b0b0b0;
      border-radius: 0;
      box-shadow: none;
	z-index:99999;
      /* margin-bottom: 20px; */
      .maincat
      {
        margin-right: 25px;
        &.search-bar-nav
        {
          margin-right: 0px;
        }
        .cattitle {
          line-height: 54px;
          font-size: 16px;
          font-weight: normal;
          letter-spacing: normal !important;
          cursor: pointer;
          color: #FFF !important;
          text-decoration: none;
          &.active
          {
            color: #000 !important;
          }
          &:hover
          {
            color: #000 !important;
          }
        }
        ul.dropdown-menu {
          @include border-radius(0);
          margin-top: 0px;
          border: none !important;
          width: auto;
          box-shadow: initial;
          background: rgba(255, 255, 255, 0.9);
          overflow: hidden;
          z-index: 9999999;
          padding: 0;
          position: absolute;
          top: 80%;
          left: 50%;
          display: none;
          padding: 0px 25px;
          min-width: 100%;
          list-style: none;
          text-align: center;
          margin-left: 0px;
          transform: translate(-50%, 0%);

          li {
            padding: 0px;
            margin: 0px;
            white-space: nowrap;
            text-transform: uppercase;
            a {
              line-height: 24px;
              font-size: 12px;
              padding: 8px 10px;
              font-weight: normal;
              margin: 0px;
              &:hover
              {
                background: transparent !important;
                color: #000;
                text-decoration: underline;
              }
            }
          }
        }
        &:hover ul
        {
          display: block;
        }
      }
    }
  }
}

.search-bar-nav
{
  position: absolute;
  right: 25px;
  height: 24px;
  top: 0px;
  bottom: 0px;
  margin: auto;
  @include breakpoint-mobile-menu {
    right: inherit;
    position: relative;
    top: inherit;
    bottom: inherit;
    margin: 0px;
    height: 40px;
  }
  .search-bar {
    input {
      border: 1px solid #FFF;
      padding: 0px 5px;
      background: url('/templates/80/images/mag-glass.png') no-repeat 97% 50% transparent;
      width: 175px;
      height: 24px;
      font-size: 12px;
      color: #FFF;
      border-radius: 0px;

      &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: #FFF;
      }
      &::-moz-placeholder { /* Firefox 19+ */
        color: #FFF;
      }
      &:-ms-input-placeholder { /* IE 10+ */
        color: #FFF;
      }
      &:-moz-placeholder { /* Firefox 18- */
        color: #FFF;
      }
      &:focus {
        outline: none;
      }
      @include breakpoint-mobile-menu {
        border: 1px solid #000;
        color: #000;
        margin-left: 15px;
        &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
          color: #000;
        }
        &::-moz-placeholder { /* Firefox 19+ */
          color: #000;
        }
        &:-ms-input-placeholder { /* IE 10+ */
          color: #000;
        }
        &:-moz-placeholder { /* Firefox 18- */
          color: #0000;
        }
      }
    }
  }
}

@include breakpoint-mobile-menu {

  .maincat
  {
    width: 100%;
    background-color: #FFF;
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 20px;
  }
  nav.navbar .maincat ul.dropdown-menu
  {
    position: relative;
    text-align: left;
    transform: translate(0%, 0%);
    left: 0px;
  }
  nav .cattitle
  {
    padding-left: 15px;
  }

  nav.navbar
  {
    position: absolute;
    top: 10px;
    background-color: #000;
    width: 100%;
  }
  .top-nav
  {
    height: 95px;
    background-color: #000;
    text-align: center;
    padding: 0px 0px;

    a{
      display: block;
      height: 100%;
    }
    img
    {
      max-height: 100%;
      position: relative;
      z-index: 9;
    }
  }

  .top-nav a {
    &.svlogo {
      display: none;
      padding: 14px 0px;
    }
    &.wwlogo {
      display: none;
      padding: 7px 0px;
    }
  }

  .navbar-default .navbar-toggle .icon-bar
  {
    background-color: #FFF !important;
  }

  .navbar-header
  {
    height: 85px;
  }
  div.navbar-collapse
  {
    margin-top: 0px;
  }
}

footer
{
  .socialink
  {
    color: #b0b0b0;
    font-size: 28px;
  }
}


