// Include mixins and functions
@import 'utilities';

// Include the navigation styles
@import 'navigation';

// Include all of the fonts for this application
@import 'fonts';

// Custom Select styles
@import 'zselect';

// Custom button styles
@import 'buttons';

// Size Guide modal styles
@import 'modal_sizeguide';

// Newsletter modal styles
@import 'modal_newsletter';

// Sweepstakes modal styles
@import 'modal_sweepstakes';

// Personal Shopper modal styles
@import 'modal_personal_shopper';

body {
  @include brand-primary-font($size: 10);
  font-size: 12px;
  background: white;
  color:#000;
}

th
{
	font-weight: normal;
}

td
{
	font-weight: normal;
}

form input {
  border-radius: 0;
}

// Customize the headers
@include headers {
  @include brand-primary-font();
  margin: 0;
  /*text-transform: uppercase;*/
}

h1, h2, h3 {
  @include brand-primary-font(25);
}

// Adjust the padding globally for all rows and fluid containers
.container-fluid {
  padding: 0px;

  .row {
    padding: 0px;
  }
}

// Customize the links
a {
  color: #000;
  &:hover {
    color: #999;
    text-decoration: none;
  }
  &:focus
  {
	color: #000;
    text-decoration: none; 
  }
}

// Page title section
.page-title {
  padding: 0;

  .row {
    padding: 5px 0 5px 24px;
  }

  border-bottom: 1px solid #e7e7e7;
}

// Customize the buttons
.btn {
  @include brand-primary-font($size: 10);
  color: #4F4F4F;
  border: 1px solid $btn-default-border;
  border-radius: 0;
  padding: 2px 10px 2px 10px;
  text-transform: uppercase;

  &:hover {
    color: #4F4F4F;
    background-color: lightgrey;
  }
}

// Footer styles
footer {

  @include brand-primary-font($size: 10);
  font-size: 12px;
  /*text-transform: uppercase;*/
  
  color: #000;
  width: 100%;
  margin-top: 40px;
  padding-bottom: 50px;
  /*padding: 20px;*/

  a {
    &:hover {
      color: #999;
      text-decoration: none;
    }
  }

  .footercontainer{
    background-color: #FFF;
    border-top: 1px solid #000;
    .col-md-3{
min-height: 205px;
      margin-top: 20px;
      padding-bottom: 20px;
      padding-left: 40px;
      padding-right: 40px;
border-right: 1px solid #b2b2b2;
	&:last-child
{
	border-right: none;
}
    }
  }

  .joinus{
    @include breakpoint-small {
      padding-right: 40px;
      text-align: center;
    }
  }

  .newslettercontainer{
    background-color: #000;
    color: #fff;

    a{
      color:#fff;
      &:hover {
        color: #fff;
        text-decoration: none;
      }
      strong{
        @include brand-primary-font($size: 10);
        /*font-weight: 600;*/
        font-size: 20px;
      }
    }
  }

  input {
    @include font-size(10);
    width: 100%;
    margin: 2px 0 5px 0;
    background: black;
    border: 1px solid lightgray;
  }

  .newsletter_field{
    border: 1px solid #000;
    border-radius: 0 !important;
    width: 220px !important;
    line-height: 18px !important;
    height: 30px !important;
    font-size: 12px !important;
    display: inline-block !important;
    /*@include breakpoint-medium-up {
      width: 160px !important;
      width: 90px !important;
    }*/
  }

  // Arrow in the input
  .arrow {
    width: 18px;
    height: 25px;
    background: url('/templates/#{$storeid}/images/email_signup.jpg') -4px -2px/20px no-repeat;
    display: inline-block;
    position: absolute;
    right: 0;
    bottom: -1px;
  }

  // Adjust the left margin so there are equal gutters between footer sections
  @include breakpoint-medium-up {
    > div.row > div.col-md-offset-1:first-child {
      margin-left: 4.15%;
    }
  }

  @include breakpoint-medium {
    > div.row > div.col-xs-6 {
      height: 225px;
    }
  }

  // Adds the underline to the menu options
  div.title {
    margin: 8px 0;
    position: relative;
    @include brand-primary-font($size: 13);
  }
  
  div.reg {
    font-size: 12px;
    line-height: 30px;
    text-align: center;
    a
    {
      cursor: pointer;
    }
  }

  .reg_title{
    white-space: pre;
margin-bottom: 15px;
  }

  .reg_space{
    margin-top: 30px !important;
  }

  // Navigation menu collections
  ul {
    list-style-type: none;
    padding-left: 0;

    li {

    }
  }

  ul.social {

    li {
      width: 50px;

      &:first-child {
        margin-top: 10px;
      }

      a {
        img {
          width: 50px;
          height: 19px;
        }
      }

    }
  }

  button.newstter_signup{
    border: none;
    background-color: #000 !important;
    color: #fff !important;
    font-size: 13px;
    cursor: pointer;
    /*font-weight: 600 !important;*/
    padding: 0 !important;
  }

  .ksocialicons{
    i {
      font-size: 21px !important;
    }
  }
  .reg {
    position: relative;
    .drop {
      display: inline-block;
      position: relative;
      a {
        display: block;
      }
      .footer-dropdown {
        @include border-radius(0);
        margin-top: 0px;
        border: none !important;
        width: auto;
        box-shadow: initial;
        background: #b0b0b0;
        overflow: hidden;
        z-index: 9999999;
        padding: 0;
        position: absolute;
        top: 80%;
        left: 50%;
        display: none;
        padding: 0px 25px;
        min-width: 100%;
        list-style: none;
        text-align: center;
        margin-left: 0px;
        transform: translate(-50%, 0%);
        li {
          padding: 0px;
          margin: 0px;
          white-space: nowrap;
          text-transform: uppercase;
          a{
            &:hover
            {
              color: #FFF !important;
            }
          }
        }
      }
      &:hover .footer-dropdown {
        display: block;
      }
    }
  }

}

.empowered{
  padding:0 40px;
  @include brand-secondary-font-book($size: 12);
  font-size: 12px;
}

// Make all images responsive by default
.row [class*='col-'] img {
  width: 100%;
  height: auto;
}

// Universal styles for modal
.modal {

z-index:999999;
  .close {
    font-size: 25px;
    opacity: 1;
    span {
      font-size: 25px;
    }
  }
}

.page-title {
  border-bottom: 1px solid #e7e7e7;

  @include headers {
    @include brand-primary-font($size: 14);
  }
}

hr {
  margin: 0;
  border-bottom: 1px solid #000;
  margin-bottom: 1px;
}

// Hover effect for products in columns
.product-hover {
  width: 100%;
  height: 75px;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
  color: white;
  background: rgba(0, 0, 0, .5);

  div {
    @include breakpoint-large-up {
      padding-top: 5px;
    }
    padding-top: 10px;

    p {
      text-align: center;

      &:first-child {
        @include breakpoint-medium-up {
          @include font-size(16);
        }
        @include font-size(13);
      }

      &:last-child {
        @include breakpoint-medium-up {
          @include font-size(14);
        }
        @include font-size(12);
      }
    }
  }
}

.free-shipping-notification {
	background: #fff;
	color: #000;
	margin: 0 !important;
	padding-left: 30px;
	height: 27px;
	line-height: 29px;
	position: relative;
	@include breakpoint-mobile-menu {
		padding: 0px 10px;
	}
	@include headers {
		padding-top: 2px;
	}
  	.toptext
	{
		@include brand-primary-font($size: 8);
		text-transform: uppercase;
		white-space: nowrap;
		a {
			color: #000;
			&:hover
			{
				color: #000;
				text-decoration: underline;
				span
				{
					text-decoration: underline;
				}
			}
			i
			{
				margin-left: 4px;
			}
		}
	}
	
	.hideformobile
	{
		display: inline-block;
		@include breakpoint-mobile-menu {
			display: none;
		}
	}
}



.val-selector {
    background-color: #FFFFFF;
    border: 1px solid #DDDDDD;
    cursor: pointer;
    display: inline-block;
    float: left;
    height: 29px;
    min-width: 100px;
    position: relative;
    text-align: left;
    @include brand-secondary-font-book($size: 14);
    font-size: 14px;
    font-style: normal;
    /*font-size: 12px;*/
}

.val-selector .valtext {
    float: left;
    line-height: 27px;
    /*text-transform: capitalize;*/
    width:100%;
    font-size: 12px;
    text-transform: uppercase;
}

.val-selector .valarrow:before {
    content: "\f0d7";
    font-family: 'FontAwesome';
    position: absolute;
    top: 0px;
    right: 15px;
    line-height: 27px;
    font-size: 12px;
    color: #000;
}

.val-selector .valoptions {
    background-color: #FFFFFF;
    border: 1px solid #000;
    display: none;
    font-size: 10px;
    left: -1px;
    line-height: 14px;
    position: absolute;
    top: 27px;
    width: 100%;
    box-sizing: content-box;
    z-index: 99;
    padding: 10px 0;
}

.val-selector .prodvalcont {
    padding-left: 10px;
    padding-right: 25px;
    box-sizing: content-box;
    height: 100%;
    display: block;
}

.val-selector .valoptions .suboption {
    background-color: #FFFFFF;
    font-size: 12px;
    line-height: 24px;
    padding-left: 10px;
    text-align: left;
    /*text-transform: uppercase;*/
    &:hover
    {
	    background: lightgray;
    }
}

.val-selector {
    background-color: #FFFFFF;
    border: 1px solid #000;
    color:#000;
    cursor: pointer;
    display: inline-block;
    float: left;
    height: 29px;
    min-width: 100px;
    position: relative;
    text-align: left;
    overflow: visible;
    width: auto;
    margin: 0 0 4px 0;
}

.val-selector .valoptions {
    max-height: 400px;
    overflow-y: auto;
}

.val-selector select
{
	display: none;
}

.pagetitle
{
	text-align: center;
	/*line-height: 53px;*/
	/*height: 143px;*/
	@include brand-primary-font($size: 24);
  font-size: 28px;
	text-transform: uppercase;
	/*padding: 10px 0px;*/
  background: #fff;
  /*margin-bottom: 20px;*/
  color:#000;
  /*line-height: 88px;*/
  line-height: 27px;
  padding-top: 40px;
  margin-bottom: 40px;
  @include breakpoint-xsmall {
    /*min-height: 143px;*/
    height: auto;
    font-size: 32px;
    /*padding-top: 43px;*/
    line-height: 24px;
  }
}

.ehh
{
	overflow: hidden;
}

.ksocialicons a
{
	margin-right: 22px;
	font-size: 15px;
	color: #000;
	
	&:hover
	{
		color: #333;
	}
}

.shopping-bag
{
	@include breakpoint-mobile-menu {
		display: none;
		&.mobilemenubag
		{
			display: block;
          color: #FFF;
		}
	}
  &:hover{
    color: #000 !important;
  }
}

a:hover {
  color: #000;
  /*text-decoration: underline;*/
}

.main-content{
  @include brand-primary-font($size: 12);
}

.z-preloader div{
  color:#000 !important;
}

label#qty-error{
  margin-left: 4px;
  @include brand-secondary-font-book($size: 10);

}

.homepage_loader{
  width:128px;
  margin:0 auto;
  text-align: center;
}

.products_row{
  margin:20px 0;
}

.signupupdates{
  margin-right: 8px;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #000 ;
}

.navbar-toggle .icon-bar.activated{
  background-color: #888 !important;
}
