<table class="billing">
    <tbody>
    <tr>
        <td>state</td>
        <td>
            <select name="state" class="z-select" data-rule-state="true" data-msg-state="Please select a state">
                <option value="">Select a State</option>
                {% for state in states %}
                    <option value="{{ state.code }}">{{ state.name }}</option>
                {% endfor %}
            </select>
        </td>
    </tr>
    <tr>
        <td><span class="zipcode required">*</span>zip code</td>
        <td>
            <input name="zipcode" type="text" required/>
        </td>
    </tr>
    <tr>
        <td><span class="required">*</span>country</td>
        <td>
            <select name="country" class="z-select" required>
                <option value="">Select a Country</option>
                {% for country in countries %}
                    <option value="{{ country.code }}">{{ country.name }}</option>
                {% endfor %}
            </select>
        </td>
    </tr>
    <tr>
        <td><span class="required">*</span>email</td>
        <td>
            <input name="email" type="email" required/>
            <input name="contact" type="hidden" required/>
        </td>
    </tr>
    <tr>
        <td><span class="required">*</span>phone</td>
        <td>
            <input name="phone" type="text" required/>
        </td>
    </tr>
    <tr style="display:none;">
        <td>fax</td>
        <td>
            <input name="fax" type="text"/>
        </td>
    </tr>
    </tbody>
</table>
