<table class="billing">
    <tbody>
        <tr style="display:none;">
            <td>company</td>
            <td>
                <input name="company" type="text" />
            </td>
        </tr>
        <tr>
            <td><span class="required">*</span>first name</td>
            <td>
                <input name="fname" type="text" required/>
            </td>
        </tr>
        <tr>
            <td><span class="required">*</span>last name</td>
            <td>
                <input name="lname" type="text" required/>
            </td>
        </tr>
        <tr>
            <td><span class="required">*</span>address</td>
            <td>
                <input name="address" type="text" required/>
            </td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>
                <input name="address2" type="text" />
            </td>
        </tr>
        <tr>
            <td><span class="required">*</span>city</td>
            <td>
                <input name="city" type="text" required/>
            </td>
        </tr>
    </tbody>
</table>
