<div class="visible-xs">
    <table class="summary">
        <tr>
            <td class="detail">Bill To:</td>
        </tr>
        <tr>
            <td>
                <div class="address">
                    <ul>
                        <li>{{ session.orderinfo.fname|title }} {{ session.orderinfo.lname|title }}</li>
                        {% if session.orderinfo.company is not empty %}
                            <li>{{ session.orderinfo.company|title }}</li>
                        {% endif %}
                        <li>{{ session.orderinfo.address|title }}</li>
                        {% if session.orderinfo.address2 is not empty %}
                            <li>{{ session.orderinfo.address2|title }}</li>
                        {% endif %}
                        <li>{{ session.orderinfo.city|title }}, {{ session.orderinfo.state|title }}, {{ session.orderinfo.zipcode }}</li>
                        {% if session.orderinfo.country|lower != 'us' %}
                            <li>{{ session.orderinfo.country|upper }}</li>
                        {% endif %}
                    </ul>
                </div>
            </td>
        </tr>
        <tr>
            <td class="detail">Ship To:</td>
        </tr>
        <tr>
            <td>
                <div class="address">
                    <ul>
                        <li>{{ session.orderinfo.ship_fname|title }} {{ session.orderinfo.ship_lname|title }}</li>
                        {% if session.orderinfo.company is not empty %}
                            <li>{{ session.orderinfo.company|title }}</li>
                        {% endif %}
                        <li>{{ session.orderinfo.ship_address1|title }}</li>
                        {% if session.orderinfo.ship_address2 is not empty %}
                            <li>{{ session.orderinfo.ship_address2|title }}</li>
                        {% endif %}
                        <li>{{ session.orderinfo.ship_city|title }}, {{ session.orderinfo.ship_state|title }}, {{ session.orderinfo.ship_zip }}</li>
                        {% if session.orderinfo.ship_country|lower != 'us' %}
                            <li>{{ session.orderinfo.ship_country|upper }}</li>
                        {% endif %}
                    </ul>
                </div>
            </td>
        </tr>
        <tr>
            <td class="total">
                <ul>
                    <li><span class="total-text">Sub-total:</span> <span>${{ session.cart.total|number_format(2) }}</span></li>
                    <li><span class="total-text">Tax:</span> <span>${{ session.cart.taxes()|number_format(2) }}</span></li>
                    <li><span class="total-text">Shipping:</span> <span>${{ session.cart.totshipping|number_format(2) }}</span></li>
                    {% if session.cart.coupondiscount %}
                        <li><span class="total-text">Discount:</span> <span>${{ session.cart.coupondiscount|number_format(2) }}</span></li>
                    {% endif %}
                    {% if session.cart.giftCertAmount > '.01' %}
                        <li><span class="total-text">Gift Certificate:</span> <span>${{ session.cart.giftCertAmount|number_format(2) }}</span></li>
                    {% endif %}
                    <li><span class="total-text">Total:</span> <span>${{ session.cart.recalc_total()|number_format(2) }}</span></li>
                </ul>
            </td>
        </tr>
    </table>
</div>

<div class="hidden-xs">
    <table class="summary">
        <tr>
            <td class="detail">Bill To:</td>
            <td>
                <div class="address">
                    <ul>
                        <li>{{ session.orderinfo.fname|title }} {{ session.orderinfo.lname|title }}</li>
                        {% if session.orderinfo.company is not empty %}
                            <li>{{ session.orderinfo.company|title }}</li>
                        {% endif %}
                        <li>{{ session.orderinfo.address|title }}</li>
                        {% if session.orderinfo.address2 is not empty %}
                            <li>{{ session.orderinfo.address2|title }}</li>
                        {% endif %}
                        <li>{{ session.orderinfo.city|title }}, {{ session.orderinfo.state|title }}, {{ session.orderinfo.zipcode }}</li>
                        {% if session.orderinfo.country|lower != 'us' %}
                            <li>{{ session.orderinfo.country|upper }}</li>
                        {% endif %}
                    </ul>
                </div>
            </td>
            <td class="detail">Ship To:</td>
            <td>
                <div class="address">
                    <ul>
                        <li>{{ session.orderinfo.ship_fname|title }} {{ session.orderinfo.ship_lname|title }}</li>
                        {% if session.orderinfo.company is not empty %}
                            <li>{{ session.orderinfo.company|title }}</li>
                        {% endif %}
                        <li>{{ session.orderinfo.ship_address1|title }}</li>
                        {% if session.orderinfo.ship_address2 is not empty %}
                            <li>{{ session.orderinfo.ship_address2|title }}</li>
                        {% endif %}
                        <li>{{ session.orderinfo.ship_city|title }}, {{ session.orderinfo.ship_state|title }}, {{ session.orderinfo.ship_zip }}</li>
                        {% if session.orderinfo.ship_country|lower != 'us' %}
                            <li>{{ session.orderinfo.ship_country|upper }}</li>
                        {% endif %}
                    </ul>
                </div>
            </td>
            <td class="total">
                <ul>
                    <li><span class="total-text">Sub-total:</span> <span>${{ session.cart.total|number_format(2) }}</span></li>
                    <li><span class="total-text">Tax:</span> <span>${{ session.cart.taxes()|number_format(2) }}</span></li>
                    <li><span class="total-text">Shipping:</span> <span>${{ session.cart.totshipping|number_format(2) }}</span></li>
                    {% if session.cart.coupondiscount %}
                        <li><span class="total-text">Discount:</span> <span>${{ session.cart.coupondiscount|number_format(2) }}</span></li>
                    {% endif %}
                    {% if session.cart.giftCertAmount > '.01' %}
                        <li><span class="total-text">Gift Certificate:</span> <span>${{ session.cart.giftCertAmount|number_format(2) }}</span></li>
                    {% endif %}
                    <li><span class="total-text">Total:</span> <span>${{ session.cart.recalc_total()|number_format(2) }}</span></li>
                </ul>
            </td>
        </tr>
    </table>
</div>
