<table class="header">
    <thead>
    <th class="image">item</th>
    <th class="description">description</th>
    <th class="quantity">quantity</th>
    <th class="price">price</th>
    </thead>
    <tbody>
    {% for cartItem in registry.get('cartItems') %}
    {% spaceless %}
    <tr>
        <td class="image">
            <img src="{{ cartItem.image }}" />
            <input type="hidden" name="id[]" value="{{ cartItem.itemKey }}"/>
        </td>
        <td class="description">
            <span>{{ cartItem.details.get_name() }}</span>
            <div class="properties">
                {% for name, value in cartItem.properties %}
                    <span class="name">{{ name|title }}:</span><span class="value">{{ value|upper }}</span>
                {% endfor %}
            </div>
        </td>
        <td class="quantity">
            <span><input type="text" name="qty[]" value="{{ cartItem.details.get_qty() }}" /></span>
            <div>
                <a href="#" class="update">Update</a>
            </div>
        </td>
        <td class="price">
            <span>${{ cartItem.details.get_price()|number_format(2) }}</span>
            <input type="hidden" name="price[]" value="{{ cartItem.details.get_price() }}" />
            <div>
                <a href="#" class="delete" data-cart-item-id="{{ cartItem.itemKey }}">Delete</a>
            </div>
        </td>
    </tr>
    {% endspaceless %}
    {% endfor %}
    </tbody>
</table>
