{% import "form.macros.twig" as forms %}
<div class="modal fade" id="personalShopperModal" tabindex="-1" role="dialog" aria-labelledby="personalShopperTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                    	<div class="personal-header">PERSONAL SHOPPER & CONTACT US</div>
                    	<div class="call-us"><i class="fa fa-phone"></i><span>call</span> (877) 212-8450</div>
                    	<div class="email-us"><i class="fa fa-envelope"></i><span>email</span> <a href="mailto:kayunger@zindigo.com">kayunger@zindigo.com</a></div>
						<div class="form">
							<div class="submit-below">or, submit an inquiry below</div>
							{{ forms.form_open("personal-shopper-form", "personal-shopper-form", "index.php?storeid=#{controller.storeId}&page=personalshopper", 'POST') }}
							<div class="row">
							    <div class="col-xs-12">
							        <input name="name" placeholder="NAME*" required />
							    </div>
							    <div class="col-xs-12">
							        <input name="email" placeholder="EMAIL ADDRESS*" data-rule-email="true" required />
							    </div>
							    <div class="col-xs-12">
							        <input name="telephone" placeholder="TELEPHONE" />
							    </div>
							    <div class="col-xs-12">
							        <input name="comments" placeholder="COMMENTS*" required />
							    </div>
							    <div class="col-xs-12">
							        <button class="btn btn-default text-center ladda-button" data-size="xs" data-style="zoom-out" type="submit">
							            SUBMIT
							        </button>
							    </div>
							</div>
							<input type="hidden" name="token" value="" />
							<input type="hidden" name="tokenCipher" value="" />
							{{ forms.form_close() }}
						</div>
						<div>
						<div class="assist-text">we can assist you with:</div>
						<div class="choose-text">
							<div>Choosing the latest must-have pieces for you</div>
							<div>Find the perfect gift</div>
							<div>Sizing advice</div>
							<div>Product Information</div>
							<div>Ordering and shipping information</div>
						</div>
						<div class="required"><span>*</span>REQUIRED</div>
						</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
