{% import "form.macros.twig" as forms %}
<div class="modal fade" id="sweepstakes" tabindex="-1" role="dialog" aria-labelledby="newsletterTitle" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xs-12 text-center">
                            <div class="form">
                                {{ forms.form_open("sweepstakes-form", "sweepstakes-form", "index.php?storeid=#{controller.storeId}&page=sweepstakes", 'GET') }}
                                <h6>please complete the following information</h6>
                                <h6>to qualify for the sweepstakes</h6>

                                <div class="row">
                                    <div class="col-sm-6 col-xs-12">
                                        <div>
                                            <input type="text" name="first_name" placeholder="first name" required>
                                        </div>
                                        <div>
                                            <select name="birthmonth" class="z-select">
                                                <option value="">
                                                    BIRTH MONTH
                                                </option>
                                                {% for monthIdx in range(1, 12) %}
                                                    <option value="{{ monthIdx }}">{{ monthIdx|date('2014-' ~ monthIdx ~ '-01')|date('F') }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div>
                                            <select name="country" class="z-select" required>
                                                <option value="">
                                                    COUNTRY
                                                </option>
                                                {% for countryRow in registry.get('countries') %}
                                                    {% if countryRow.country_code == 'US' %}
                                                        <option value="{{ countryRow.country_code }}" selected>{{ countryRow.country|title }}</option>
                                                    {% else %}
                                                        <option value="{{ countryRow.country_code }}">{{ countryRow.country|title }}</option>
                                                    {% endif %}
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div>
                                            <select name="gender" class="z-select">
                                                <option value="">
                                                    GENDER
                                                </option>
                                                {% for gender in ['male','female'] %}
                                                    <option value="{{ loop.index }}">{{ gender|title }}</option>
                                                {% endfor %}

                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-xs-12">
                                        <div>
                                            <input type="text" name="last_name" placeholder="last name" required>
                                        </div>
                                        <div>
                                            <select name="birthday" class="z-select">
                                                <option value="">
                                                    BIRTH DAY
                                                </option>
                                                {% for day in range(1, 31) %}
                                                    <option value="{{ day }}">{{ day }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div>
                                            <input type="text" name="zip" placeholder="zip or postal code" required>
                                        </div>
                                        <div>
                                            <input type="text" name="mobile" class="mobile" placeholder="mobile (for the best deals!)">
                                        </div>
                                    </div>
                                    <div class="col-xs-12">
                                        <div>
                                            <button type="submit" class="btn btn-default">SUBMIT</button>
                                        </div>
                                        <div>
                                            <span class="required">*REQUIRED</span>
                                        </div>
                                    </div>
                                </div>
                                <input type="hidden" name="email" value="" />
                                {{ forms.form_close() }}
                            </div>
                            <div class="thankyou hidden">
                                <h6>Thank you for your submission!</h6>
                            </div>
                            <div class="col-xs-12">
                                Sponsored by ZINDIGO. <a href="http://marketing.zindigo.com/terms.html">Terms and Conditions.</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
