{% import "form.macros.twig" as forms %}
<style>
#newsletter .modal-content
{
  background: url(/templates/33/images/ku_popup_bg.png) no-repeat top left; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
</style>
<div class="modal fade" id="newsletter" tabindex="-1" role="dialog" aria-labelledby="newsletterTitle" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xs-12 text-center">
                            <div class="form">
                                {{ forms.form_open("newsletter-form", "newsletter-form", 'http://marketing.zindigo.com/ajax.php', 'GET') }}
                                {{ forms.hidden_input('sid', 'sid', "#{ controller.storeId }") }}
                                <div class="newpopuptext">Get on our list and discover the latest designs and insider specials.</div>
                                <div class="signupnow">SIGN UP NOW. BE THE FIRST TO KNOW.</div>
                                <input name="name" id="name" placeholder="Name *" data-rule-name="true" required/>
                                <input name="email" id="email" placeholder="Email Address *" data-rule-email="true" required/>
                                <div class="endofpopup">
                                    <a class='signup' href="#">SUBMIT</a>
                                </div>
                                {{ forms.form_close() }}
                                <div class="thisrequired">*REQUIRED</div>
                            </div>
                            <div class="thankyou hidden">
                                <h6>Thank you for your submission!</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
