<div class="modal fade" id="video" tabindex="-1" role="dialog" aria-labelledby="videoTitle" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xs-12 text-center">
                            <div class="flowplayer">
                                <video>
                                    <source type="video/mp4" src="/videos/nesh_popup_modal.mp4">
                                    <source type="video/ogg" src="/videos/nesh_popup_modal.ogg">
                                    <source type="video/webm" src="/videos/nesh_popup_modal.wpm">
                                </video>
                            </div>
                            <h6 class="text-left">everywear. everywhere.</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
