<link href="/js/featherlight/release/featherlight.min.css" type="text/css" rel="stylesheet" />
<link href="/js/ladda/dist/ladda-themeless.min.css" type="text/css" rel="stylesheet" />
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<style type="text/css">
.lightbox_optin {
    display: none;
    color: black;
    letter-spacing: normal !important;
}
.lightbox_optin *::-moz-placeholder{
    color:black;
}

.lightbox_optin label{
    font-weight: normal !important;
    /*float: none !important;*/
    color: #000 !important;
    font-size: 14px !important;
    font-weight: none !important;
    height: 21px !important;
    line-height: 22px !important;
    
}

.lightbox_optin .header{
    padding: 10px;
    height: auto !important;
    width: auto !important;
    background: black;
    text-align: center;
}

.lightbox_optin .header h4{
    font-size: 16px !important;
    text-transform: uppercase !important;
    font-weight: normal !important;
    font-family: inherit !important;
    text-align: center !important;
    margin-bottom: 0 !important;
    margin-top: 0 !important;
    color: white !important;
    letter-spacing: 2px !important;
}

.lightbox_optin .body{
    background: white;
    padding: 20px 20px 0 20px;
    width: auto !important;
    position: relative;
    font-size: 14px !important;
}

.featherlight {
    z-index: 9999999;
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.8) !important;
}

.featherlight .featherlight-close-icon {
    z-index: 9999999999;
    background: transparent;
    color: white;
    font-size: 20px;
    top: 10px;
    right: 5px;
}

.featherlight .featherlight-content {
    padding: 0;
    border-bottom-width: 0;
    min-width: inherit !important;
}

#modal_share{
    width: 762px;
}

#modal_share .semi-columns{
    width: 50%;
    float:left;
    min-width: 264px;
}

#modal_share .semi-columns.right{
    width: 48% !important;
    float:left;
    min-width: 264px;
    margin-left: 10px;
}

#modal_share .product_image{
    max-width:100%;
    height:auto;
    width: 380px;
    margin-bottom: 10px;
}

#modal_share .title{
    text-align:left;
    text-transform: uppercase;
}

#modal_share .subtitle{
    text-align:left;
}

#modal_share .share_box{
    width:57px;
    height:57px;
    float:left;
    margin-right: 9px;
}

#title_row {
    text-align:left;
    font-size: 40px !important;
    line-height: 40px !important;
}

#modal_share span.title{
    text-align:left;
    font-size: 40px !important;
    line-height: 40px !important;
    font-style: normal !important;
    margin: 0 !important;
    float: none !important;
}

#modal_share span.subtitle{
    text-align:left;
    font-size: 20px !important;
    margin-top: 7px !important;
    margin: 0 !important;
    float: none !important;
}

#subtitle_row{
    text-align:left;
    font-size: 20px !important;
    margin-top: 7px !important;
}

#modal_share .share_row{
    margin-top:10px;
    margin-bottom:10px;
}

#modal_share .share_button{
    width:256px;
    height:37px;
    background: #666666;
    color:#ffffff;
    font-weight: bold;
    text-align: center;
}

#modal_share .share_button .button_label{
    margin-top:10px !important;
}

#modal_share .links_container{
    margin-top:50px;
}

.form_row{
    width:100%;
    float:left;
}

.form_colum input{
    margin-top: 5px !important;
}

.form_colum label{
    margin-top: 5px !important;
}

.form_colum{
    width:45%;
    float:left;
}

.form_space_colum{
    width:10%;
    float:left;
}

#email_container{
    display: none;
    margin-bottom: 10px;
}

#email_content{
    
    width: 756px;
    border: 1px solid #a4a4a4 !important;
    height: 70px;
}

.form_label_checkbox{
    width: 14px !important;
    height: 14px  !important;
}

#download_image_link .share_button:hover{
    background-color: #999999 !important;
}

.lightbox_optin input[type=text] {
    border: 1px solid #a4a4a4 !important;
    font-size: 12px !important;
    font-family: inherit !important;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1) inset !important;
    color: rgba(0, 0, 0, 0.75) !important;
    display: block !important;
    width: 100% !important;
    text-align: left !important;
    padding: 5px 0 5px 5px; !important;
    box-sizing: border-box;
}

.lightbox_optin input[type=checkbox] {
    -webkit-appearance:checkbox;
}

.lightbox_optin button {
    width: 100% !important;
    text-transform: uppercase;
    font-size: 12px !important;
    padding: 8px !important;
    background: black !important;
    border: 0;
    margin: 0 auto;
    color: white !important;
    box-sizing: border-box !important;
}

@media screen and (max-width: 779px) {
    .lightbox_optin .body img{
        width: 100% !important;
    }

    #modal_share {
        width: 304px;
    }

    .form_colum{
        min-width: 260px;
    }

    #email_content{
        width:256px !important;
    }
    .form_space_colum{
        display: none;
    }

    #modal_share .links_container{
        margin-top:20px;
        margin-bottom: 20px;
    }

    #modal_share .form_container{
        margin-top:20px;
        margin-bottom: 20px;
    }

    .product_image{
        width: 200px;
        margin-bottom: 0px;
    }

    .second_row{
        padding-top: 10px;
    }

    #modal_share h2{
        margin-bottom: 0px;
    }

    #modal_share .product_image{
        width: 220px;
        margin-bottom: 0px;
    }

    #modal_share .form_checkbox span{
        width: 235px;
    }

    #modal_share .semi-columns.right{
        width: 50% !important;
        float:left;
        min-width: 264px;
        margin-left: 0;
    }
}

</style>
<script src="/js/featherlight/release/featherlight.min.js"></script>
<script type="text/javascript" src="/node_modules/zeroclipboard/dist/ZeroClipboard.js"></script>
<script src="//code.jquery.com/jquery-migrate-1.0.0.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jqplugin/1.0.2/jquery.jqplugin.min.js"></script> 

<script type="text/javascript">
function urldecode(str) {
  return decodeURIComponent((str + '')
    .replace(/%(?![\da-f]{2})/gi, function() {
      // PHP tolerates poorly formed escape sequences
      return '%25';
    })
    .replace(/\+/g, '%20'));
}

function getQueryVariable(variable,url) {
    var query=url.split("?");
    var vars = query[1].split("&");
    for (var i=0;i<vars.length;i++) {
        var pair = vars[i].split("=");
        if (pair[0] == variable) {
            return pair[1];
        }
    } 
    console.log('Query Variable ' + variable + ' not found');
}

function getShareUrlSiS(){
    var param = 'storeid={{ controller.getStoreId(false) }}&page=product&prodid={{ product.details.ID }}';
    var url = 'https://shops.zindigo.com/{{ uniquename }}?pageparams='+encodeURIComponent(param)+'&insidestore={{ controller.getStoreId(false) }}';
    var shorturl = '';
    $.ajax({
        type: "POST",
        url: "/json/shorturl.php",
        data: { url: url},
        dataType: 'json',
        success: function(data){
            console.log(data);
            shorturl=data['shorturl'];
        },
        async:false
    });
    console.log(shorturl);
    return shorturl;

}

$('#prod-btn-share').click(function(){
    var image_src = $('#big-image img').attr('src');
    $('#download_image_link').attr('href',image_src);
    if ( window.location !== window.parent.location ) {
        $('#copy_image_link').attr('data-clipboard-text',getShareUrlSiS());
    } else {
        $('#copy_image_link').attr('data-clipboard-text',$('#copy_link_field').val());
    }

    $('span.title').html($('#brand_field').val());
    $('span.subtitle').html($('#productname_field').val());

    $('#modal_share img.product_image').attr('src',image_src);
    $('#modal_share #email_container').hide();
    $('#modal_share #share_container').show();
    $.featherlight('#modal_share');
    $('#modal_share #copy_image_link').each(function(){
        $(this).mouseover(function(){
            $(this).css('background-color','#999999');
        }).mouseout(function(){
            $(this).css('background-color','#666666');
        });
        if ($.browser.flash == true) {
            var client = new ZeroClipboard($(this));
            $(this).click(function(){
                alert('Link copied!');
                $(this).css('background-color','#666666');
            });
        } else {
            $(this).click(function(){
                $('.textarea_copy_link').val($('#copy_link_field').val());
                $('.link_container').slideToggle("slow");
            });
        }
    });
});

// $(document).on('click','#modal_share a.facebook_shareurl_button',function(){
//  var href=$(this).attr('href');
//  $.ajax({
//         url: "/facebook_scraper.php",
//         type: 'POST',
//         dataType: 'json',
//         data: {url_to_share:href},
//         success: function(data){
//          window.location.href = "http://www.facebook.com/sharer/sharer.php?u="+encodeURIComponent(href);
//         }
//  });
//  return false;
// });

function opennewwindow(url){
    var win=window.open(url, '_blank');
    win.focus();
}

$(document).ready(function() {
    $(document).on('click','div.button-container a:eq(0)',function(){
        var href=$(this).attr('href');
        if ( window.location !== window.parent.location ) {
            href = 'http://www.facebook.com/sharer/sharer.php?u='+encodeURIComponent(getShareUrlSiS());
        } 
        opennewwindow(href);
        return false;
    });

    $(document).on('click','div.button-container a:eq(1)',function(){
        var href=$(this).attr('href');
        var text = urldecode(getQueryVariable('text',href));
        text = encodeURIComponent(text+' from '+$('#modal_share #brand_field').val());
        var source = getQueryVariable('source',href);
        var original_referer = getQueryVariable('original_referer',href);
        if ( window.location !== window.parent.location ) {
            var url = encodeURIComponent(getShareUrlSiS());
            var original_referer = encodeURIComponent(getShareUrlSiS());
        } else {
            var url = getQueryVariable('url',href);
            var original_referer = getQueryVariable('original_referer',href);
        }
        href = 'https://twitter.com/intent/tweet?original_referer='+original_referer+'&source='+source+'&text='+text+'&url='+url;
        opennewwindow(href);
        return false;
    });


});

$(document).on('click','#modal_share a.facebook_shareurl_button',function(){
    var href=$('#modal_share #facebook_link_field').val();
    if ( window.location !== window.parent.location ) {
        href = 'http://www.facebook.com/sharer/sharer.php?u='+encodeURIComponent(getShareUrlSiS());
    } else {
        href = 'http://www.facebook.com/sharer/sharer.php?u='+encodeURIComponent(href);
    }
    opennewwindow(href);
    return false;
}); 

$(document).on('click','#modal_share a.twitter-button',function(){
    var href=$('#modal_share #twitter_link_field').val();
    var text = urldecode(getQueryVariable('text',href));
        text = encodeURIComponent(text+' from '+$('#modal_share #brand_field').val());
        var source = getQueryVariable('source',href);
        var original_referer = getQueryVariable('original_referer',href);
        if ( window.location !== window.parent.location ) {
            var url = encodeURIComponent(getShareUrlSiS());
            var original_referer = encodeURIComponent(getShareUrlSiS());
        } else {
            var url = getQueryVariable('url',href);
            var original_referer = getQueryVariable('original_referer',href);
        }
        href = 'https://twitter.com/intent/tweet?original_referer='+original_referer+'&source='+source+'&text='+text+'&url='+url;
        opennewwindow(href);
    return false;
});

$(document).on('click','#modal_share a.pin-it-button',function(){
    var href=$('#modal_share #pinterest_link_field').val();
    var media = getQueryVariable('media',href);
    var description = urldecode(getQueryVariable('description',href));
    description = encodeURIComponent(description+' from '+$('#modal_share #brand_field').val());
    if ( window.location !== window.parent.location ) {
        var url = encodeURIComponent(getShareUrlSiS())
    } else {
        var url = getQueryVariable('url',href);
    }
    href = 'http://pinterest.com/pin/create/button/?url='+url+'&media='+media+'&description='+description;
    
    {% if papuserid is empty %}
    opennewwindow(href);
    {% else %}
    var current = $.featherlight.current()
    current.close();
    $('.popup_close').attr('rel',href);
    $('.pinterest').show(); 
    return false;
    {% endif %}
});

$(document).on('click','#modal_share #email_share',function(){
    $('#modal_share #share_container').hide();
    $('#modal_share #email_container').show();  
    return false;
});

$(document).on('click','#modal_share #back_button',function(){
    $('#modal_share #email_container').hide();
    $('#modal_share #share_container').show();
    return false;
});

function validateEmail(email) { 
    var re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
    return re.test(email);
} 

$(document).on('click','#modal_share #submit_button',function(){
    var storeid = {{ controller.storeId }};
    
    var $optinModal = $('.featherlight');
    var $optinModalForm = $('.model_share_form:visible');

    $optinModalForm.find('#email_copy #d_clip_button').hide();

    var image = $('#big-image img').attr('src');
    var domain = 'http://'+window.location.hostname;

    if (image.indexOf(domain)<0){
        image=domain+'/'+image;
    }

    var data = {
        sid: storeid,
        action: "share_product_email",
        origin: $optinModalForm.find('input#origin').val(),
        email_origin: $optinModalForm.find('input#email_origin').val(),
        destination: $optinModalForm.find('input#destination').val(),
        email_destination: $optinModalForm.find('input#email_destination').val(),
        email_message: $optinModalForm.find('textarea#email_content').val(),
        email_copy: $optinModalForm.find('#email_copy').is(':checked'),
        zindigo_updates: $optinModalForm.find('input#zindigo_updates').is(':checked'),
        brand:$('#modal_share #brand_field').val(),
        model_name:$('#modal_share #model_name_field').val(),
        price:$('#modal_share #price_field').val(),
        productname:$('#modal_share #productname_field').val(),
        description:$('#modal_share #description').val(),
        url:$('#modal_share #url_field').val(),
        image:image,
    }

    console.log(data);

    if (data['origin']=='' || data['email_origin']=='' || data['destination']=='' || data['email_destination']==''){
        alert('Please fill in all the mandatory fields');
    } else {
        if (validateEmail(data['email_origin']) && validateEmail(data['email_destination'])){
            $.ajax({
                url: "http://marketing.zindigo.com/ajax.php",
                type: 'POST',
                dataType: 'json',
                crossDomain: true,
                data: data,
                beforeSend: function( xhr ) {
                    $optinModalForm.find('button#submit_button').html('SENDING <i class="fa fa-spinner fa-spin"></i>');
                },
                success: function(data){
                    if (data['error']==false){
                        $optinModalForm.find('button#submit_button').html('SENT <i class="fa fa-check"></i>');
                        setTimeout(function() {
                            $optinModalForm.find('button#submit_button').html('SEND');
                            $optinModalForm.find('input#origin').val('');
                            $optinModalForm.find('input#email_origin').val('');
                            $optinModalForm.find('input#destination').val('');
                            $optinModalForm.find('input#email_destination').val('');
                            $optinModalForm.find('textarea#email_content').val('I can see you wearing this! I had to share it with you.');
                            $optinModalForm.find('#email_copy').attr('checked', true);
                            $optinModalForm.find('input#zindigo_updates').attr('checked', true);
                            $('#modal_share #email_container').hide();
                            $('#modal_share #share_container').show();
                        }, 1000);
                    } else {
                        alert('The e-email address is not valid');
                        $optinModalForm.find('button#submit_button').html('SEND');
                    }
                }
            });
        } else {
            alert('The e-email address is not valid');
        }
    }

    
    return false;
});

$(document).on('click','#add_to_lookbook',function(e) {

    //if in iframe do this
    if(((window.name.indexOf('_fb') == -1) && window.location != window.parent.location))
    {
        console.log("is in iframe");
        try
        {
            parent.zindigoshop.lookbook.refreshLBnames();
            parent.document.getElementById("lb-add-item-id").value = '{{ product.details.ID }}';
            parent.document.getElementById("add-item-to-lb").style.display = 'block';
        } catch(err){
            console.log(err);
        }
    } else {
        $(".add-item-to-lb").show();
        $("#lb-add-item-id").val('{{ product.details.ID }}');

    }
});

</script>

<div id="modal_share" class="lightbox_optin">
    <fieldset style="border: medium none ! important; padding: 0px; margin: 0px;">
        <div class="header" style='font-family:"Lato",sans-serif !important'>
            <h4>SHARE</h4>
        </div>

        <div class='body'>
            <div id="share_container">
                <div class="semi-columns" style='text-align: center;'><img class='product_image' src="{{ product.images.images.LargePath }}"></div>
                <div class="semi-columns right">
                    <div id="title_row"><span class="title"></span></div>
                    <div id="subtitle_row"><span class="subtitle" style='font-family:"Lato",sans-serif !important'></span></div>
                    <div class='links_container' style='font-family:"Lato",sans-serif !important'>
                        <div class='share_row' style='height:57px !important'>
                            <div class='share_box'><a href="" class="pin-it-button" count-layout="none"><img src="/images/share_pinterest.png"></a></div>
                            <div class='share_box'><a href="" style="margin-right:5px;" class="twitter-button" data-count="none" data-dnt="true"><img src="/images/share_twitter.png"></a></div>
                            <div class='share_box'><a href="" class='facebook_shareurl_button'><img src="/images/share_facebook.png"></a></div>
                            <div class='share_box'><a href="" id="email_share"><img src="/images/share_email.png"></a></div>
                        </div>
                        <div class='share_row second_row'>
                            <div class='share_button' id="copy_image_link" data-clipboard-text="" style='cursor:pointer !important; padding-top:8px;'><span class='button_label'><i class='fa fa-link' style="font-size: 20px;margin-right: 5px;"></i>COPY LINK</span></div>
                            <div class="link_container" style="width: 256px;display: none;  ">
                                <textarea class="textarea_copy_link" style="border: 1px solid rgb(102, 102, 102); width: 252px; font-family: &quot;Lato&quot;,sans-serif ! important; font-size: 12px; height: 61px;">{{ socialUrls.producturl }}</textarea>
                            </div>
                        </div>
                        <div class='share_row'>
                            {% if chrome_check > 0 %}
                            <a href="{{ product.images.LargePath }}" id="download_image_link" download style='color:#fff !important;text-decoration: none!important;'><div class='share_button' style='padding-top:8px;'><span><i class='fa fa-picture-o' style="font-size: 20px;margin-right: 5px;"></i>DOWNLOAD IMAGE</span></div></a>
                            {% else %}
                            <a href="" id="download_image_link" download style='color:#fff !important;text-decoration: none!important;'><div class='share_button' style='padding-top:8px;'><span><i class='fa fa-picture-o' style="font-size: 20px;margin-right: 5px;"></i>SAVE IMAGE</span></div></a>
                            {% endif %}
                            {% if (registry.get('ispageOwner') is not empty and registry.get('ispageOwner') == true) %}
                            <div class='share_row'>
                                <div class='share_button' id="add_to_lookbook" style='cursor:pointer !important; padding-top:8px;'><span class='button_label'>&#10084; ADD TO LOOKBOOK</span></div>
                            </div>
                            {% endif %}
                        </div>
                        <input type='hidden' id='copy_link_field' value='{{ socialUrls.producturl }}'>
                        <input type='hidden' id='pinterest_link_field' value='{{ socialUrls.pinterest }}'>
                        <input type='hidden' id='twitter_link_field' value='{{ socialUrls.twitter }}'>
                        <input type='hidden' id='facebook_link_field' value='{{ socialUrls.producturl }}'>
                        <input type='hidden' id='brand_field' value='{{ registry.get('storename') | raw }}'>
                        <input type='hidden' id='model_name_field' value='{{ product.details.Name }}'>
                        <input type='hidden' id='productname_field' value='{{ product.details.Name }}'>
                        <input type='hidden' id='price_field' value='${{ product.details.StorePrice|number_format(2, '.', ',') }}'>
                        <input type='hidden' id='url_field' value='{{ action.productUrl }}'>
                        <input type='hidden' id='imgdownload_field' value='{{ product.images.LargePath }}'>
                    </div>
                </div>
            </div>
            <div id="email_container">
                <div class='form_container'>
                    <form method="POST" action="modal_share_ajax.php" class='model_share_form' style='font-family:"Lato",sans-serif !important'>
                        <div class='form_row'>
                            <div class='form_colum'>
                                <label for='origin' style="text-align:left;float:left;">YOU</label>
                                <input type='text' name='origin' id='origin' placeholder='NAME*' required>
                                <input type='text' name='email_origin' id='email_origin' placeholder='EMAIL ADDRESS*' required>
                            </div>
                            <div class='form_space_colum'>&nbsp;</div>
                            <div class='form_colum'>
                                <label for='destination' style="text-align:left;float:left;">YOUR FRIEND</label>
                                <input type='text' name='destination' id='destination' placeholder='NAME*' required>
                                <input type='text' name='email_destination' id='email_destination' placeholder='EMAIL ADDRESS*' required>
                            </div>
                        </div>
                        <div class='form_row' style="margin-top:20px !important;">
                            <label for='email_content' style="text-align:left;float:left;" id="email_content_label">MESSAGE</label>
                            <textarea name='email_content' id='email_content' style='font-family:"Lato",sans-serif !important;width:100%;'>I can see you wearing this! I had to share it with you.</textarea>
                            <input type='hidden' name='description' id='description' value='{{ product.details.Description|raw|striptags }}'>
                        </div>
                        <div class='form_row' style="margin-top: 20px;">
                            <label class='form_checkbox' style="line-height: 16px;"><input name="email_copy" id="email_copy" type="checkbox" style="height: 14px ! important; width: 14px ! important; float: left ! important;" checked='checked'><span style='margin-left:10px;text-align:left;text-transform:none !important;line-height: 16px;font-size: 14px !important; width: 88%;'>Please send me a copy of this email</span></label>
                        </div>
                        <div class='form_row'>
                            <label class='form_checkbox' style="line-height: 16px;"><input name="zindigo_updates" id="zindigo_updates" type="checkbox" style="height: 14px ! important; width: 14px ! important; float: left ! important;" checked='checked'><span style='margin-left:10px;text-align:left;text-transform:none !important; line-height: 16px;font-size: 14px !important; width: 88%;'>Yes, I would like to receive e-mail updates from Zindigo</span></label>
                        </div>
                        <div class='form_row' style='margin-top:20px;text-align: center !important;'>
                            <button data-style="slide-up" class="ladda-button" name="submit" type="button" id='submit_button' style='background-color:#6633cc!important;max-width: 50%;min-width: 256px;'>SEND</button>
                            <button data-style="slide-up" class="ladda-button" name="back" type="button" id='back_button' style="margin-top: 10px;background-color:#666 !important;max-width: 50%;min-width: 256px;">BACK</button>
                        </div>
                        <div class='form_row' style='margin-top:5px;text-transform: none !important;' class='text_footer'>
                            <p style='text-transform: none !important;font-size: 12px !important;text-align:left !important;margin-bottom:0!important;'>REQUIRED*</p>
                            <p style='text-transform: none !important;font-size: 12px !important;text-align:left !important;margin-top:0!important;margin-bottom: 20px;'>Please note: Zindigo will not sell or share email addresses you provide</p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </fieldset>
</div>


<style type="text/css">
    .interpopupbg
    {
        background: rgba(0,0,0,0.5);
        position: fixed;
        left: 0px;
        top: 0px;
        width: 100%;
        height:100%;
        display: none;
        z-index: 9999999;
        overflow: auto;
    }


    .interpopup
    {
        font-family:'Arial' !important;
        text-transform: uppercase;
        position: relative;
        left: 0px;
        right: 0px;
        margin: 0 auto;
        background-color: #FFF;
        max-width: 990px;
        top: 0px;
        color: #000 !important;
        line-height: normal !important;
    }

    .interpopup .morex
    {
        background: url('/ac/assets/images/moreinfox.png') no-repeat top center transparent;
        width: 18px;
        height: 23px;
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
    }

    .interpopup .interhead
    {
        font-family: 'bauerbodni_btitalic';
        font-size: 48px;
        font-style: italic;
        text-align: center;
        margin-bottom: 10px;
        line-height: normal;
    }

    .interpopup b
    {
        font-weight: normal;
        font-family: 'AvenirBold';
    }

    .interpopupsubhead
    {
        font-size: 14px;
        line-height: 20px;
        text-align: center;
    }
    .roadblock_pinterest{
        width: 60%;
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        margin: auto;
        border: 1px solid black;
        max-height: 360px;
        max-width: 600px;
        height: 90%;
        width: 90%;
        min-width: 300px;
        overflow-y: hidden;
        overflow-x: hidden;
    }
    .popup_row{
        width: 100%;
    }
    .popup_close{
        float: right;
        font-size: 32px !important;
        margin: 10px 10px 0 0;
        cursor: pointer;
    }
    .popup_text{
        text-align: center;
        font-size: 30px;
        line-height: 36px;
        text-transform: none;
    }
    .popup_black_row{
        background: black;
    }
    .popup_purple_text{
        color: #cc99ff;
        font-family: "AvenirNextLTPro-Regular" !important;
        font-size: 17px;
        font-style: italic;
        text-transform: uppercase;
    }
    .popup_become_ambassador{
        color: white;
        font-size: 18px;
        font-weight: bold;
    }
    .popup_purple_text_container{
        height:30%;
        padding-top:30px;
    }
    .popup_first_row{
        height:20%;
    }
    .fine_print{
        font-size: 12px;
    }
    @media screen and (max-width: 500px) {
        .popup_text{
            font-size: 21px;
        }
        .popup_purple_text{
            font-size: 16px;
        }
        .popup_become_ambassador{
            font-size: 11px;
            margin-top: 0px;
            height: auto;
            padding-top: 0px;
            line-height: 17px;
        }
        .popup_purple_text_container{
            padding-top:20px;
        }
        .popup_first_row{
            margin-top: 1px;
        }
    }
</style>

<script type="text/javascript">
    $(document).ready(function(){
        $('.close_row').click(function(){
            var href = $('.popup_close').attr('rel');
            $('.pinterest').hide();
            opennewwindow(href);
        });
        $('.popup_black_row').click(function(){
            {% if papuserid is empty %}
            opennewwindow('https://marketing.zindigo.com/');
            {% else %}
            opennewwindow('https://marketing.zindigo.com/?refid={{papuserid}}');
            {% endif %}
        });
        $('.close_pinterest').click(function(){
            $('.close_row').click();
        });
    });
</script>

<div class="interpopupbg pinterest">
    <div class="interpopup roadblock_pinterest">
        <div class="popup_row close_row" style="height:10%;cursor:pointer">
            <div class="popup_close" rel="">X</div>
        </div>
        <div class="popup_row popup_text close_pinterest" style="height:69%;color:#000 !important; padding: 27px 20px;cursor:pointer">
            <h2 style="font-weight: bold;">Ambassadors:</h2>  Please make sure you are logged into your shop before you Pin.<br><span class="fine_print">*So the Pin links back to <u>your</u> shop and you could earn <u>commission</u></span>
        </div>
        <div class="popup_row popup_text popup_black_row" style="height:21%;cursor:pointer">
            <div class="popup_purple_text">LOVE SOCIAL AND FASHION?</div>
            <div class="popup_become_ambassador">Become a Zindigo Ambassador and Earn 40% Commission!</div>
        </div>
    </div>
</div>