<div class="modal fade" id="sizeGuide">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
			    	<button type="button" class="close" data-dismiss="modal">
			        <span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
			</div>
			<div class="modal-body">
				<div class="container-fluid content" id="bra-size">
				    <div class="row">
				        <div class="col-xs-12">
				        
				        <div class="size-padding">
					        <div class="sizechartheader">How to Measure</div>
							<div class="sizecharttext">
								<div><span>Bust:</span> Measure over the fullest part of your bust.</div>
								<div><span>waist:</span> Measure around your natural waistline; keep your measuring tape loose and comfortable.</div>
								<div><span>hip:</span> Measure around the fullest part of your hips, 8" below your waist.</div>
							</div>
							<br/>
							<div class="sizechartheader">body measurement charts</div>
							<div class="sizecharttext">Measurements in inches. All Measurements are approximate.Certain styles may vary.</div>
				        </div>
						
						<br/><br/>
						<div class="sizechartheader">MISSY</div>
						<div class="table-responsive">
							<table cellspacing="0" cellpadding="0">
								<tr>
									<th>SIZE</th>
									<th>0</th>
									<th>2</th>
									<th>4</th>
									<th>6</th>
									<th>8</th>
									<th>10</th>
									<th>12</th>
									<th>14</th>
									<th>16</th>
									<th>18</th>
								</tr>
								<tr>
									<td>BUST</td>
									<td>32</td>
									<td>33</td>
									<td>34</td>
									<td>35</td>
									<td>36</td>
									<td>37</td>
									<td>38.5</td>
									<td>40</td>
									<td>41.5</td>
									<td>43.5</td>
								</tr>
								<tr>
									<td>WAIST</td>
									<td>25</td>
									<td>26</td>
									<td>27</td>
									<td>28</td>
									<td>29</td>
									<td>30</td>
									<td>31.5</td>
									<td>33</td>
									<td>34.5</td>
									<td>36.5</td>
								</tr>
								<tr>
									<td>HIPS</td>
									<td>34.5</td>
									<td>35.5</td>
									<td>36.5</td>
									<td>37.5</td>
									<td>38.5</td>
									<td>39.5</td>
									<td>41</td>
									<td>42.5</td>
									<td>44</td>
									<td>46</td>
								</tr>
							</table>
						</div>
						<br/><br/>
						<div class="sizechartheader">WOMEN&apos;S</div>
						<div class="table-responsive">
							<table cellspacing="0" cellpadding="0">
								<tr>
									<th>SIZE</th>
									<th>0</th>
									<th>2</th>
									<th>4</th>
									<th>6</th>
									<th>8</th>
									<th>10</th>
									<th>12</th>
									<th>14</th>
									<th>16</th>
									<th>18</th>
								</tr>
								<tr>
									<td>BUST</td>
									<td>32</td>
									<td>33</td>
									<td>34</td>
									<td>35</td>
									<td>36</td>
									<td>37</td>
									<td>38.5</td>
									<td>40</td>
									<td>41.5</td>
									<td>43.5</td>
								</tr>
								<tr>
									<td>WAIST</td>
									<td>25</td>
									<td>26</td>
									<td>27</td>
									<td>28</td>
									<td>29</td>
									<td>30</td>
									<td>31.5</td>
									<td>33</td>
									<td>34.5</td>
									<td>36.5</td>
								</tr>
								<tr>
									<td>HIPS</td>
									<td>34.5</td>
									<td>35.5</td>
									<td>36.5</td>
									<td>37.5</td>
									<td>38.5</td>
									<td>39.5</td>
									<td>41</td>
									<td>42.5</td>
									<td>44</td>
									<td>46</td>
								</tr>
							</table>
						</div>
						<br/>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
