<table class="shipping">
    <tbody>
       <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>state</td>
            <td>
                <select name="ship_state" class="z-select" data-rule-state="true" data-msg-state="Please select a state">
                    <option value="">Select a State</option>
                    {% for state in states %}
                    <option value="{{ state.code }}">{{ state.name }}</option>
                    {% endfor %}
                </select>
            </td>
        </tr>
        <tr>
            <td>zip code<span class="ship_zip required">*</span></td>
            <td>
                <input name="ship_zip" type="text" required/>
            </td>
        </tr>
        <tr>
            <td>country<span class="required">*</span></td>
            <td>
                <select name="ship_country" class="z-select" required>
                    <option value="">Select a Country</option>
                    {% for country in countries %}
                    <option value="{{ country.code }}">{{ country.name }}</option>
                    {% endfor %}
                </select>
            </td>
        </tr>
        <tr>
            <td>email<span class="required">*</span></td>
            <td>
                <input name="ship_email" type="email" required/>
                <input name="ship_contact" type="hidden" required/>
            </td>
        </tr>
        <tr>
            <td>phone<span class="required">*</span></td>
            <td>
                <input name="ship_phone" type="text" required/>
            </td>
        </tr>
        <tr style="display:none;">
            <td>fax</td>
            <td>
                <input name="ship_fax" type="text"/>
            </td>
        </tr>
    </tbody>
</table>
