<div class="container-fluid about-container">
	<div class="row">
		<div class="col-xs-12">
			<img src="/templates/33/images/views/about/about_bg.jpg" class="about-bg" style="opacity:0; max-height: 600px;" />
			<div class="about-overlay col-xs-12">
				<div class="row aligntext">
					<div class="col-xs-12">
						<div class="row">
							<div class="col-xs-12 aboutheader">ABOUT</div>
						</div>
						<div class="row">
							<div class="col-xs-12 col-md-4 col-md-offset-2 col-xs-offset-0 futuratext" style="padding-right: 15px;">
Kay Unger New York is a heritage brand. Our company vision has remained consistent for twenty-five years; to lead the market in special occasion dressing worldwide.  Our design philosophy is that art inspires life; and so we are inspired by you, our customer.
							</div>
							<div class="col-xs-12 col-md-4 futuratext">
		You have entrusted us with the most memorable moments of your lives. We continue to embrace your strength, beauty, and effervescence.  We invite you to rediscover yourself as you explore the new look of Kay. 
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
