<iframe id="blog" src="{{ url }}" width="100%" style="border:0;width:100%;height:100%;margin: 0px; padding: 0px;" onload='resizeIframe();'></iframe> 
{# {% set baseUrl = "index.php?storeid=#{controller.getStoreId(false)}&sess=#{sessionName}&#{sessionName}=#{sessionId}" %}
{% if blogurl is empty %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            {% for key,story in stories %}
            <div class="row story" rel="{{key}}">
                <div class="col-md-6">
                    {% if story.image is empty %}
                    <div class="image placeholder">
                        <img src="/templates/{{ controller.storeId }}/images/views/blog/placeholder.png" class="placeholder"/>
                    </div>
                    {% else %}
                    <div class="image">
                        {{ story.image|raw }}
                    </div>
                    {% endif %}
                </div>
                <div class="col-md-6">
                    <h5>{{ story.title|trim }}</h5> 
                    <h6 class="author">BY {{ story.creator }}</h6>
                    <div class="content">
                        {{ story.content|truncate(300)|trim }}                
                    </div>
                    <p class="read_more">READ MORE</p>
                    <input type="hidden" name="link_{{key}}" value="{{story.link}}">
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
{% else %}
<div class="container-fluid article">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            {% for key,story in stories %}

                {% if blogurl == story.source %}
                    <div class="row">
                        <div class="col-md-12">
                        {% if story.image is empty %}
                        
                        {% else %}
                        <div class="image">
                            {{ story.image|raw }}
                        </div>
                        {% endif %}
                            <h3>{{ story.title|trim }}</h3>
                            <p class="author">{{ story.creator }}</p>
                            <div class="content">{{ story.rawContent|raw }}</div>
                            <p class="back_to_blog"><a href="{{ baseUrl }}&page=blog">BACK</a></p>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
{% endif %}#}