{% import "form.macros.twig" as forms %}

<div class="container-fluid">
	<div class="row">
		<div class="pagetitle col-xs-12">{{ registry.get('currentCatName') | raw }}</div>
		<div class="col-xs-12 sortingby">
			<span class="itemcontainer"><div class="itemamount">0 ITEMS</div></span>
			<span class="refinecontainer">Refine by 
			<div class="sortbybutton active sortall">VIEW ALL</div>
			<div class="sortbybutton sortavail">VIEW AVAILABLE</div>
			</span>
		</div>
	</div>
</div>

<div class="container-fluid">
    <div class="row" id="products-container">
        {{ forms.display_preloader() }}
        <div class="products" id="Container"></div>
    </div>
</div>

<script id="product-template" type="text/js-render">
    <div class="product mix cproduct col-lg-3 col-md-4 col-sm-6 col-xs-12{{ "{{:~checkAvailable(ProductStatus)}}" }}">
        <a href="#" class="gallery"  data-featherlight="<img src='{{ "{{>ImagePath}}" }}' /> <div class='collectionstyle'>Style Number: <span class='thenum'>{{ "{{>StyleNumber}}" }}</span></div>">
        	<img alt="{{ "{{>ProductName}}" }}" src="{{ "{{>ImagePath}}" }}" />
        </a>
		<div class="view-now">VIEW</div>
    </div>
</script>

{{ forms.hidden_input('storeid', 'storeid', "#{controller.getStoreId()}") }}
{{ forms.hidden_input('action', 'action', "collections") }}
{{ forms.hidden_input('catid', 'catid', "#{categoryId}") }}
{{ forms.hidden_input('share-app-id', 'share-app-id', "#{sharedAppId}") }}
{{ forms.hidden_input('share-agent-id', 'share-agent-id', "#{sharedAgentId}") }}
{{ forms.hidden_input('brand-url', 'brand-url', "#{brandSiteUrl}") }}