{% include "_page_title.twig" %}

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-2">&nbsp;</div>
        <div class="col-xs-8">
            {{ paymentForm|raw }}
        </div>
        <div class="col-xs-2">&nbsp;</div>
    </div>
</div>