<div class="container-fluid background">
	<div class="row">
		<div class="col-xs-12">
			<div class="row">
				<div class="col-xs-12 dtable">
					<div class="ehhi tablev">
						<div class="pagetitle">FIND A STORE</div>
						<div class="maintextcenter"><span>Kay Unger is carried nationwide at select specialty stores. You can find one of our independent retailers near you by emailing us.</span></div>
						<a class="sendemail" href="mailto:kayunger@zindigo.com">SEND AN EMAIL</a>
						<div class="maintextcenter"><span>You can also shop our collection online or at the following stores:</span></div>
					</div>
				</div>
			<div class="row">		
				<div class="col-xs-6 ehhi text-right">
						<img src="/templates/33/images/views/findstore/stores_logos_left_new_retina.png" style="max-width: 510px;" />
				</div>
				
				<div class="col-xs-6 ehhi text-left">
					<img src="/templates/33/images/views/findstore/stores_logos_right_new_retina.png" style="max-width: 510px;" />
				</div>
			</div>
		</div>
	</div>
</div>