<div class="container-fluid">
    <div class="row">
    	<div class="flptitle col-xs-12">BEHIND THE SCENES</div>
        <div class="col-lg-12 col-md-12 col-xs-12">
            <div class="row">
            	<div class="col-md-6 col-xs-12 matchitem ehh">
            		<img src="/templates/33/images/views/flexible/flp_behind_the_scenes_box1.jpg" />
            	</div>
            	
            	<div class="col-md-6 col-xs-12 matchitem ehh">
            		<div class="itemtext ehh">The Kay Unger design team is constantly redefining classic American style, by creating signature pieces with a modern creative dimension in novel silhouettes.</div>
            	</div>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-xs-12">
            <div class="row">
            	<div class="col-md-6 col-xs-12 matchitem ehh">
            		<div class="partofit ehh">
            			<div class="itemtextsecond ehh">THE KAY UNGER WOMAN IS CONFIDENT IN HER STYLE</div>
            		</div>
            	</div>
            	<div class="col-md-6 col-xs-12 matchitem ehh">
            		<img src="/templates/33/images/views/flexible/flp_behind_the_scenes_box4.jpg" />
            	</div>
            </div>
        </div>
        <div class="col-xs-12">
        	<img src="/templates/33/images/views/flexible/flp_behind_the_scenes_box5_fullwidth.jpg" />
        </div>
    </div>
</div>
