{% set baseUrl = "index.php?storeid=#{controller.getStoreId(false)}&sess=#{sessionName}&#{sessionName}=#{sessionId}" %}
<script type="text/javascript" src="/js/33/generated/utilities/equalEvenHeight.min.js"></script>
<div class="container-fluid">
    <div class="row">
<div class="col-md-9 hidden-sm hidden-xs matchitem ehh">
	<img src="/templates/33/images/views/home/ku-left.png" />
</div>
<div class="col-md-3 hidden-sm hidden-xs matchitem ehh playables">
<div class="homepage-banner">
	<img src="/templates/33/images/views/home/ku-right.png" />
</div>
<div class="homepage-video" style="background-color:#000;">
 <video width="100%" height="100%" controls poster="/templates/33/images/views/home/placeholder.jpg">
  <source src="//stores.zindigo.com/videos/Kayunger_fall.mov" type="video/mp4">
Your browser does not support the video tag.
</video>
</div>
</div>
<div class="col-sm-12 hidden-lg hidden-md">
<img src="/templates/33/images/views/home/homepage_feature_mobile_newer.jpg" />
<div style="background-color:#000;">
 <video width="100%" height="300px" controls poster="/templates/33/images/views/home/placeholder.jpg">
  <source src="//stores.zindigo.com/videos/Kayunger_fall.mov" type="video/mp4">
Your browser does not support the video tag.
</video>
</div>
</div>
{#
        <div class="col-xs-12">
        	<a href="{{ baseUrl }}&page=products&categoryId=2073"><img src="/templates/33/images/views/home/homepage_feature_newer.jpg" class="hp-img hidden-xs" /></a>
        	<a href="{{ baseUrl }}&page=products&categoryId=2073"><img src="/templates/33/images/views/home/homepage_feature_mobile_newer.jpg" class="hp-img visible-xs" /></a>
        </div>
#}
	</div>
</div>

<script type="text/javascript">
$(document).ready(function() {
	setInterval(function() {
	var leftHeight = ($(".playables").height() - $(".homepage-banner").height());
	$(".homepage-video").height(leftHeight);
}, 1000);
});
</script>
