{% import "form.macros.twig" as forms %}
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 background">
            <div class="lookbook-popup">
                <div class="close"><button></button></div>
                <div class="row">
                    <div class="col-sm-offset-3 col-sm-6">
                        <img src="#" class="image" border="0" />
                        <div class="paginate-small paginate">
                            <div>
                                <span><a href="#" class="left"><</a></span>
                                <span class="index">0</span>
                                /
                                <span class="max">0</span>
                                <span><a href="#" class="right">></a></span>
                            </div>
                        </div>
                        <div class="name"><span></span></div>
                        <div class="collection"><span></span></div>
                    </div>
                    <div class="col-sm-3 paginate-large paginate">
                        <div>
                            <span><a href="#" class="left"><i class="fa fa-angle-double-left"></i></a></span>
                            <span class="index">0</span>
                            /
                            <span class="max">0</span>
                            <span><a href="#" class="right"><i class="fa fa-angle-double-right"></i></a></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="lookbook-container">
                <div class="row">
                {% for parentLookbook in products %}
                    {% for product in parentLookbook.childCategories %}
                    <div class="col-md-3 col-sm-4 col-xs-6 product">
                        <img src="{{ product.image.ImagePath }}" class="image" border="0" />
                        {{ forms.hidden_input('', 'id', "#{product.id}") }}
                        {{ forms.hidden_input('', 'name', "#{product.name}") }}
                        {{ forms.hidden_input('', 'collection', "#{parentLookbook.name}") }}
                    </div>
                    {% endfor %}
                {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>