<script>
	var in_facebook = {% if session.in_facebook %}true{% else %}false{% endif %};
</script>
<div class="top-nav">
    <a href="{{ baseUrl }}&page=home" class="kaylogo"><img src="/templates/{{ controller.storeId }}/images/KULogoWeb_v2.png" /></a>
</div>
<nav class="navbar yamm navbar-default" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>

        <div class="navbar-right-links visible-mobile-menu">
            <ul class="list-inline">
                <li><a href="{{ baseUrl }}&page=cart_view" class="shopping-bag mobilemenubag">{{ session.cart.itemcount }}</a></li>
            </ul>
        </div>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">

            <li class="dropdown">
                <a href="#" class="dropdown-toggle topnav" data-toggle="dropdown">Shop</a>
                <ul class="dropdown-menu" role="menu">
                	 <li>
                	 	<div class="row">
                	 		<div class="col-xs-2">
                	 			<div class="maincat navitembreak">
		                         	<a href="{{ baseUrl }}&page=products&categoryId=2072">VIEW ALL</a>
		                         	<input type="hidden" value="/images/uploaded/images/34672.jpg" />
		                         </div>
		                         <div class="maincat navitembreak">
		                         	<a href="{{ baseUrl }}&page=products&categoryId=2073">NEW ARRIVALS</a>
		                         	<input type="hidden" value="/images/uploaded/images/47100.jpg" />
		                         </div>
		                    	 {% for category in registry.get('productCategories') %}
		                         	<div class="maincat">
		                         		<a href="{{ baseUrl }}&page=products&categoryId={{ category.ID }}">{{ category.Name | raw}}</a>
		                         		{% if category.Images.ImagePath is not empty %}
		                         		<input type="hidden" value="/images/uploaded/thumbnails/{{ category.Images.ImagePath }}" />
		                         		{% endif %}
		                         	</div>
		                         {% endfor %}

						<div class="maincat">
		                         		<a href="{{ baseUrl }}&page=products&categoryId=2097">Eyewear</a>
		                         	</div>
                	 		</div>
                	 	</div>
                	 </li>
                </ul>
            </li>

            {#
            <li class="dropdown">
                <a href="#" class="dropdown-toggle topnav" data-toggle="dropdown">Collections</a>
                <ul class="dropdown-menu" role="menu">
                	 <li>
                	 	<div class="row">
                	 		<div class="col-xs-4">
		                    	 {% for category in registry.get('storeCollections') %}
		                         	<div class="maincat">
		                         		<a href="{{ baseUrl }}&page=collections&categoryId={{ category.ID }}">{{ category.Name | raw}}</a>
		                         	</div>
		                        {% endfor %}
                	 		</div>
                	 		<div class="col-xs-4 catimagepreview">
                	 		</div>
                	 	</div>
                	 </li>
                </ul>
            </li>
            #}

            <li class="dropdown">
                <a href="#" class="dropdown-toggle topnav" data-toggle="dropdown">World of Kay Unger</a>
                <ul class="dropdown-menu" role="menu">
                	<li>
                	 	<div class="row">
                	 		<div class="col-xs-4">
                	 			<div class="maincat">
		                         	<a href="{{ baseUrl }}&page=about">About Kay Unger</a>
		                         </div>
		                         <div class="maincat">
                                    <a href="{{ baseUrl }}&page=press">Press</a>
                                 </div>
                	 		</div>
                	 		<div class="col-xs-4 catimagepreview">
                	 		</div>
                	 	</div>
                	 </li>
                </ul>
            </li>

            <li class="search-nav">
                <div class="maincat">
                    {% set sformId = "nav-search-form" %}
                    {{ forms.form_open("#{sformId}", "#{sformId}", 'index.php', 'GET') }}
                    {{ forms.hidden_input('action', 'action', 'search') }}
                    {{ forms.hidden_input('page', 'page', 'searchproducts') }}
                    {{ forms.hidden_input('sess', 'sess', "#{sessionName}") }}
                    {{ forms.hidden_input('storeid', 'storeid', "#{controller.getStoreId(false)}") }}

                    <input type="text" placeholder="SEARCH" value="" name="searchtext" /> <span class="navbarsearch">SEARCH</span>
                    {{ forms.form_close() }}
                </div>
            </li>
{#
            <li class="navbar-cobrand">
            <a href="http://www.phoebecollection.com" target="_blank">
    			<img src="/templates/{{ controller.storeId }}/images/nav_phoebe_logo_retina.png" class="logo" border="0" />
			</a>
            </li>
#}
        </ul>
    </div><!-- /.navbar-collapse -->
    {#
    <div class="phoebeicon">
    	<a href="http://www.phoebecollection.com" target="_blank">
    		<img src="/templates/{{ controller.storeId }}/images/nav_phoebe_logo_retina.png" class="logo" border="0" />
		</a>
    </div>
#}
    
</nav>
{#
<div class="menu-background"></div>
#}
