<div class="container-fluid">
	<div class="row">
		<div class="pagetitle col-xs-12">PRESS</div>
		<div class="col-xs-12">
			<div class="row">
				<div class="col-xs-12 sortingby"><div class="itemamount">0 Items</div> Sort by
				<div class="val-selector" style="float:none; top: 15px;">
					<div class="prodvalcont">
						<div class="valtext">DATE</div>
						<div class="valarrow"></div>
						<div class="clear"></div>
					</div>
					<div class="valoptions" style="display: none;">
						<div class="suboption suboptionpr">DATE<input type="hidden" value=""></div>
						<div class="suboption suboptionpr">OLDEST FIRST<input type="hidden" value="asc"></div>
						<div class="suboption suboptionpr">NEWEST FIRST<input type="hidden" value="desc"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12">
			<div class="presslideshow"></div>
		</div>
	</div>
</div>