{% import "form.macros.twig" as forms %}
{% set productUrlTpl = "index.php?storeid=#{controller.getStoreId(false)}&page=product&prodid={productId}&sess=#{sessionName}=#{sessionName}=#{sessionId}" %}


{% include "_modal_outofstock.twig" %}


<div class="container-fluid">
    <div class="row toolbar">
        <div class="col-lg-11 col-xs-6">
            <a href="#" class="back"><i class="fa fa-chevron-left"></i>BACK</a>
        </div>
        <div class="col-lg-1 col-xs-6 text-right">
            {% if previousProductId is not empty %}
                <span><a href="{{ productUrlTpl|replace({'{productId}': previousProductId}) }}" class="prev"><i class="fa fa-chevron-left"></i>PREV</a></span>
            {% endif %}

            {% if nextProductId is not empty %}
                <span><a href="{{ productUrlTpl|replace({'{productId}': nextProductId}) }}" class="next">NEXT<i class="fa fa-chevron-right"></i></a></span>
            {% endif %}
        </div>
    </div>
    <div class="row product">
        {{ forms.hidden_input('inventory', 'inventory', "#{product.inventory|json_encode()}") }}

        {% set formId = "add-product" %}
        {{ forms.form_open("#{formId}", "#{formId}", 'index.php', 'GET') }}
        {{ forms.hidden_input('page', 'page', 'cart_add') }}
        {{ forms.hidden_input('productID', 'productID', "#{product.details.ProductID}") }}
        {{ forms.hidden_input('sess', 'sess', "#{sessionName}") }}
        {{ forms.hidden_input('storeid', 'storeid', "#{controller.getStoreId(false)}") }}
        {% if (ostoreid is not empty) %}
            {{ forms.hidden_input('ostoreid', 'ostoreid', "#{ostoreid}") }}
        {% endif %}

        <div class="col-sm-4 col-xs-12 text-center image">
            <div class="visible-xs">
                <img class="large-product-image" src="{{ product.images.LargePath }}" border="0"/>
            </div>
            <div class="hidden-xs"  id="big-image">
                <a href="{{ product.images.LargePath }}" id="large-product-image" class="cloud-zoom" rel="softFocus: 1, position: 'inside', adjustX: 0, adjustY: 0, zoomWidth: 'auto', zoomHeight: 'auto', tinyOpacity: 0, lensOpacity: 1">
                    <img src="{{ product.images.LargePath }}" border="0"/>
                </a>
            </div>
        </div>
        <div class="col-md-6 col-sm-5 col-xs-12 details">
            <div class="detail">
                <h5>{{ product.details.Name }}</h5>
            </div>
            <div class="detail">
                <h5>
                    {% if product.details.OrigPrice != product.details.StorePrice %}
                        <span class="origprice">${{ product.details.OrigPrice|number_format(0) }}</span>
                        <span class="saleprice">${{ product.details.StorePrice|number_format(0) }}</span>
                    {% else %}
                        <span class="price">${{ product.details.StorePrice|number_format(0) }}</span>
                    {% endif %}
                    {% if product.details.FinalSale is not empty and product.details.FinalSale == 1  %}
                        <span class="final-sale"><img src="/templates/33/images/kay_finalsale_retina.png" /></span>
                    {% endif %}
                </h5>
            </div>
            <div class="detail">
                <div class="proddescription">
                    {% autoescape false %}
                        {{ product.details.Description|raw|striptags }}
                    {% endautoescape %}
                </div>
            </div>
            <div class="detail size-and-color">
            	{% if product.properties.color.options is not empty %}

            	<div class="row" {% if product.properties.color.options|length <= 1 %} style="display:none;" {% endif %}>
					<div class="val-selector">
						<select name="Color">
                            {% if product.properties.color.options|length > 1 %}
							<option value="">COLOR</option>
                            {%  endif %}
							{% for color, colorData in product.properties.color.options if colorData.Qty %}
								<option value="{{ colorData.ID }}">{{ color|title }}</option>
							{% endfor %}
						</select>
						<div class="prodvalcont">
							<div class="valtext">color</div>
							<div class="valarrow"></div>
							<div class="clear"></div>
						</div>
						<div class="valoptions" style="display: none;">
                            {% if product.properties.color.options|length > 1 %}
							<div class="suboption suboptionpr">COLOR<input type="hidden" value=""></div>
                            {%  endif %}
							{% for color, colorData in product.properties.color.options if colorData.Qty %}
								<div class="suboption suboptionpr">{{ color|title }}<input type="hidden" value="{{ colorData.ID }}"></div>
							{% endfor %}
						</div>
					</div>
				</div>
                {% endif %}
                <div class="row">
                    <div class="col-xs-12">
                    {% if product.properties.size.options is not empty %}
                    	<div class="val-selector">
							<select name="Size">
								<option value="">SIZE</option>
								{% for size, sizeData in product.properties.size.options %}
									<option value="{{ sizeData.ID }}">{{ size|upper }}</option>
								{% endfor %}
							</select>
							<div class="prodvalcont">
								<div class="valtext">SIZE</div>
								<div class="valarrow"></div>
								<div class="clear"></div>
							</div>
							<div class="valoptions" style="display: none;">
								<div class="suboption suboptionpr">SIZE<input type="hidden" value=""></div>
								{% for size, sizeData in product.properties.size.options %}
									<div class="suboption suboptionpr">{{ size|upper }}<input type="hidden" value="{{ sizeData.ID }}"></div>
								{% endfor %}
							</div>
						</div>
						<span class="pd-sizechart"><a href="#" data-toggle="modal" data-target="#sizeGuide" class="sizeguide">SIZE CHART</a></span>
                     {% endif %}
					 </div>
				</div>
				<div class="row">
                    <div class="col-xs-12">
                        <div class="qty">
                            <div class="selector">
                                <input type="text" name="qty" data-rule-quantity="true" data-rule-color="true" data-rule-size="true" data-msg-size="Please select a size first" data-msg-color="Please select a color first" data-msg-quantity="We are out of stock for that color/size combination" data-msg-required="Please specify how many you would like to purchase" value="1" required/>
                                <span class="pd-sizechart"><a href="javascript:void(0)" style="color:#000; cursor: default; text-decoration: none !important;">QUANTITY</a></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="detail hidden-xs detailbuttonholder">
                <button class="btn btn-default add" type="submit">add to bag</button>
                {% if (outofStock.properties.size.options is not empty or outofStock.properties.color.options is not empty) %}
            		<a href="#" data-toggle="modal" data-target="#outofStock" class="oos">SIZE NOT AVAILABLE?</a>
				{% endif %}
				<div><span class="shipping-notification">(usually ships in {{ product.details.Ships|upper }})</span></div>
            </div>
            <div class="detail visible-xs detailbuttonholder">
                <button class="btn btn-default add" type="submit">add to bag</button>
                {% if (outofStock.properties.size.options is not empty or outofStock.properties.color.options is not empty) %}
            		<a href="#" data-toggle="modal" data-target="#outofStock" class="oos">SIZE NOT AVAILABLE?</a>
				{% endif %}
				<div><span class="shipping-notification">(usually ships in {{ product.details.Ships|upper }})</span></div>
            </div>
            
            <div class="detail">
                <h6>share this</h6>
                <div class="row share">
                    <div class="col-md-12">
                        <div class="custom-prod-dtl-socials">
                            <div class='button-container topspace' style='margin-top: 3px;margin-right:25px;'><a target='_top' href="{{ socialUrls.facebook }}"><i class="fa fa-facebook"></i></a></div>
                            <div class='button-container topspace' style='margin-top: 3px;margin-right:30px;'><a target='_top' href="{{ socialUrls.twitter }}"><i class="fa fa-twitter"></i></a></div>
                            <div class='button-container'><a style="cursor:pointer !important;" id="prod-btn-share"><img src='/images/share_icon_retina.png'></a></div>
                            <div class='reset'></div>
                        </div>
                    </div>
                </div>
            </div>
            
            {% if product.alternateImages %}
            <div class="detail alternate-views visible-xs">
                <div class="row">
                    <div class="col-lg-2 col-xs-3">
                        <a class="alternate-view-gallery">
                            <img data-large="{{ product.images.LargePath }}" src="{{ product.images.ImagePath }}" border="0" />
                        </a>
                    </div>
                    {% for image in product.alternateImages %}
                    <div class="col-lg-2 col-xs-3">
                        <a class="alternate-view-gallery">
                            <img data-large="{{ image.LargePath }}" src="{{ image.ImagePath }}" border="0" />
                        </a>
                    </div>
                    {% endfor %}
                </div>
            </div>

            <div class="detail alternate-views hidden-xs">
                <div class="row">
                    <div class="col-lg-2 col-xs-3">
                        <a class="cloud-zoom-gallery" rel="useZoom: 'large-product-image', smallImage: '{{ product.images.LargePath }}'">
                            <img data-large="{{ product.images.LargePath }}" src="{{ product.images.ImagePath }}" border="0" />
                        </a>
                    </div>
                    {% for image in product.alternateImages %}
                    <div class="col-lg-2 col-xs-3">
                        <a class="cloud-zoom-gallery" rel="useZoom: 'large-product-image', smallImage: '{{ image.LargePath }}'">
                            <img data-large="{{ image.LargePath }}" src="{{ image.ImagePath }}" border="0" />
                        </a>
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% endif %}

            <div class="detail visible-xs">
                <h5 class="lovespace">you may <br/>also love</h5>
                <div class="row">
                    {% for product in youMayAlsoLikeProducts %}
                        <div class="col-xs-3">
                            {% if (ostoreid is not empty) %}
                                <a href="index.php?storeid={{ controller.getStoreId(false) }}&page=product&prodid={{ product.ProductID }}&ostoreid={{ ostoreid }}&sess={{ sessionName }}&{{ sessionName }}={{ sessionId }}">
                                    <img src="{{ product.ImagePath }}" border="0" />
                                </a>
                            {% else %}
                                <a href="index.php?storeid={{ controller.getStoreId(false) }}&page=product&prodid={{ product.ProductID }}&sess={{ sessionName }}&{{ sessionName }}={{ sessionId }}">
                                    <img src="{{ product.ImagePath }}" border="0" />
                                </a>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="you-may-also-like col-md-2 col-xs-3 text-center hidden-xs">
            <h5>you may <br/>also love</h5>
            <div class="row">
                {% for product in youMayAlsoLikeProducts %}
                <div class="col-xs-12">
                    {% if (ostoreid is not empty) %}
                    <a href="index.php?storeid={{ controller.getStoreId(false) }}&page=product&prodid={{ product.ProductID }}&ostoreid={{ ostoreid }}&sess={{ sessionName }}&{{ sessionName }}={{ sessionId }}">
                        <img src="{{ product.ImagePath }}" border="0" />
                    </a>
                    {% else %}
                        <a href="index.php?storeid={{ controller.getStoreId(false) }}&page=product&prodid={{ product.ProductID }}&sess={{ sessionName }}&{{ sessionName }}={{ sessionId }}">
                            <img src="{{ product.ImagePath }}" border="0" />
                        </a>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
        </div>
        {{ forms.form_close() }}
    </div>
</div>
{% set vars = {'product': product,'socialUrls':socialUrls,'uniquename': uniquename,'papuserid':papuserid} %}
{% include "_modal_share.twig" with product %}