{% import "form.macros.twig" as forms %}

{% set replace_space = ' ' %}
{% set replace_slash = '/' %}
{% set replace_dot = '.' %}
{% set replace_space_underscore = '_' %}
{% set replace_space_dash = '-' %}

{% if (registry.get('ZindigoShops') is not empty) %}
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<style>
    .addtolb-icon {
        text-align: center;
        font-size: 14px;
        cursor: pointer;
        padding: 6px 0px;
    }

    .addtolb-icon:before {
        font-family: 'FontAwesome';
        content: "\f08a";
    }

    .addtolb-icon.liked:before {
        font-family: 'FontAwesome';
        content: "\f004";
    }

    .phover{
    	bottom: 80px !important;
    }
</style>
<script type="text/javascript" src="/js/helpers/lookbookHelper.js"></script>
{%  endif %}

{# WE NEED TO MAKE THE SELECTION INTO A HELPER #}
<div class="container-fluid">
	<div class="row">
		<div class="pagetitle col-xs-12">{{ registry.get('currentCatName') | raw }}</div>
		<div class="col-xs-12 sortingby">
			<span class="itemamount"><span>0 ITEMS</span></span>
			<span class="refineby"><span>Refine by</span>
				{# SIZE #}
				<div class="val-selector size-selector">
					<select name="size">
						<option value="">Any Size</option>
							{% for categoryPropSizes in catProdProps.sizes %}
								{% set inputval = categoryPropSizes|replace({ (replace_space): replace_space_dash })|replace({ (replace_slash): replace_space_dash })|replace({ (replace_dot): replace_space_dash }) %}
								{% set valname = categoryPropSizes|replace({ (replace_space): replace_space_underscore }) %}
								<option value=".SIZE{{ inputval }}">{{ valname }}</option>
							{% endfor %}
					</select>
					<div class="prodvalcont">
						<div class="valtext">ANY SIZE</div>
						<div class="valarrow"></div>
						<div class="clear"></div>
					</div>
					<div class="valoptions" style="display: none;">
						<div class="suboption suboptionpr">ANY SIZE<input type="hidden" value=""></div>
						{% for categoryPropSizes in catProdProps.sizes %}
							{% set inputval = categoryPropSizes|replace({ (replace_space): replace_space_dash })|replace({ (replace_slash): replace_space_dash })|replace({ (replace_dot): replace_space_dash }) %}
							{% set valname = categoryPropSizes|replace({ (replace_space): replace_space_underscore }) %}
							<div class="suboption suboptionpr">{{ valname }}<input type="hidden" value=".SIZE{{ inputval }}"></div>
						{% endfor %}
					</div>
				</div>
				{# COLOR #}
				<div class="val-selector color-selector">
					<select name="color">
						<option value="">Any Color</option>
						{% for categoryPropColor in catProdProps.colors %}
							{% set inputval = categoryPropColor|replace({ (replace_space): replace_space_dash })|replace({ (replace_slash): replace_space_dash })|replace({ (replace_dot): replace_space_dash }) %}
							{% set valname = categoryPropColor|replace({ (replace_space): replace_space_underscore }) %}
							<option value=".COLOR{{ inputval }}">{{ valname }}</option>
						{% endfor %}
					</select>
					<div class="prodvalcont">
						<div class="valtext">ANY COLOR</div>
						<div class="valarrow"></div>
						<div class="clear"></div>
					</div>
					<div class="valoptions" style="display: none;">
						<div class="suboption suboptionpr">ANY COLOR<input type="hidden" value=""></div>
						{% for categoryPropColor in catProdProps.colors %}
							{% set inputval = categoryPropColor|replace({ (replace_space): replace_space_dash })|replace({ (replace_slash): replace_space_dash })|replace({ (replace_dot): replace_space_dash }) %}
							{% set valname = categoryPropColor|replace({ (replace_space): replace_space_underscore }) %}
							<div class="suboption suboptionpr">{{ valname }}<input type="hidden" value=".COLOR{{ inputval }}"></div>
						{% endfor %}
					</div>
				</div>
				
				{# KEYWORDS #}
				<div class="val-selector silhouette" style="display:none;">
					<select name="silhouette">
						<option value="">Any Color</option>
							{% for categoryPropKeywords in catProdProps.keywords %}
							{% set inputval = categoryPropKeywords|replace({ (replace_space): replace_space_dash })|replace({ (replace_slash): replace_space_dash })|replace({ (replace_dot): replace_space_dash }) %}
							{% set valname = categoryPropKeywords|replace({ (replace_space): replace_space_underscore }) %}
							<option value=".SIL{{ inputval }}">{{ valname }}</option>
						{% endfor %}
					</select>
					<div class="prodvalcont">
						<div class="valtext">ANY KEYWORDS</div>
						<div class="valarrow"></div>
						<div class="clear"></div>
					</div>
					<div class="valoptions" style="display: none;">
						<div class="suboption suboptionpr">ANY KEYWORD<input type="hidden" value=""></div>
						{% for categoryPropKeywords in catProdProps.keywords %}
							{% set inputval = categoryPropKeywords|replace({ (replace_space): replace_space_dash })|replace({ (replace_slash): replace_space_dash })|replace({ (replace_dot): replace_space_dash }) %}
							{% set valname = categoryPropKeywords|replace({ (replace_space): replace_space_underscore }) %}
							<div class="suboption suboptionpr">{{ valname }}<input type="hidden" value=".SIL{{ inputval }}"></div>
						{% endfor %}
					</div>
				</div>
				{#END SELECTORS #}
			</span>
			<span class="sortby"><span>Sort by</span>
				{# SORTBY #}
				<div class="val-selector sort-selector">
					<select name="sorter">
						<option value="default">Any Order</option>
						<option value="price:asc">Price Low-High</option>
						<option value="price:desc">Price High-Low</option>
					</select>
					<div class="prodvalcont">
						<div class="valtext">Any Order</div>
						<div class="valarrow"></div>
						<div class="clear"></div>
					</div>
					<div class="valoptions" style="display: none;">
						<div class="suboption suboptionpr">Any Order<input type="hidden" value="default"></div>
						<div class="suboption suboptionpr">Price Low-High<input type="hidden" value="price:asc"></div>
						<div class="suboption suboptionpr">Price High-Low<input type="hidden" value="price:desc"></div>
					</div>
				</div>
				{# END SORTBY #}
			</span>
			<div style="clear:both;"></div>
		</div>
		<div style="clear:both;"></div>
	</div>
</div>

<div class="container-fluid">
    <div class="row" id="products-container">
        <div id="status"></div>
        {{ forms.display_preloader() }}
        <div class="products" id="Container"></div>
    </div>
</div>

<script id="product-template" type="text/js-render">
   {{" {{if ~Number(StorePrice) < ~Number(OrigPrice) }} "}}
			<div class="product col-lg-3 col-md-4 col-sm-6 col-xs-12 mix {{ "{{:~FixSizes(ProductAvailableSizes)}}" }} {{ "{{:~FixColors(AvailableColorValues)}}" }}" data-price="{{ "{{>StorePrice}}" }}">
	 {{" {{else}} "}}
			<div class="product col-lg-3 col-md-4 col-sm-6 col-xs-12 mix {{ "{{:~FixSizes(ProductAvailableSizes)}}" }} {{ "{{:~FixColors(AvailableColorValues)}}" }}" data-price="{{ "{{>OrigPrice}}" }}">
	{{" {{/if}} "}}
    
    {% if (ostoreid is not empty) %}
        <a href="index.php?storeid={{ "#{controller.getStoreId(false)}" }}&page=product&prodid={{ "{{:ProductID}}" }}&ostoreid={{ "#{ostoreid}" }}&sess={{ "#{sessionName}" }}&{{ "#{sessionName}" }}={{ "#{sessionId}" }}">
        	{% if (categoryId == 2096) %}
        	    <img alt="{{ "{{>ProductName}}" }}" src="{{ "{{>ImagePath}}" }}" class="shoes" />
        	{% else %}
                <img alt="{{ "{{>ProductName}}" }}" src="{{ "{{>ImagePath}}" }}" class="glasses" />
            {% endif %}
        
        <div class="name">{{ "{{:~Truncate(ProductName, 25)}}" }}</div>
        {{" {{if ~Number(StorePrice) < ~Number(OrigPrice)}} "}}
            <div>
                <span class='origprice'>${{ "{{:~round(OrigPrice)}}" }}</span>
                <span class='saleprice'>${{ "{{:~round(StorePrice)}}" }}</span>
            </div>
        {{" {{else}} "}}
            <div class="price">${{ "{{:~round(StorePrice)}}" }}</div>
        {{" {{/if}} "}}
        <input type="hidden" value="{{ "{{>yourls}}" }}" name="yourls" />
</a>
		{% else %}

        <a href="index.php?storeid={{ "#{controller.getStoreId(false)}" }}&page=product&prodid={{ "{{:ProductID}}" }}&sess={{ "#{sessionName}" }}&{{ "#{sessionName}" }}={{ "#{sessionId}" }}">
        	<img alt="{{ "{{>ProductName}}" }}" src="{{ "{{>ImagePath}}" }}" onmouseover="this.src='/{{ "{{>AltImagePath}}" }}'" onmouseout="this.src='/{{" {{>ImagePath}}" }}'" />
        
        <div class="name">{{ "{{:~Truncate(ProductName, 25)}}" }}</div>
        {{" {{if ~Number(StorePrice) < ~Number(OrigPrice)}} "}}
            <div>
                <span class='origprice'>${{ "{{:~round(OrigPrice)}}" }}</span>
                <span class='saleprice'>${{ "{{:~round(StorePrice)}}" }}</span>
            </div>
        {{" {{else}} "}}
            <div class="price">${{ "{{:~round(StorePrice)}}" }}</div>
        {{" {{/if}} "}}
</a>
        <input type="hidden" value="{{ "{{>yourls}}" }}" name="yourls" />
    {% endif %}
		
    </div>
</script>

{{ forms.hidden_input('storeid', 'storeid', "#{controller.getStoreId()}") }}
{{ forms.hidden_input('action', 'action', "all") }}
{{ forms.hidden_input('catid', 'catid', "#{categoryId}") }}
{{ forms.hidden_input('share-app-id', 'share-app-id', "#{sharedAppId}") }}
{{ forms.hidden_input('share-agent-id', 'share-agent-id', "#{sharedAgentId}") }}
{{ forms.hidden_input('brand-url', 'brand-url', "#{brandSiteUrl}") }}
{{ forms.hidden_input('searchword', 'searchword', "#{searchword}") }}

