{% import "form.macros.twig" as forms %}
{% include "_page_title.twig" %}
<div class="container-fluid">
    {% set formUrl = "#{baseCheckoutUrl}?page=complete_order&storeid=#{controller.storeId}&sess=#{sessionName}&#{sessionName}=#{sessionId}" %}
    {{ forms.form_open('entryform', 'entryform', "#{formUrl}", 'POST') }}
    {{ forms.hidden_input('action', 'action', '') }}
    {{ forms.hidden_input('productID', 'productID', '') }}
    {{ forms.hidden_input('sess', 'sess', "#{sessionName}") }}
    {{ forms.hidden_input('sessionid', 'sessionid', "#{sessionId}") }}
    <div class="row">
        <div class="col-xs-12">
            <table class="header">
                <thead>
				    <th class="image">item</th>
				    <th class="description">description</th>
				    <th class="quantity">quantity</th>
				    <th class="price">price</th>
                </thead>
                <tbody>
                {% for cartItem in registry.get('cartItems') %}
                    {% spaceless %}
                        <tr>
                            <td class="image">
                                <img src="{{ cartItem.image }}" />
                                <input type="hidden" name="id[]" value="{{ cartItem.itemKey }}"/>
                            </td>
                            <td class="description">
					            <span>{{ cartItem.details.get_name() }}</span>
					            <div class="properties">
					                {% for name, value in cartItem.properties %}
					                    <span class="name">{{ name|title }}:</span><span class="value">{{ value|upper }}</span>
					                {% endfor %}
					            </div>
					        </td>
                            <td class="quantity">
                                <span>{{ cartItem.details.get_qty() }}</span>
                            </td>
                            <td class="price">
                                <span>${{ cartItem.details.get_price()|number_format(2) }}</span>
                            </td>
                        </tr>
                    {% endspaceless %}
                {% endfor %}
                </tbody>
            </table>
            <div class="visible-xs">
                <table class="summary">
                    <tr class="header">
                        <td>
                           Bill To:
                        </td>
                        <td>
                            Ship To:
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="address">
                                <ul>
                                    <li>{{ session.orderinfo.fname|title }} {{ session.orderinfo.lname|title }}</li>
                                    {% if session.orderinfo.company is not empty %}
                                        <li>{{ session.orderinfo.company|title }}</li>
                                    {% endif %}
                                    <li>{{ session.orderinfo.address|title }}</li>
                                    {% if session.orderinfo.address2 is not empty %}
                                        <li>{{ session.orderinfo.address2|title }}</li>
                                    {% endif %}
                                    <li>{{ session.orderinfo.city|title }}, {{ session.orderinfo.state|title }}, {{ session.orderinfo.zipcode }}</li>
                                    {% if session.orderinfo.country|lower != 'us' %}
                                        <li>{{ session.orderinfo.country|upper }}</li>
                                    {% endif %}
                                </ul>
                            </div>
                        </td>
                        <td>
                            <div class="address">
                                <ul>
                                    <li>{{ session.orderinfo.ship_fname|title }} {{ session.orderinfo.ship_lname|title }}</li>
                                    {% if session.orderinfo.company is not empty %}
                                        <li>{{ session.orderinfo.company|title }}</li>
                                    {% endif %}
                                    <li>{{ session.orderinfo.ship_address1|title }}</li>
                                    {% if session.orderinfo.ship_address2 is not empty %}
                                        <li>{{ session.orderinfo.ship_address2|title }}</li>
                                    {% endif %}
                                    <li>{{ session.orderinfo.ship_city|title }}, {{ session.orderinfo.ship_state|title }}, {{ session.orderinfo.ship_zip }}</li>
                                    {% if session.orderinfo.ship_country|lower != 'us' %}
                                        <li>{{ session.orderinfo.ship_country|upper }}</li>
                                    {% endif %}
                                </ul>
                            </div>
                        </td>
                    </tr>
                    <tr class="header">
                        <td colspan="2">
                            Order Summary
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" class="total">
                            <ul>
                            	{% set discount = session.cart.coupondiscount + session.cart.purchaseddiscount %}
                                <li><span>Sub-total:</span> <span>${{ session.cart.total|number_format(2) }}</span></li>
                                <li><span>Tax:</span> <span>${{ session.cart.salestaxes|number_format(2) }}</span></li>
                                <li><span>Shipping:</span> <span>${{ session.cart.totshipping|number_format(2) }}</span></li>
                                {% if discount > '.01' %}
                                    <li><span>Discount:</span> <span>${{ discount|number_format(2) }}</span></li>
                                {% endif %}
                                <li><span>Total:</span> <span>${{ session.cart.recalc_total()|number_format(2) }}</span></li>
                            </ul>
                        </td>
                    </tr>
                </table>
            </div>

			<div class="hidden-xs">
                <table class="summary">
                    <tr>
                        <td>Bill To:</td>
                        <td>
                            <div class="address">
                                <ul>
                                    <li>{{ session.orderinfo.fname|title }} {{ session.orderinfo.lname|title }}</li>
                                    {% if session.orderinfo.company is not empty %}
                                        <li>{{ session.orderinfo.company|title }}</li>
                                    {% endif %}
                                    <li>{{ session.orderinfo.address|title }}</li>
                                    {% if session.orderinfo.address2 is not empty %}
                                        <li>{{ session.orderinfo.address2|title }}</li>
                                    {% endif %}
                                    <li>{{ session.orderinfo.city|title }}, {{ session.orderinfo.state|title }}, {{ session.orderinfo.zipcode }}</li>
                                    {% if session.orderinfo.country|lower != 'us' %}
                                        <li>{{ session.orderinfo.country|upper }}</li>
                                    {% endif %}
                                </ul>
                            </div>
                        </td>
                        <td>Ship To:</td>
                        <td>
                            <div class="address">
                                <ul>
                                    <li>{{ session.orderinfo.ship_fname|title }} {{ session.orderinfo.ship_lname|title }}</li>
                                    {% if session.orderinfo.company is not empty %}
                                        <li>{{ session.orderinfo.company|title }}</li>
                                    {% endif %}
                                    <li>{{ session.orderinfo.ship_address1|title }}</li>
                                    {% if session.orderinfo.ship_address2 is not empty %}
                                        <li>{{ session.orderinfo.ship_address2|title }}</li>
                                    {% endif %}
                                    <li>{{ session.orderinfo.ship_city|title }}, {{ session.orderinfo.ship_state|title }}, {{ session.orderinfo.ship_zip }}</li>
                                    {% if session.orderinfo.ship_country|lower != 'us' %}
                                        <li>{{ session.orderinfo.ship_country|upper }}</li>
                                    {% endif %}
                                </ul>
                            </div>
                        </td>
                        <td class="total">
                            <ul>
                            	{% set discount = session.cart.coupondiscount + session.cart.purchaseddiscount %}
                                <li><span>Sub-total:</span> <span>${{ session.cart.total|number_format(2) }}</span></li>
                                <li><span>Tax:</span> <span>${{ session.cart.salestaxes|number_format(2) }}</span></li>
                                <li><span>Shipping:</span> <span>${{ session.cart.totshipping|number_format(2) }}</span></li>
                                {% if discount > '.01' %}
                                    <li><span>Discount:</span> <span>${{ discount|number_format(2) }}</span></li>
                                {% endif %}
                                <li><span>Total:</span> <span>${{ session.cart.recalc_total()|number_format(2) }}</span></li>
                            </ul>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 cart-buttons text-right">
            <button class="btn btn-stateless prev">back</button>
            <button type="submit" class="btn btn-stateless-active next">next</button>
        </div>
    </div>
    {{ forms.form_close() }}
</div>
