<div class="container-fluid">
	<div class="row">
		<div class="pagetitle col-xs-12">REPS</div>
	</div>
</div>


<div class="container-fluid">
	<div class="row">
	
		<div class="col-xs-12 mainrepcontainer">
			<div class="repcontainer">
				<div class="reptitle">New York Showroom</div>
				<div>1407 Broadway</div>
				<div>15th floor</div>
				<div>New York, NY 10018</div>
				<div><i class="fa fa-phone"></i>212-549-8510</div>
				<div><i class="fa fa-fax"></i>212-391-8753</div>
			</div>
			<div class="repcontainer">
				<div class="reptitle">Dallas</div>
				<div>Brad Huges Showroom #51727</div>
				<div>2050 Stemmons Frwy. #15727</div>
				<div>Dallas, TX 75207</div>
				<div><i class="fa fa-phone"></i>214-905-9656 x111</div>
				<div><i class="fa fa-fax"></i>214-905-1354</div>
			</div>
		</div>
		
		<div class="col-xs-12 mainrepcontainer">
			<div class="repcontainer">
				<div class="reptitle">Atlanta</div>
				<div>Cary Lowe & Associates</div>
				<div>250 Spring Street Suite 9W124</div>
				<div>Atlanta GA 30303</div>
				<div><i class="fa fa-phone"></i>213-627-3458</div>
				<div><i class="fa fa-fax"></i>888-389-8208</div>
			</div>
			<div class="repcontainer">
				<div class="reptitle">&nbsp;</div>
				<div>&nbsp;</div>
				<div>&nbsp;</div>
				<div>&nbsp;</div>
				<div>&nbsp;</div>
				<div>&nbsp;</div>
			</div>
		</div>
	</div>
</div>