{% set baseUrlTpl = "index.php?storeid=#{controller.storeId}&page={action}&sess=#{sessionName}=#{sessionName}=#{sessionId}" %}
{% set baseUrls = "index.php?storeid=#{controller.getStoreId(false)}&sess=#{sessionName}&#{sessionName}=#{sessionId}" %}
<div class="container-fluid sitecontainer">
    <div class="row">
    	<div class="pagetitle col-xs-12">SITEMAP</div>
        <div class="col-lg-3 col-md-6 col-sm-12">
            <section>
                <h3>shop</h3>
                <ul>
                    <li class="sitetitle"><a href="{{ baseUrls }}&page=products&categoryId=2072">VIEW ALL</a></li>
                    <li class="sitetitle"><a href="{{ baseUrls }}&page=products&categoryId=2073">NEW ARRIVALS</a></li>
                    <li class="sitetitle"><a href="javascript:void(0)">BY OCCASION</a></li>
                    {% for category in registry.get('productCategories') %}
                    	<li><a href="{{ baseUrls }}&page=products&categoryId={{ category.ID }}">{{ category.Name | raw}}</a></li>
                    {% endfor %}
                    <li class="sitetitle" style="margin: 6px 0px;"><a href="javascript:void(0)">BY TREND</a></li>
                    {% for category in registry.get('productTrendCategories') %}
                    	<li><a href="{{ baseUrls }}&page=products&categoryId={{ category.ID }}">{{ category.Name | raw}}</a></li>
                    {% endfor %}
                    <li class="sitetitle" style="margin: 6px 0px;"><a href="{{ baseUrls }}&page=products&categoryId=2088">SALE</a></li>
                </ul>
            </section>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12">
            <section>
                <h3>COLLECTIONS</h3>
                <ul>
                	{% for category in registry.get('storeCollections') %}
                	<li><a href="{{ baseUrls }}&page=products&categoryId={{ category.ID }}">{{ category.Name | raw}}</a></li>
                	 {% endfor %}
                </ul>
            </section>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12">
            <section>
                <h3>WORLD OF KAY UNGER</h3>
                <ul>
                    <li><a href="{{ baseUrls }}&page=about">About Kay Unger</a></li>
                    <li><a href="{{ baseUrls }}&page=flexible">Behind the Scenes</a></li>
                    <li><a href="{{ baseUrls }}&page=press">Press</a></li>
                </ul>
			</section>

			<section>
                <h3>#CONNECTED</h3>
                <ul>
                    <li><a href="{{ baseUrls }}&page=social">#Connected</a></li>
                </ul>
            </section>

            <section>
                <h3>WHERE TO BUY</h3>
                <ul>
                    <li><a href="{{ baseUrls }}&page=findstore">Find a Store</a></li>
                </ul>
            </section>
        </div>
        <div class="col-lg-3 col-sm-12">
            <section>
                <h3>WHOLESALE</h3>
                <ul>
                    <li><a href="{{ baseUrls }}&page=reps">Reps</a></li>
                </ul>
			</section>

			<section>
                <h3>CUSTOMER SERVICE</h3>
                <ul>
                    <li><a href="{{ baseUrls }}&page=returns">Shipping & Returns</a></li>
                    <li><a href="">Size Chart</a></li>
                </ul>
            </section>

            <section>
                <h3>LEGAL</h3>
                <ul>
                    <li><a href="{{ baseUrls }}&page=privacy">Privacy Policy</a></li>
                    <li><a href="{{ baseUrls }}&page=terms">Terms & Conditions</a></li>
                </ul>
            </section>
        </div>
    </div>
</div>