@import "../fonts";
@import "../utilities";
@import "../forms";

.about-bg
{
	position: relative;
	width: 100%;
	height: auto;
}

.about-overlay
{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background: rgba(255,255,255,0.8);
	display: none;
}

.aboutheader
{
	text-align: center;
	line-height: 50px;
	margin-bottom: 25px;
	@include brand-primary-font($size: 18);
}

.futuratext
{
	@include brand-primary-font-futura($size: 13);
	letter-spacing: normal;
}

.about-overlay .aligntext
{
	position: relative;
	top: 35%;
	transform: translateY(-50%);
	color: #FFF;
	@include brand-primary-font($size: 22);
	letter-spacing: normal;
	color: #000;
	@include breakpoint-medium {
		top: auto;
		transform: initial;
		overflow: auto;
		height: 100%;
		padding: 2em 1.5em;
	}

}