@import "../fonts";
@import "../utilities";
@import "../modal_blog";

div.row.stories {
  padding-bottom: 20px;
}

.story {
  margin-bottom: 10px;
  cursor: pointer;

  .placeholder {
    text-align: center;

    img {
      background: none;
      border: 0 !important;
    }
  }

  .image {
    min-height: 200px;
    height: 200px;
    margin-bottom: 10px;
    text-align: center;
    background: rgba(200, 200, 200, .7);

    img {
      width: auto;
      height: 100%;
      border: 1px solid lightgray;
    }
  }

  .details {
    height: 170px;
    border-bottom: 1px solid gray;

    @include breakpoint-small {
      height: 200px;
    }

    @include breakpoint-xsmall {
      height: auto;
    }

    .type {
      @include brand-primary-font-futura($size: 10);
      text-transform: uppercase;
    }

    .title {
      @include brand-primary-font-futura($size: 16);
      text-transform: uppercase;
    }

    .creator {
      text-transform: uppercase;
      color: #666;
    }

    .content {
      @include font-size(11);
      width: 350px;

      @include breakpoint-small {
        width: 200px;
      }

      @include breakpoint-xsmall {
        width: 280px;
      }

      .more {
        text-transform: uppercase;
        padding: 5px 0;
        position: absolute;
        bottom: 0;

        @include breakpoint-xsmall {
          position: relative;
        }

        a {
          @include brand-primary-font-futura($size: 10);
          color: black;

          &:hover {
            color: gray;
          }
        }
      }
    }
  }
}

