@import "../fonts";
@import "../utilities";
@import "checkout";

#cart-form
{
	padding: 0px 30px;
}

table {
  width: 100%;
  margin-bottom: $grid-gutter-width;
  @include brand-primary-font-futura($size: 11);
  letter-spacing: normal;
  thead
  {
	  border-bottom: 1px solid #ece5dd;
  }

  th {
    @include font-size(12);
    text-transform: uppercase;
    padding: 4px;
    text-align: left;
  }

  td {
    @include font-size(12);
    padding: 4px;
    text-align: left;
  }
}

table.header {
  margin-top: $grid-gutter-width;
  text-transform: uppercase;
}

table.items {
  tr {
   /*
    &:nth-child(odd) {
      background: lightgray;
    }

    &:nth-child(even) {
      background: white;
    }
    */
  }
}

table.summary {

	border-top: 1px solid #ece5dd;
	border-bottom: 1px solid #ece5dd;
	
  .disclaimer {
    @include font-size(10);
  }

  td {
    vertical-align: top;
    @include breakpoint-small-up {
      padding: 25px 0px;
    }
  }

  .total {
    text-align: right;
    width: 250px;
    @include breakpoint-xsmall {
    	text-align: left;
    }

    span {
      @include breakpoint-small-up {
        min-width: 70px;
      }
      display: inline-block;
	  text-align: right;
      &:last-child {
        float: right;
      }
    }

    span.bold {
      @include brand-primary-font($size: 11);
      text-transform: uppercase;
    }

    span.price {
      @include brand-primary-font-futura($size: 11);
      text-align: right;

      &:before {
        content: ' ';
      }
    }
    
    .total-text
    {
	  @include brand-primary-font($size: 11);
      text-transform: uppercase;
    }
  }

  tr {
    td.detail {
      width: 75px;
      @include brand-primary-font($size: 11);
      text-transform: uppercase;
    }
  }

  ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
  }
}

.quantity input {
  width: 60px;
  text-align: center;
  border: 1px solid #484848;
}

.cart-promos {
	@include brand-primary-font-futura($size: 11);
	letter-spacing: normal;
	text-transform: uppercase;
	text-align: left;
	margin-bottom: $grid-gutter-width;

  .cart-promo {
    margin-bottom: $grid-gutter-width;
  }
}

.cart-buttons {
  text-align: right;
  margin-bottom: $grid-gutter-width;
}

div.properties {

  span {
    @include font-size(11);
  }

  span.name {
    @include brand-primary-font-futura($size: 11);
    padding-right: 4px;

    &:not(:first-child) {
      padding-left: 10px;
    }
  }

  span.value {

  }
}


.row [class*='col-'] .image
{
	max-width: 150px;
	img
	{
		max-height: 200px;
		width: auto;
		max-width: 100%;
	}
}

.price
{
	text-align: right;
	a
	{
		color: #b0976d;
		text-decoration: underline;
		text-transform: uppercase;
		font-size: 11px;
	}
}

.quantity
{
	text-align: center;
	a
	{
		color: #b0976d;
		text-decoration: underline;
		text-transform: uppercase;
		font-size: 11px;
	}
}

.extrainfo
{
	@include brand-primary-font-futura($size: 9);
	text-transform: uppercase;
	margin-top: 10px;
}
.btn
{
	background-color: #484848;
}
.btn.btn-default
{
	border: none;
	@include brand-primary-font-futura($size: 10);
	letter-spacing: normal;
	outline: none;
	background-color: #484848;
	&.continue-shopping
	{
		width: 172px;
		height: 44px;
		line-height: 41px;
		background-color: #ece5dd;
		color: #000;
		@include breakpoint-xsmall {
			width: 100%;
		}
	}
	
	&.apply-promo
	{
		height: 25px;
		vertical-align: top;
		@include breakpoint-xsmall {
			width: 100%;
			margin-top: 5px;
		}
	}
	
	&.checkout
	{
		width: 172px;
		height: 44px;
		line-height: 41px;
		background-color: #484848;
		color: #FFF;
		@include breakpoint-xsmall {
			width: 100%;
			margin-top: 10px;
		}
	}
	
	

}

.cart-promo input
{
	@include breakpoint-small {
		width: 100%;
		margin-top: 10px;
	}
}

.cart-view-container
{
	min-height: 450px;
	@include breakpoint-xsmall {
		min-height: inherit;
	}
}

label {
  @include brand-primary-font($size: 11);
}