@import "../fonts";
@import "../utilities";
@import "../forms";
.sortingby
{
	@include brand-primary-font($size: 12);
	line-height: 30px;
	text-align: center;
	font-style: italic;
}

.itemamount
{
	border-right: 1px solid #000;
	display: inline-block;
	padding-right:10px;
	margin-right:10px;
	font-style: italic;
}

.sortbybutton
{
	width: 150px;
	height: 30px;
	@include brand-primary-font-futura($size: 10);
	line-height: 28px;
	text-align: center;
	display: inline-block;
	background-color: #FFF;
	border: 1px solid #484848;
	color: #484848;
	cursor: pointer;
	font-style: normal;
	&:hover
	{
		color: #FFF;
		background-color: #484848;
	}
}

.sortbybutton.active
{
	background-color: #484848;
	color: #FFF;
	&:hover
	{
		background-color: #333;		
	}
}


.row [class*=col-].product.cproduct img
{
	max-height: 500px;
	@include breakpoint-small {
		min-height: inherit;
		height: auto !important;
	}
	
	@include breakpoint-xsmall {
		min-height: inherit;
		height: auto !important;
	}
}

#Container .mix{
	display: none;
}

.product .view-now
{
	display: none;
	background: rgba(75,75,75,0.8);
	width:100%;
	height:55px;
	color: #FFF;
	position: absolute;
	bottom: 0px;
	left: 0px;
	@include brand-primary-font($size: 12);
	line-height:55px;
}


.featherlight .featherlight-content
{
	text-align: center;
	border: none;
	padding: 0px;
	overflow: visible;
	
	.collectionstyle
	{
		text-align: center;
		background-color: #484848;
		color: #FFF;
		height: 30px;
		line-height: 30px;
		position: absolute;
		bottom: 0px;
		left: 0px;
		width: 100%;
		@include brand-primary-font($size: 14);
		text-transform: uppercase;
		letter-spacing: 0.2em;
	}
}

.thenum
{
	@include brand-primary-font-futura($size: 14);
	letter-spacing: normal;
}

.featherlight img
{
    max-width:100%;
    max-height:90%;
    width:auto;
    margin: 0 auto;
}

.featherlight-next span, .featherlight-previous span
{
	display: block;
	font-size: 35px;
	text-shadow: none;
}

.featherlight-next
{
	left: auto;
	right: -5%;
}

.featherlight-previous
{
	left: -10%;
	right: auto;
}

.featherlight .featherlight-close-icon
{
	font-size: 30px;
	width: 30px;
	line-height: 30px;
	top: 5px;
}

@include breakpoint-small {
	.itemcontainer
	{
		display: block;
		.itemamount
		{
			border: none;
			margin: 0px;
			padding: 0px;
		}
	}
	.refinecontainer
	{
		display: block;
		.sortbybutton
		{
			display: block;
			width: 100%;
			margin: 10px 0px;
		}
	}
	.sortingby
	{
		padding: 0px 25px;
	}
}


@include breakpoint-medium-up {

	.product:hover .view-now
	{
		display:block;
	}

}