@import "../fonts";
@import "../utilities";

.container-fluid {
  padding: 0 5px;

  .row {
    padding: 0;
  }
}

.background {
  background: url('/templates/#{$storeid}/images/views/contact/background.jpg') 0 0;
  background-size: cover;
  min-height: 1000px;

  @include breakpoint-small {
    background: gray;
    min-height: inherit;
  }

  @include breakpoint-medium-up {
    margin-bottom: $grid-gutter-width;
  }

  @include breakpoint-medium {
    padding: 20px;
  }
}

.content {
  float: right;
  color: white;
  text-transform: uppercase;
  padding: 10% 20% 0 0;

  @include breakpoint-medium {
    padding: 20% 8% 0 0;
  }

  @include breakpoint-small {
    float: none;
    padding: 0;
  }

  @include breakpoint-xsmall {
    text-align: left;
    padding: 8%;
  }

  div {
    margin: 15px 0;

    @include breakpoint-xsmall {
      padding-left: 5%;
    }

    p {
      @include font-size(12);
    }
  }

  h4 {
    line-height: 28px;
    @include font-size(20);

    @include breakpoint-xsmall {
      @include font-size(16);
    }
  }

  h5 {
    @include font-size(14);
  }

  hr {
    width: 300px;

    @include breakpoint-xsmall {
      width: 100%;
      margin: 10% 0;
    }
  }

  a {
    color: white;

    &:hover {
      border-bottom: 1px solid white;
      text-decoration: none;
    }
  }
}
