@import "../fonts";
@import "../utilities";

.maintextcenter
{
	text-align: center;
	@include brand-primary-font-futura($size: 13);
	max-width: 550px;
	margin: 0 auto;
}

.sendemail
{
	width: 172px;
	height: 44px;
	margin: 0 auto;
	margin-top: 10px;
	margin-bottom: 50px;
	background-color: #484848;
	color: #FFF;
	@include brand-primary-font-futura($size: 13);
	text-align: center;
	display: block;
	line-height: 44px;
	&:hover
	{
		background-color: #333;
		color: #FFF;
	}
}

.dtable
{
	display: table;
}

.tablev
{
    display:table-cell;
    vertical-align:middle;
    text-align:center;
    @include breakpoint-large {
		padding: 2em;
	}
}