@import "../fonts";
@import "../utilities";
@import "../modal_video";


.flptitle
{
	text-align: center;
	line-height: 70px;
	@include brand-primary-font($size: 18);
	text-transform: uppercase;
}

.matchitem .itemtext
{
	display: table-cell;
	vertical-align: middle;
	text-align: left;
	padding: 0px 6em;
	overflow: hidden;
	max-height: 100%;
	@include brand-primary-font-futura($size: 14);
	line-height: 20px;
	letter-spacing: normal;
	@include breakpoint-medium {
		padding: 0px 3em;
	}
}

.matchitem .itemtextsecond
{
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	color: #484848;
	overflow: hidden;
	max-height: 100%;
	@include brand-primary-font($size: 22);
	line-height: 42px;
}

.partofit
{
	padding: 0px 13em;
	background-color: #ece5dd;
	letter-spacing: normal;
	@include breakpoint-medium {
		padding: 0px 4em;
	}
}