@import "../fonts";
@import "../utilities";
@import "../modal_video";

.container-fluid, .container-fluid .row
{
	margin: 0px;
	padding: 0px;
}

.hp-img
{
	width: 100%;
	height: 100%;
}

.col-xs-12
{
	padding:0px;
}