@import "../fonts";
@import "../utilities";

.product-drop-shadow {
  -webkit-box-shadow: 4px 4px 5px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    4px 4px 5px 0px rgba(50, 50, 50, 0.75);
  box-shadow:         4px 4px 5px 0px rgba(50, 50, 50, 0.75);
}

// Reset the padding
div.container-fluid {
  padding: 0 5px;

  &> div.row {
    padding: 0;
  }
}

.lookbook-container {
  .row {
    padding: 0;
  }
}

.background {
  background: url('/templates/#{$storeid}/images/views/lookbook/background.jpg') no-repeat;
  background-size: cover;
  min-height: 800px;
  margin-bottom: $grid-gutter-width;
}

.lookbook-popup {
  @include font-size(16);
  padding: 5px 0 0 0;
  text-align: center;
  display: none;

  .image {
    width: 70%;
    height: auto;
    margin-bottom: $grid-gutter-width;

    @extend .product-drop-shadow;
    @include breakpoint-small {
      width: 100%;
    }
  }

  .name {
    @include font-size(24);
    @include breakpoint-small {
      @include font-size(20);
    }
    width: 100%;
    text-align: center;
    text-transform: uppercase;
  }

  .collection {
    @include font-size(22);
    @include breakpoint-small {
      @include font-size(18);
    }
    width: 100%;
    text-align: center;
    color: lighten(lightgray, 10%);
    text-transform: uppercase;
  }

  .common-pagination {
    .right,
    .left {
      @include font-size(20);
    }
  }

  .paginate-small {
    @extend .common-pagination;
    text-align: center;
    display: none;

    @include breakpoint-xsmall {
      display: block;
    }
  }

  .paginate-large {
    @extend .common-pagination;
    text-align: left;

    @include breakpoint-small {
      padding-left: 50px;
    }

    @include breakpoint-xsmall {
      display: none;
    }


    div {
      display: inline-block;
      vertical-align: middle;
    }

    &:before {
      display: inline-block;
      vertical-align: middle;
      content: '';
      width: 0;
      height: 100%;
      vertical-align: middle;
      margin-left: -0.25em;
    }
  }

  div.close {
    @include pos(absolute, 10px, 10px);
    z-index: 2;
    opacity: 1;

    button {
      background: url('/templates/#{$storeid}/images/views/lookbook/x.png') no-repeat;
      background-size: 25px;
      width: 25px;
      height: 25px;
      border: 0;
    }
  }
}

.lookbook-container {
  width: 60%;
  height: auto;
  margin: $grid-gutter-width auto;

  .product {
    text-align: center;

    img {
      @extend .product-drop-shadow;
      width: 100%;
      height: auto;
      margin-bottom: $grid-gutter-width;

      &:hover {
        cursor: pointer;
      }
    }
  }
}
