@import "../fonts";
@import "../utilities";
@import "../forms";

.sortingby
{
	@include brand-primary-font($size: 12);
	line-height: 30px;
	font-style: italic;
	text-align: center;
}

.itemamount
{
	border-right: 1px solid #000;
	display: inline-block;
	padding-right:10px;
	margin-right:10px;
	@include brand-primary-font($size: 14);
	line-height: 29px;
}

.featherlight .featherlight-content
{
	text-align: center;
	border: none;
	padding: 0px;
	background-color: #000;
	overflow: visible;
}

.featherlight img{
    max-width:100%;
    max-height: 100%;
    height: auto;
    width:auto;
    margin: 0 auto;
}

.featherlight .featherlight-content .collectionstyle
{
	text-align: center;
	background-color: #484848;
	color: #FFF;
	min-height: 25px;
	line-height: 25px;
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
	text-transform: uppercase;
	
	@include breakpoint-small {
		line-height: normal;
		padding: 5px 0px;
	}
}

.featherlight-next span, .featherlight-previous span
{
	display: block;
}

.featherlight-next
{
	left: auto;
	right: -5%;
}

.featherlight-previous
{
	left: -15%;
	right: auto;
}

.featherlight .featherlight-inner
{
	text-align: center;
}

.press-item
{
	max-height: 500px;
	position: relative;
	margin: 0px 25px;
}

.press-item a
{
	display: initial;
}

.press-item img{
	position: relative;
	top: 0px;
	bottom: 0px;
	margin: auto;
}

.featherlight:before {
    /* position: trick to center content vertically */
    content:'';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em;
}
.featherlight .featherlight-content {
    position: relative;
    text-align: left;
    vertical-align: middle;
    display: inline-block;
    min-width: 30%;
    margin-left: 5%;
    margin-right: 5%;
    max-height: 95%;
    background: #000;
}

.slick-slide {
    text-align: center;
}

.slick-slide::before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.slick-slide img {
    vertical-align: middle;
    display: inline-block;
}

.slick-prev
{
	left: 25px;
}

.slick-next
{
	right: 25px;
}

.slick-prev:before
{
	font-family: 'FontAwesome';
	content: "\f053";
	color: #484848;
	opacity: 1;
}

.slick-next:before
{
	font-family: 'FontAwesome';
	content: "\f054";
	color: #484848;
	opacity: 1;
}

.slick-list
{
	margin: 0px 50px;
}

.slick-prev:before, .slick-next:before
{
	font-size: 35px;
}

.featherlight-next span, .featherlight-previous span
{
	display: block;
	font-size: 35px;
}

.featherlight-next
{
	left: auto;
	right: -5%;
}

.featherlight-previous
{
	left: -10%;
	right: auto;
}

.featherlight .featherlight-close-icon
{
	font-size: 30px;
	width: 30px;
	line-height: 30px;
	top: 5px;
	background-color: transparent;
	color: #FFF;
}

.val-selector
{
	min-width: 120px;
}

