@import "../fonts";
@import "../utilities";

.privacy
{
	padding: 0px 5em;
	 @include brand-primary-font-futura($size: 13);
	 letter-spacing: 0px;
}

 @include breakpoint-small {
 	.pagetitle
 	{
	 	padding-left: 10px;
	 	text-align: left;
 	}
 	
 	.privacy
 	{
	 	padding-left: 10px;
	 	text-align: left;
 	}
 
 }