@import "../fonts";
@import "../utilities";
@import "../forms";
@import "../modal_video";

#status {
  padding-bottom: 0;
}

#content-wrap {
  background: #FFF;
}

#products-container {
  min-height: 500px;

  .products {
    div[class*='product-ad-'] {
      display: block;
    }
  }
}

.phover
{
	display: none;
	position: absolute;
	left: 0px;
	bottom: 50px;
	background: rgba(75,75,75,0.8);
	width: 100%;
	height: auto;
	@include brand-primary-font($size: 18);
	font-size: 14px;
	line-height: 18px;
	color: #FFF;
	text-align: center;
	text-transform: uppercase;
	padding: 15px 0px;
	span {
		@include brand-primary-font-futura($size: 18);
		font-size: 14px;
		line-height: 18px;
		letter-spacing: normal;
	}
}

.product {
  @include brand-primary-font($size: 15);
  margin-bottom: 25px;
  display: none;
  text-align: center;

  .name {
    padding-top: 15px;
    line-height: 17px;
    font-style: italic;
    letter-spacing: 0.2em;
	
    @include breakpoint-xsmall {
      @include font-size(13);
    }
  }

  .price {
    letter-spacing: 0.2em;
    @include breakpoint-xsmall {
      @include font-size(13);
    }
  }

  img {
    width: 100%;
    max-width: 100%;
    height: auto;
  }
  
   &:hover .phover {
   	display:block;
   }
   
   a
   {	
   	display: inline-block;
	color: #000 !important;
	padding: 9px 9px 30px 9px;
	background-color: #f7f7f7;
	border: 1px solid #d3d3d3;
	    &:hover
	    {
			color: #333;
	    }
   }
}

.defaultsharer {
  box-sizing: content-box;
  left: 5px;
  bottom: 44px;
  height: 75px;
  padding: 5px 0;
  position: absolute;

  .moreinfo {
    @include brand-primary-font($size: 12);

    &:hover {
      color: $brand-color-lightgray;
    }
  }

  .shareit {
    @include brand-primary-font($size: 10);
  }

  a {
    &:hover {
      color: $brand-color-lightgray;
    }
  }

  .defshare {
    background: url("/templates/#{$storeid}/images/views/products/social_sprites.png") no-repeat scroll left top transparent;
  }
}

.origprice {
  text-decoration: line-through;
}

.saleprice {
  color: #a90407;
}

.row [class*='col-'].product img
{
	max-height: 600px;
    &.shoes
    {
      max-height: 400px;
    }
    &.glasses
    {
      max-height: 275px;
    }
	width: auto;
	@include breakpoint-xsmall
	{
		max-height: 375px;
        &.shoes
        {
          max-height: 250px;
        }
        &.glasses
        {
          max-height: 175px;
        }
	}
}

.sortingby
{
	@include brand-primary-font($size: 12);
	line-height: 30px;
	height: 30px;
	font-style: italic;
	text-align: center;
	@include breakpoint-medium {
		padding: 0px 10px;
		height: auto;
	}
}

.itemamount
{
	display: inline-block;
	height: 29px;
	line-height: 29px;
	vertical-align: top;
	span
	{
		display: block;
		float: left;
		margin-right: 0px;
		line-height: 29px;
		display: inline-block;
	}
	@include breakpoint-small {
		display: block;
		text-align: center;
		span
		{
			float: none;
			display: block;
		}
	}
}

.refineby
{
	border-right: 1px solid #000;
	border-left: 1px solid #000;
	display: inline-block;
	padding:0px 20px;
	margin: 0px 10px;
	height: 29px;
	vertical-align: top;
	span
	{
		line-height: 29px;
		display: block;
		float: left;
		margin-right: 10px;
	}
	
	@include breakpoint-small {
		border: none;
		display: block;
		text-align: center;
		padding: 0px;
		margin: 0px;
		height: auto;
		span
		{
			float: none;
			display: block;
			position: relative;
			top: 0px;
		}
	}
}

.sortby
{
	display: inline-block;
	height: 29px;
	line-height: 29px;
	vertical-align: top;
	@include breakpoint-small {
		display: block;
		height: auto;
	}
	span
	{
		line-height: 29px;
		display: block;
		float: left;
		margin-right: 10px;
		@include breakpoint-small {
			float: none;
		}
	}
}

#Container .mix{
	display: none;
}

.val-selector
{
	width: auto;
	padding-right: 10px;
	float: none;
	top: 0px;
	@include breakpoint-small {
		width: 100%;
		display: block;
		padding: 0px 10px;
	}
}

#status
{
  @include brand-primary-font($size: 12);
  text-transform: uppercase;
  margin-top: 10px;
  text-align: center;
}
