@import "../fonts";
@import "../utilities";
@import "../forms";

.toolbar {
  i {
    @include font-size(9);

    &[class*='left'] {
      padding-right: 4px;
    }

    &[class*='right'] {
      padding-left: 4px;
    }
  }

  .text-right {
    span:first-child {
      padding-right: 10px;
    }
  }
}

div.container-fluid .row.row-color {
  padding: 0;

  .col-color {

    img {
      width: 32px;
      height: 32px;
      border: 1px solid $brand-color-darkgray;

      &:hover {
        cursor: pointer;
      }
    }
  }

  div[class*='col-']:last-child {
    height: 32px;

    span {
      @include font-size(9);
      font-weight: bold;
      display: block;
      padding: 6px;
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto 0;
    }
  }
}

.product {
	margin-top: 20px;
  .image {
    @include breakpoint-large-up {
      min-height: 600px;
      img {

      }
    }

    @include breakpoint-medium {
      min-height: 400px;
    }

    img {
      width: 100%;
      height: auto;
      margin: 0 auto;

      @include breakpoint-xsmall {
        width: 100%;
      }
    }

  }
}

// Product details
.details {
  padding-right: 20px;
  padding-left: 20px;
  @include breakpoint-xsmall {
    border-right: 0;
  }
  
  .proddescription
  {
	  max-width: 370px;
  }

  .detail {
    h6 {
      @include font-size(12);
      padding: 4px 0;
    }
    h5
    {
	    @include brand-primary-font($size: 16);
	    margin: 0px;
	    @include breakpoint-medium {
		    br
		    {
			    display: none;
			    
		    }
	    }
	  &.lovespace
	  {
		  margin-top: 30px;
		  margin-bottom: 10px;
		  text-align: center;
	  }
      .final-sale
      {
          img {
            max-width: 156px;
            vertical-align: top;
          }
      }
    }
	 @include brand-primary-font-futura($size: 12);
    padding: 5px;
    letter-spacing: normal;
  }
}

.alternate-views {
  .row {
    padding: 5px 5px;
  }
}

.row [class*='col-']
{
	&.you-may-also-like
	{
		img
		{
			width: auto;
			max-width: 110px;
		}
	}
}

// You may also like
.you-may-also-like {
	h5
	{
		@include brand-primary-font($size: 12);
	}
	border-left: 1px solid lightgray;
	@include breakpoint-xsmall {
    	border-left: none;
	}
  @include headers {

    @include breakpoint-xsmall {
      text-align: left !important;
    }
  }

  .row {
    padding: 0 10px;
  }

  img {
    width: 100%;
    height: auto;
    margin: 2px 0;
  }
}

.recently-viewed {
  padding: 0 10px !important;

  img {
    width: 100%;
    height: auto;
    border: 1px solid $brand-color-darkgray;
  }

  @include breakpoint-xsmall {
    @include headers {
      padding-left: 5px;
    }
  }
}

.size-and-color {
  div span {
    @include brand-primary-font-futura($size: 9);
    text-transform: uppercase;
  }

  .z-select {
    width: 50px;
  }

  input {
    width: 80px;
    border-radius: 0px;
    width: 100px;
    border: 1px solid #807F83;
    height: 29px;
    @include brand-primary-font-futura($size: 11);
    font-style: normal;
    font-size: 12px;
    padding-left: 10px;
    @include breakpoint-small {
    	width: 100%;
    }
  }
}

.share {
  padding: 5px 0 !important;
  min-height: 35px;

  .social-like {

  }
}

.shipping-notification {
	display: block;
	@include brand-primary-font-futura($size: 9);
	text-transform: uppercase;
	text-align: center;
	margin-top: 15px;
	
	@include breakpoint-xsmall {
		padding-left: 0;
	}
}

// Cloud Zoom Styles
/* This is the moving lens square underneath the mouse pointer. */
.cloud-zoom-lens {
  margin:-4px;	/* Set this to minus the border thickness. */
  background-color:#fff;
  cursor:move;
}

/* This is for the title text. */
.cloud-zoom-title {
  @include brand-primary-font($size: 10);
  position:absolute !important;
  background-color: #000;
  color: #fff;
  padding: 3px;
  width: 100%;
  text-align:center;
  top: 0px;
}

@include breakpoint-large-up {
  .mousetrap {
    left: 0px !important;
    min-width: 100%;
  }
}

/* This is the zoom window. */
.cloud-zoom-big {
  overflow: hidden;
  width: 100% !important;
  margin: 0 auto !important;
}

/* This is the loading message. */
.cloud-zoom-loading {
  color: white;
  background: #222;
  padding: 3px;
  border: 1px solid #000;
}

.size {
  float: left;
  width: 80px;
  margin-right: $grid-gutter-width * 2;
}

.qty {
  float: left;
  width: 150px;
  @include breakpoint-medium-up {
    width: 350px;
  }
   @include breakpoint-small {
   	width: 100%;
   }
}

.form-label {
  float: left;
  padding-right: 10px;
}

@mixin social-icon($fileName) {
  $socialIconPath: '/templates/#{$storeid}/images/views/product';
  background: url('#{$socialIconPath}/#{$fileName}') no-repeat;
  background-size: contain;
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-top: -5px;
}

// Setup the hover icons for the social icons
.social-icons {
  a {

    &.facebook {
      span {
        @include social-icon('facebook.png');

        &:hover {
          @include social-icon('facebook_on.png');
        }
      }
    }

    &.twitter {
      span {
        @include social-icon('twitter.png');

        &:hover {
          @include social-icon('twitter_on.png');
        }
      }
    }

    &.pinterest {
      span {
        @include social-icon('pinterest.png');

        &:hover {
          @include social-icon('pinterest_on.png');
        }
      }
    }

    &.link {
      span {
        @include social-icon('link.png');

        &:hover {
          @include social-icon('link_on.png');
        }
      }
    }
  }
}

.alternate-view-gallery,
.cloud-zoom-gallery {
  cursor: pointer;
  display: block;
  &.active
  {
	  opacity: 1;
  }
  opacity: 0.5;
}


@include breakpoint-xsmall {
  div[data-auto-resize] {
    min-height: 90px;
  }
}

.origprice {
  text-decoration: line-through;
}

.saleprice {
  color: #a90407;
}

.val-selector .valarrow:before
{
	right: 5px;
}

/* OUT OF STOCK POPUP */
#outofStock
{
	background: rgba(72,72,72,0.7);
	z-index: 999999999999999;
	.close
	{
		position: absolute;
		top: 5px;
		right: 5px;
		span
		{
			color: #FFF;
		}
	}
	.notify-text
	{
		@include brand-primary-font-futura($size: 11);
		text-align: center;
		margin-bottom: 10px;
		@include breakpoint-small {
			line-height: normal;
		}
	}
	.input-holder
	{
		text-align: center;
		margin-bottom: 4px;
	}
	.modal-header
	{
		border: none;
		padding: 0px;
		@include breakpoint-small {
			padding: 0px;
		}
	}
	.modal-content
	{
		border-radius: 0px;
	}
	
	h4
	{
		text-align: center;
		background-color: #484848;
		color: #FFF;
		height: 30px;
		line-height: 30px;
		@include brand-primary-font($size: 13);
	}
	input
	{
		@include brand-primary-font-futura($size: 10);
		border: 1px solid #484848;
		border-radius: 0px;
		color: #000;
		outline: none;
		padding: 0px 0px 0px 5px;
		margin: 0px;
		width: 250px;
		height: 29px;
		display: inline-block;
		@include breakpoint-medium {
			width: 150px;
		}
	}
	label
	{
		display: block;
		text-align: center;
		@include brand-primary-font-futura($size: 12);
		font-weight: bold;
	}
	.val-selector
	{
		float: none;
		width: 250px;
		border: 1px solid #484848;
		margin: 0 auto;
		display: block;
		@include breakpoint-medium {
			width: 150px;
		}
	}
	.modal-body
	{
		@include breakpoint-medium {
			padding: 0px;
		}
	}
	
	.submitoos
	{
		width: 250px;
		height: 44px;
		background-color: #484848;
		border: none;
		outline: none;
		display: block;
		color: #FFF;
		@include brand-primary-font-futura($size: 10);
		line-height: 41px;
		margin: 0 auto;
		text-align: center;
		cursor: pointer;
		@include breakpoint-medium {
			width: 150px;
			margin-top: 10px;
		}
	}
	
	.modal-lg
	{
		width: 500px;
		@include breakpoint-small {
			width: 100%;
			margin: 0px;
			padding: 0px 10px;
		}
	}
	
	.modal-body
	{
		padding: 30px;
	}
	
	.end-of-modal
	{
		display: none;
		padding: 15px 0px;
	}
	
	@include breakpoint-small {
		.oos-val-selector
		{
			border: none;
			background-color: transparent;
			height: auto;
			min-width: inherit;
			cursor: inherit;
			margin: 0px;
			width: 100%;
			text-align: center;
			.prodvalcont
			{
				display: none;
			}
			.valoptions
			{
				display: none;
			}
			select
			{
				display: inline-block;
			}
		}
	}
}

.detail .btn
{
	width: 172px;
	height: 44px;
	background-color: #484848;
	color: #FFF;
	text-align: center;
	@include brand-primary-font-futura($size: 10);
	line-height: 38px;
	margin-right: 8px;
	outline: none;
	border: none;
	vertical-align: bottom;
	padding: 0px;
	@include breakpoint-small {
		font-size: 11px;
		height: 32px;
		width: 100%;
		line-height: 34px;
		margin-bottom: 8px;
	}
}

.oos
{
	width: 172px;
	height: 44px;
	background-color: #ece5dd;
	color: #000;
	text-align: center;
	@include brand-primary-font-futura($size: 10);
	line-height: 44px;
	display: inline-block;
	vertical-align: bottom;
	outline: none;
	@include breakpoint-small {
		font-size: 11px;
		height: 32px;
		width: 100%;
		line-height: 32px;
	}
	&:focus
	{
		outline: none;
	}
	&:hover
	{
		color: #000;
	}
}

.detailbuttonholder
{
	display: inline-block;
	@include breakpoint-medium {
		display: block;
	}
}

.modal-backdrop.in
{
	opacity: 0;
}

#wrap .mousetrap
{
	max-width: 100%;
	min-width: 100%;
}

.back
{
	padding-left: 17px;
	line-height: 30px;
	padding-top: 10px;
}


.val-selector
{
	@include breakpoint-small {
		width: 100%;
	}
}


.pd-sizechart
{
	margin-left: 5px;
	line-height: 30px;
	a
	{
		color: #b0976d;
	}
}


.cont-shop
{
	width: 250px;
	height: 44px;
	background-color: #484848;
	border: none;
	outline: none;
	display: block;
	color: #FFF;
	@include brand-primary-font-futura($size: 10);
	line-height: 41px;
	margin: 0 auto;
	text-align: center;
	cursor: pointer;
	@include breakpoint-medium {
		width: 150px;
		margin-top: 10px;
	}
}

/*Share Buttons*/
.button-container{
  float:left;
  width: 19px;
  height: 30px;   
  color:#666;
  font-size:22px;
}
.button-container img{
  width: 100%;
}   
.button-container a{
  color:#666 !important;
}
.button-container a:hover{
  color:#999 !important;
}
.topspace{
  padding-top:2px !important;
}
.reset{
  clear: both;
}
#prod-dtls .prod-dtls-right div{
  padding:0 !important;
}