@import "../fonts";
@import "../utilities";
@import "../forms";
@import "cart_view";

#entryform
{
	padding: 0px 30px;
	@include breakpoint-xsmall {
   		padding: 0px 15px;
   	}
}

.btn
{
	border: none;
	@include brand-primary-font-futura($size: 10);
	letter-spacing: normal;
	outline: none;
	&.prev
	{
		width: 172px;
		height: 44px;
		line-height: 41px;
		background-color: #ece5dd;
		color: #000;
		margin-bottom: 10px;
		@include breakpoint-xsmall {
			width: 100%;
		}
	}

	&.next
	{
		width: 172px;
		height: 44px;
		line-height: 41px;
		background-color: #484848;
		color: #FFF;
		margin-bottom: 10px;
		@include breakpoint-xsmall {
			width: 100%;
		}
	}

}

.cart-buttons
{
	padding-top: 10px;
}

tr.header {
  @include brand-primary-font($size: 10);
  text-transform: uppercase;

  td {
    background: #AEAEAE;
    color: white;
  }
}