@import "../fonts";
@import "../utilities";
@import "../forms";
@import "cart_view";

table.order-details {
  border: 0;
  border-spacing: 0;
  margin: 0;
  padding: 0;

  tr {
    td {
      span:first-child {
        font-weight: 400;
      }
    }
  }
}

th {
  &.delivery {
    width: 120px;
    text-align: center;
  }
}

td {
  &.delivery {
    width: 120px;
    text-align: center;
  }
}

tr.header {
  @include brand-primary-font($size: 10);
  text-transform: uppercase;

  td {
    background: #AEAEAE;
    color: white;
  }
}

@include breakpoint-xsmall {
  .image {
    display: none;
  }
}

.btn
{
	border: none;
	@include brand-primary-font-futura($size: 10);
	letter-spacing: normal;
	outline: none;
	&.print
	{
		width: 172px;
		height: 44px;
		line-height: 34px;
		background-color: #484848;
		color: #FFF;
		margin-bottom: 10px;
		padding-top: 10px;
		margin-top: 10px;
		@include breakpoint-small {
			width: 100%;
		}
        @include breakpoint-xsmall {
          padding: 0;
        }
	}
}

.thankspadding
{
	padding: 0px 30px;
	@include breakpoint-xsmall {
		padding: 0px 15px;
	}
}

.total li span:first-child
{
	font-family: Georgia;
}

.price
{
	text-align: left;
}

.quantity
{
	text-align: left;
}