@import "../fonts";
@import "../utilities";

.mainrepcontainer
{
	text-align: center;
	.repcontainer
	{
		@include brand-primary-font-futura($size: 12);
		display: inline-block;
		text-align: left;
		max-width: 320px;
		margin-bottom: 50px;
		min-width: 250px;
		@include breakpoint-small {
			display: block;
			text-align: center;
			max-width: none;
		}
		.reptitle
		{
			@include brand-primary-font($size: 12);
			text-transform: uppercase;
		}
		.emailus
		{
			color: #b0976d;
			text-decoration: underline;
			font-size: 13px;
		}
		i
		{
			color: #b0976d;
			width: 15px;
			margin-right: 5px;
		}
	}
	.repcontainer:first-child
	{
		margin-right: 50px;
		@include breakpoint-medium-up {
			margin-right: 150px;
		}
		@include breakpoint-small {
		 	margin-right: 0px;
		}
	}
}