@import "../fonts";
@import "../utilities";

.ftconwrapper
{
	@include brand-primary-font-futura($size: 12);
	max-width: 800px;
	margin: 0 auto;
	@include breakpoint-small {
		padding: 0px 2em;
	}
	
	.atitle
	{
		@include brand-primary-font($size: 12);
		text-transform: uppercase;
		
	}
	
	i
	{
		color: #999999;
		font-size: 30px;
		
	}
	
	ol
	{
		
		list-style-position: inside;
		margin: 0px;
		padding: 0px;
	}
	
	a
	{
		color: #b0976d;
		text-transform: uppercase;
	}
}