@import "../fonts";
@import "../utilities";
@import "../forms";

table {
  @include breakpoint-xsmall {
    width: 100%;
  }

  width: 50%;
  margin: 0 auto;
  text-align: center;

  tr {
    td {
      @include brand-primary-font-futura($size: 11);
      letter-spacing: normal;
      &.radiorow {
        text-align: left;
      }
      &.servicerow {
        text-align: left;
        text-transform: uppercase;
      }
      &.amountrow {
        text-align: center;
        padding: 0px 5px;
      }
      &.transitrow {
        text-align: right;
		@include breakpoint-small-up {
          text-transform: uppercase;
        }
        @include breakpoint-xsmall {
          @include brand-primary-font-futura($size: 10);
          letter-spacing: normal;
        }
      }
    }
  }
}

.btn {
  border: none;
  @include brand-primary-font-futura($size: 10);
  letter-spacing: normal;
  outline: none;
  &.prev {
    width: 172px;
    height: 44px;
    line-height: 41px;
    background-color: #ece5dd;
    color: #000;
    margin-bottom: 10px;
    @include breakpoint-small {
      width: 100%;
    }
  }

  &.next {
    width: 172px;
    height: 44px;
    line-height: 41px;
    background-color: #484848;
    color: #FFF;
    margin-bottom: 10px;
    @include breakpoint-small {
      width: 100%;
    }
  }

}

#billing-form {
  padding: 0px 30px;
   @include breakpoint-xsmall {
   	padding: 0px 15px;
   }
}

.extrainfo {
  @include brand-primary-font-futura($size: 9);
  text-transform: uppercase;
  margin-top: 10px;
  border-top: 1px solid #ece5dd;
  padding-top: 10px;
  margin-bottom: 10px;
}