@import "../fonts";
@import "../utilities";

.sitecontainer
{
	padding: 0px 2em;
	@include breakpoint-medium-up {
		min-height: 750px;
	}
}
.pagetitle
{
	margin-bottom: 25px;
}
section {
  padding: 10px;
   @include brand-primary-font-futura($size: 13);
   color: #484848;

  h3 {
    @include brand-primary-font($size: 13);
    color: #000;
    @include breakpoint-small {
	   	margin: 7px 0px;
	}
  }

  ul {
    list-style-type: none;
    padding: 0;
    

    li {

      &:first-child {
        padding-top: 2px;
      }

      &:not(:last-child) {
        padding-bottom: 2px;
      }

      a {
      }
    }
    
    li.sitetitle
    {
	   @include brand-primary-font($size: 13); 
	   @include breakpoint-small {
	   	margin: 7px 0px;
	   }
    }
  }
}