@import "../utilities";
@import "../fonts";

.dcsns-toolbar .filter .link-all {
  @include brand-primary-font(10);

  &:hover {
    @include brand-primary-font(10);
  }
}

#social-stream {
  img {
    width: auto;
    height: auto;
  }

  .stream li .meta.item-comments img {
    width: 30px !important;
  }
}

.dcsns-toolbar .filter {
  li {
    img {
      width: 100%;
      height: auto;
    }
  }

  .link-all {
    @include font-size(12);
    margin-top: 8px;

    &:hover {
      @include font-size(12);
      color: #666;
    }
  }

  li.f-twitter a {
    background: none;

    &:hover {
      background: none;
    }

    &.iso-active {
      background: none;
    }
  }

  li.f-facebook a {
    background: none;

    &:hover {
      background: none;
    }

    &.iso-active {
      background: none;
    }
  }

  li.f-pinterest a {
    background: none;

    &:hover {
      background: none;
    }

    &.iso-active {
      background: none;
    }
  }

  li.f-instagram a {
    background: none;

    &:hover {
      background: none;
    }

    &.iso-active {
      background: none;
    }
  }
}

.socialicon
{
	font-size: 20px;
	text-align: center;
	padding-bottom: 10px;
}

.stream li.dcsns-facebook .section-text a
{
	/*display: block;*/
	text-align: center;
}

.stream li.dcsns-facebook .section-text img
{
	float: none;
}

#dcsns-filter
{
	display: inline-block;
}

.dcsns-toolbar
{
	margin: 0px;
	text-align: center
}

.dcsns-toolbar .filter .link-all
{
	color: #b0976d;
}

.stream li
{
	box-shadow: none;
	border: 1px solid #484848;
	a{
		@include brand-primary-font-futura($size: 12);
		letter-spacing: 0.1em;
		color: #b0976d;
		&:hover {
			color: #484848;
		}	
		
	}

  &.dcsns-twitter
  {
    a{
      @include brand-primary-font-futura($size: 12);
      letter-spacing: 0.1em;
      color: #b0976d;
      &:hover {
        color: #484848;
      }

    }
  }
	
	.section-title a
	{
		color: #b0976d;
		&:hover {
			color: #484848;
		}
	}
	
	.inner
	{
		@include brand-primary-font-futura($size: 12);
		letter-spacing: 0.1em;
		text-align: center;	
	}
	
	.section-text
	{
		text-align: center;
		font-size: 14px;
		line-height: 18px;	
	}
	
	.section-thumb img
	{
		border: none;
	}
}

.dcsns-toolbar .filter li a
{
	color: #484848;
	font-size: 18px;
	line-height: 37px;
	&:hover
	{
		color: #333333;
	}
}

.stream li .section-thumb
{
	float: none;
	display: block;
	img
	{
		float: none;
	}
	a
	{
		float: none;
		display: block;
		text-align: center;
	}
}

.stream li.dcsns-instagram .section-thumb img
{
	float: none;
}
