@import "../fonts";
@import "../utilities";
@import "../forms";

.shopbytrend
{
	text-align: center;
	line-height: 50px;
	@include brand-primary-font($size: 18);
}

.viewthis
{
	display: none;
	background: rgba(75,75,75,0.8);
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	position: absolute;
}

.allowview
{
	position: relative;
}

.allowview:hover .viewthis
{
	display: table-cell;
}

.viewthis .viewthistext
{
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	color: #FFF;
	text-align: center;
	@include brand-primary-font($size: 22);
	letter-spacing: 0.1em;
}