// Outputs the 'rem' value for font sizes
@mixin font-size($sizeValue: 14){
  font-size: $sizeValue + px; //fallback for old browsers
  font-size: (0.125 * $sizeValue) + rem;
}

// Used to output font attributes
@mixin font($family, $size: 14, $weight: normal, $decoration: initial, $letterspacing: normal) {
  font-family: $family;
  font-weight: $weight;
  text-decoration: $decoration;
  letter-spacing: $letterspacing;
  @include font-size($size);
}

// ADOBE GARAMOND
@mixin font-adobe-garamond($size: 14, $decoration: initial, $letterspacing: 0.2em) {
  //@include font(#{"\"adobe-garamond-pro\", sans-serif"}, $size, normal, $decoration, $letterspacing);
  @include font(#{"\"garamond-premier-pro-display\", sans-serif"}, $size, normal, $decoration, $letterspacing);
}

// FUTURA
@mixin font-futura($size: 14, $decoration: initial, $letterspacing: 0.1em, $weight: 300) {
  @include font(#{"\"futura-pt\", sans-serif"}, $size, normal, $decoration, $letterspacing);
}

// Brand Primary Font
@mixin brand-primary-font($size: 14, $decoration: initial) {
  @include font-adobe-garamond($size, $decoration);
}

// Brand Primary Font Bold
@mixin brand-primary-font-futura($size: 14, $decoration: initial) {
  @include font-futura($size, $decoration);
}

