@import "fonts";
@import "utilities";

#newsletter {

  .modal-content {
    background: white;
    color: black;
    border-radius: 0px;

    .modal-header {
      border: 0;

      button {
        opacity: 1;
        color: black;
      }
    }

    .modal-body {
      @include headers {
        @include font-size(14);
        @include brand-primary-font();
        padding: 10px;
      }

      h3 {
        @include brand-primary-font($size: 30);
        letter-spacing: 3px;
        margin-top: 0px;
        paddingtop: 0px;

        @include breakpoint-xsmall {
          @include font-size(16);
        }
      }

      h6 {
        padding-top: 0;
      }

      .newpopuptext
      {
        @include brand-primary-font-futura($size: 13);
        width: 75%;
        margin: 0 auto;
        padding-bottom: 20px;
        text-align: center;
        letter-spacing: normal;
      }

      .signupnow
      {
        @include brand-primary-font-futura($size: 16);
        text-align: center;
        padding-bottom: 20px;
      }

      .endofpopup
      {
        padding-bottom: 40px;
      }

      input {
        @include brand-primary-font-futura($size: 12);
        @include breakpoint-xsmall {
          width: 94%;
        }

        width: 50%;
        background: #FFF;
        border: 1px solid #484848;
        color: #484848;
        height: 30px;
        text-align: left;
        padding-left: 5px;
        margin-bottom: 5px;
        letter-spacing: normal;
      }

      ul {
      	@include brand-primary-font-futura($size: 12);
        padding-bottom: 10px;
        width: 100%;
        margin: 0 auto;
        text-align: center;
        list-style-type: none;
        padding-left: 0px;
        padding-bottom: 20px;

        @include breakpoint-xsmall {
          width: 100%;
          padding-left: 13px;
        }

        li {
          span {
            text-transform: uppercase;
            color: black;
          }

          &:before {
            @include font-size(7);
            color: black;
            content: "\2022";
            padding-right: .20em;
            position: relative;
            top: -.3em;
          }
        }
      }

      p {
        padding: 9px;
        margin-bottom: 5px;

        a {
          @include font-size(12);
          color: white;
          text-transform: uppercase;
          text-decoration: underline;
        }
      }

      label {
        padding-top: 5px;
        display: block;

        &.error {
          color: $btn-danger-bg;
        }
      }
      .signup
      {
        height: 44px;
        line-height: 44px;
        background-color: #484848;
        color: #FFF;
        text-decoration: none;
        display: block;
        margin: 10px auto;
        border: 1px solid #484848;
        padding-left: 5px;
        @include breakpoint-xsmall {
          width: 94%;
        }
        width: 50%;
      }

      .thisrequired
      {
        position: absolute;
        bottom: -5px;
        left: 0px;
      }
    }
  }
}
