@import "fonts";
@import "utilities";

#sweepstakes {

  @include breakpoint-small-up {
    .modal-dialog {
      width: 500px;
    }
  }

  .modal-body {
    padding: 30px;
  }

  .modal-content {
	  border-radius: 0px;
    .modal-header {
      border: 0;
    }

    input {
      width: 99%;
    }

    select {
      width: 99%;
      border-radius: 0px;
    }

    div.form div[class*='col-xs-12'] div {
      margin-top: 10px;
    }

    div.form div[class*='col-sm-6'] div {
      margin-top: 5px;
      text-align: left;
    }

    input {
      padding-left: 10px;

      &[required] {
        @include placeholder {
          &:after {
            content: '*';
            color: #a90407;
          }
        }
      }

      @include placeholder {
        text-transform: uppercase;
        color: black;
      }

      &.mobile {
        @include placeholder {
          @include brand-primary-font-futura(10);
        }
      }
    }

    button[type="submit"] {
      width: 180px;
    }

    label {
      text-align: left;
    }

    .required {
      color: #a90407;
    }

    .thankyou {
      padding-bottom: 10px;
    }
    
    .btn {
		border: none;
		@include brand-primary-font-futura($size: 10);
		letter-spacing: normal;
		outline: none;
		
		width: 172px;
		height: 44px;
		line-height: 41px;
		background-color: #484848;
		color: #FFF;
		margin-bottom: 10px;
		@include breakpoint-small {
			width: 100%;
		}
	
	}
  }
}
