@import "fonts";
@import "forms";
@import "utilities";

.modal {
  z-index: 9999;
}

#personalShopperModal {
	background: rgba(72,72,72,0.7);
	z-index: 999999999999999;
	.modal-lg
	{
		max-width: 540px;
	}
	
	.close
	{
		position: absolute;
		top: -5px;
		right: 10px;
	  span
	  {
		  font-size: 45px;
	  }
	}
	
	.modal-content
	{
		border-radius: 0px;
	}
	
	.modal-header
	{
		border: none;
	}
	
	.personal-header
	{
		@include brand-primary-font($size: 10);
		text-align: center;
		text-transform: uppercase;
		font-size: 18px;
		line-height: 20px;
	}
	.choose-text
	{
		@include brand-primary-font-futura($size: 10);
		font-size: 14px;
		line-height: 20px;
		text-align: center;
		letter-spacing: normal;
	}
	.assist-text
	{
		@include brand-primary-font($size: 10);
		text-align: center;
		text-transform: uppercase;
		font-size: 14px;
		line-height: 20px;
	}
	.call-us
	{
		@include brand-primary-font-futura($size: 10);
		font-size: 14px;
		line-height: 20px;
		text-align: center;
		letter-spacing: normal;
		margin-top: 25px;
		i
		{
			color: #b0976d;
			margin-right: 8px;
		}
		span
		{
			@include brand-primary-font($size: 10);
			font-size: 14px;
			line-height: 20px;
			text-transform: uppercase;
		}
	}
	.email-us
	{
		@include brand-primary-font-futura($size: 10);
		font-size: 14px;
		line-height: 20px;
		text-align: center;
		letter-spacing: normal;
		margin-top: 5px;
		i
		{
			color: #b0976d;
			margin-right: 8px;
		}
		span
		{
			@include brand-primary-font($size: 10);
			font-size: 14px;
			line-height: 20px;
			text-transform: uppercase;
		}
		a
		{
			color: #b0976d;
			text-decoration: underline;
			&:hover
			{
				color: #b0976d;
				text-transform: uppercase;
			}
		}
	}
	
	.submit-below
	{
		@include brand-primary-font($size: 10);
		font-size: 14px;
		line-height: 20px;
		text-transform: uppercase;
		text-align: center;
		margin-top: 20px;
		margin-bottom: 10px;
	}
	
	.form
	{
		input
		{
			width: 254px;
			height: 29px;
			border: 1px solid #484848;
			border-radius: 0px;
			padding-left: 5px;
			margin: 0 auto;
			margin-bottom: 5px;
			@include brand-primary-font-futura($size: 9);
			color: #000;
			display: block;
		}
		.btn
		{
			width: 254px;
			height: 45px;
			line-height: 40px;
			vertical-align: top;
			@include brand-primary-font-futura($size: 11);
			display: block;
			margin: 0 auto;
			margin-bottom: 15px;
			background-color: #484848;
		}
	}
	
	.required
	{
		float: left;
		@include brand-primary-font-futura($size: 11);
		font-size: 11px;
		line-height: 20px;
		text-align: left;
		margin-top: 15px;
		span
		{
			color: #b0976d;
		}
	}
}
