@import "fonts";
@import "utilities";

#video {

  .modal-content {

    .modal-header {
      border: 0;
      padding: 5px;
    }

    .modal-body {
      padding: 0;

      @include headers {
        @include brand-primary-font();
      }

      h3 {
        @include brand-primary-font($size: 30);
      }

      h6 {
        padding-top: 0;
      }
    }
  }
}
