// Add font functionality
@import 'fonts';

// Add utility functionality
@import 'utilities';

// Will adjust the top padding for the navigation and the menu pop-up background
$navigation-top-padding: 10;

// Activate hover menus
@include breakpoint-mobile-menu-up {

 .top-nav
  {
    height: 50px;
    background-color: #484848;
    text-align: center;
    padding: 10x 0px 0px 0px;
    a{
      display: block;
      height: 100%;
    }
    img
    {
      max-height: 100%;
    }
  }

  .top-nav a {
    &.kaylogo {
      padding: 0px;
    }
  }


  nav {
  /*
    .dropdown:hover .dropdown-menu {
      display: block;
    }
   */
   .nav li>a:first-child
   {
	   padding: 0px;
	   font-size: 14px;
   }
  }

  nav.navbar ul li.dropdown {
    padding-bottom: 13px;
  }
}

.navbar-default .navbar-nav .open .dropdown-menu > li > a {
  color: #000;
}

.nav>li
{
	position: initial;
}


nav.navbar {
	  @include border-radius(0);
	  background: #FFF;
	  padding-top: $navigation-top-padding + px;
	  margin-bottom: 0;
	  height: 68px;
	  border: none;
	
	  a {
	    letter-spacing: 0.1em;
	  }
	
	  ul.dropdown-menu li a {
	    @include brand-primary-font-futura($size: 11);
		color: #000;
	    line-height: 15px;
	  }
	
	  > ul li.dropdown:hover > a {
	    /*color: #333;*/
	  }
	
	  ul:first-child li {
	  	padding-top: 5px;
	  	@include breakpoint-mobile-menu-up {
	    padding: 15px 10px
	    }
	  }
	  
	  li .topnav a {
		  	letter-spacing: 0.2em;
		  	font-size: 12px;
	  }
}

.maincat
{
	margin-left: -5px;
	display: block;
	max-width: 191px;
    @include breakpoint-mobile-menu {
      max-width: 100%;
    }
}

nav.navbar ul.dropdown-menu li .navitembreak
{
	border-bottom: 1px solid #000;
	padding: 5px 10px 5px 0px;
	text-transform: uppercase;
	a
	{
		@include brand-primary-font($size: 11);
		letter-spacing: 0.1em;
color: #000;
		&:hover
		{
			text-decoration: underline;
		}
	}
}


nav.navbar ul.dropdown-menu li .navitemnobreak
{
	padding-top: 5px;
	a
	{
	@include brand-primary-font($size: 11);
	letter-spacing: 0.1em;
	text-transform: uppercase;
		&:hover
		{
			text-decoration: underline;
		}
      &.nohover
      {
        text-decoration: none !important;
        cursor: pointer !important;
      }

	}
}

nav.navbar ul.dropdown-menu li .navitemtopbreak
{
	border-top: 1px solid #000;
	margin-top: 5px;
	a
	{
	@include brand-primary-font($size: 11);
	letter-spacing: 0.1em;
	text-transform: uppercase;
		&:hover
		{
			text-decoration: underline;
		}
	}
	@include breakpoint-mobile-menu-up {
		padding-top: 10px;
	}
}


.navbar-default .navbar-nav>li>a, .navbar-default .navbar-text
{
	color: #000;
}
// Position of the top right links
ul.navbar-right {

  @include breakpoint-mobile-menu-up {
    li {
      @include font-size(9);
      letter-spacing: 0.1em;
      text-align: center;
      margin-top: -20px;
      text-transform: uppercase;
      color: #777;

      // Icon color
      & i {
        color: black;
      }

      &:first-child {
        margin-top: -3px;
      }
    }

    a {
      @include font-size(9);
      letter-spacing: 1px;
    }
  }
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #000;
    text-decoration: underline;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover
{
	color: #000;
	background-color: transparent;
	text-decoration: underline;
}

.catimagepreview
{
	padding-left: 15px;
}

@include breakpoint-mobile-menu {

  .top-nav
  {
    height: 50px;
    background-color: #484848;
    text-align: center;
    padding: 10x 0px 0px 0px;

    a{
      display: block;
      height: 100%;
    }
    img
    {
      max-height: 100%;
      position: relative;
      z-index: 9;
    }
  }

  .top-nav a {
    &.kaylogo {
      padding: 0px;
    }
  }

  .collapsing,
  .collapse.in {
    position: absolute;
    z-index: 99999;
    width: 101%;
    background: #484848;
  }
  
 .navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #000;
    text-decoration: underline;
  }

  div.navbar-collapse {
    margin-top: 7px;
  }

  // The background of the sub menu
  div.menu-background {
    display: none;
  }
  .catimagepreview
  {
  	display: none;
  }
  
  .navitembreak
  {
	  padding-bottom: 0px;
	  border: none;
  }
}

@include breakpoint-small-up {
  $menu-background-height: 153;

  div.menu-background {
    @include pos($position: absolute, $top: (94 + $navigation-top-padding) + px);
	background: #000;
    background: rgba(0, 0, 0, .7);
    height: $menu-background-height + px;
    width: 100%;
    display: none;
    z-index: 99999;
  }

  nav.navbar ul.dropdown-menu {
    @include border-radius(0);
    margin-top: -2px;
    border: 0;
    width: auto;
    box-shadow: initial;
    background: #000;
    background: rgba(255,255,255,0.8);
    overflow: hidden;
    z-index: 9999999;
    a {
      color: white;
      display: block;
      padding: 5px 0;
      margin-left: 0px;
      @include brand-primary-font-futura($size: 9.5);
      &:hover {
        background: transparent;
        text-decoration: underline;
      }
    }
    .row
    {
	    position: relative;
    }
  }
  
  	.dropdown-menu .row [class*='col-'] img
	{
		width: auto;
		height: 100%;
	}

}

.navbar-toggle {
  border: 0;
  margin-top: 10px;
  padding-top: 7px;
}

.navbar-right-links {
  float: right;
  margin: 5px 0px 0 0;
  height: 40px;
  border-right: 1px solid $brand-color-lightgray;

  ul {
    padding: 7px 10px 0 0;

    li {
      padding: 0;
      text-transform: uppercase;

      &:not(:last-child):after {
        content: '|';
        padding: 0 5px;
      }
    }
  }
}

.topnav
{
	text-transform: uppercase;
}

.navbar-brand {
  @include breakpoint-mobile-menu {
  	margin: 10px 0px 0px 0px;
  	padding: 0px 0px 0px 10px;
  	img
  	{
	  	max-width: 130px;
  	}
  }
  
  img
  {
	  
	  max-width: 150px;
  }
}

.nav>li.navbar-cobrand {
	display: none;
  @include breakpoint-mobile-menu {
  	display: block;
  	img
  	{
  		width: auto;
	  	max-height: 40px;
  	}
  }
}

.nav>li.search-nav {
  display: none;
  @include breakpoint-mobile-menu {
    display: block;
  }
}

nav.navbar ul:first-child li
{
	@include breakpoint-mobile-menu {
		.row [class*='col-']
		{
			width: 100%;
			.maincat
			{
				padding: 0px;
				margin: 0px;
				border: none;
				line-height: 20px;
				padding: 10px 15px;
				color: #000;
				a {
					color: #000;
				}
			}
		}
	}
}

.phoebeicon
{
	display: none;
	@include breakpoint-mobile-menu-up {
		display: block;
		position: absolute;
		top: 0px;
		bottom: 0px;
		right: 15px;
		margin: auto;
		height: 30px;
		img
		{
			max-height: 32px;
		}
	}
}


.navbar-nav .open .dropdown-menu
{
	@include breakpoint-mobile-menu{
	    padding: 0px !important;
    }
}

.navbar-toggle .icon-bar+.icon-bar
{
	margin-top: 6px;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover
{
	background-color: transparent;
}

.navbar-toggle .icon-bar.activated
{
	background-color: #000;
}

.searchcontainer
{
  display: none;
  float:right;
  margin-right: 43px;
  position: relative;
  @include breakpoint-mobile-menu-up {
    display: inline-block;
  }
  @include brand-primary-font-futura($size: 10);
  line-height: 29px;
  i {
    cursor: pointer;
    position: absolute;
    top: 7px;
    z-index: 2;
    right: 5px;
color: #000;

  }
  .stextcontainer
  {
    display: inline-block;
    input[type=text]
    {
      border: 1px solid #484848;
      width: 120px;
      background-color: #FFF;
      text-transform: uppercase;
      margin: 0px;
      padding: 0px;
      outline: none;
      height: 19px;
      vertical-align: middle;
      margin-left: 5px;
      font-size: 12px;
      line-height: normal;
      border-radius: 0px;
      position: relative;
      top: -1px;
      padding-left: 5px;
    }
    form{
      display: inline-block;
    }
  }
}

input[name=searchtext]
{
  @include brand-primary-font-futura($size: 10);
  border: none;
  border-bottom: 1px solid #000;
  width: 120px;
  background-color: #FFF;
  text-transform: uppercase;
  margin: 0px;
  padding: 0px;
  outline: none;
  height: 16px;
  vertical-align: middle;
  margin-left: 5px;
  font-size: 12px;
  line-height: normal;
  border-radius: 0px;
  margin-left: 20px;
  padding-left: 5px;
}
.search-nav {
  padding-bottom: 10px;

  .navbarsearch {
    display: inline-block;
    height: 16px;
    line-height: 16px;
    color: #FFF;
    background-color: #000;
    margin-left: 5px;
    padding: 0px 5px;
    @include brand-primary-font-futura($size: 8);
    cursor: pointer;
    vertical-align: middle;
  }
}
