// Import Bootstrap variables
@import "vendors/bootstrap/stylesheets/bootstrap/_variables.scss";

// Import image utilities from bootstrap
@import "vendors/bootstrap/stylesheets/bootstrap/mixins/_image";

// Import font utilities
@import "fonts";

// Import local variables
@import "variables";

// Responsive media portrait orientation
@mixin breakpoint-device-portrait {
  @media only screen and (orientation : portrait) {
    @content;
  }
}

// Responsive media landscape orientation
@mixin breakpoint-device-landscape {
  @media only screen and (orientation : landscape) {
    @content;
  }
}

// Responsive media menu breakpoint
@mixin breakpoint-mobile-menu-up {
  @media only screen and (min-width: 1025px) {
    @content;
  }
}

// Responsive media menu breakpoint
@mixin breakpoint-mobile-menu {
  @media only screen and (max-width: 1024px) {
    @content;
  }
}

// Responsive media large
@mixin breakpoint-large-up {
  @media only screen and (min-width: $screen-lg-min) {
    @content;
  }
}

// Responsive media large
@mixin breakpoint-large {
  @media only screen and (max-width: $screen-lg-min) {
    @content;
  }
}

// Responsive media medium
@mixin breakpoint-medium-up {
  @media only screen and (min-width: $screen-md-min) {
    @content;
  }
}

// Responsive media medium
@mixin breakpoint-medium {
  @media only screen and (max-width: $screen-md-max) {
    @content;
  }
}

// Responsive media small
@mixin breakpoint-small-up {
  @media only screen and (min-width: $screen-sm-min) {
    @content;
  }
}

@mixin breakpoint-small {
  @media only screen and (max-width: $screen-sm-max) {
    @content;
  }
}

@mixin breakpoint-xsmall-up {
  @media only screen and (min-width: $screen-xs-min) {
    @content;
  }
}

@mixin breakpoint-xsmall {
  @media only screen and (max-width: $screen-xs-max) {
    @content;
  }
}

// Affects all headers
@mixin headers {
  h1, h2, h3, h4, h5, h6 {
    @content
  }
}

// Cross browser placeholder support
@mixin placeholder {
  &::-webkit-input-placeholder {
    @content
  }

  &:-moz-placeholder {
    @content
  } /* Firefox 18- */

  &::-moz-placeholder {
    @content
  } /* Firefox 19+ */

  *:-ms-input-placeholder {
    @content
  }
}

// mixin: shortcut to adjust an element's position
@mixin pos($position: relative, $top: initial, $right: initial, $bottom: initial, $left: initial) {
  position: $position;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

// cross-browser border-radius mixin
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

.visible-mobile-menu {
  @include breakpoint-mobile-menu {
    display: inherit;
  }

  @include breakpoint-mobile-menu-up {
    display: none;
  }
}

.hidden-mobile-menu {
  @include breakpoint-mobile-menu {
    display: none;
  }
}
