// For Zindigo Aggregated Store
.nav.navbar-nav {
  max-height: 500px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.collapsing, .collapse.in
{
  width: 100%;
}


nav.navbar ul:first-child li {
  .row [class*='col-'] {
    .maincat {
      padding-top: 5px;
      padding-bottom: 5px;
    }
  }
}

html,body
{
  height: 100%;
  width: 100%;
}
#content-wrap {
  height: 570px;
  overflow-y: auto;
  overflow-x: hidden;
  margin-bottom: 0px;
}