.nav.navbar-nav {
  max-height: 500px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.collapsing, .collapse.in
{
  width: 100%;
}

nav.navbar ul:first-child li {
  .row [class*='col-'] {
    width: 100%;
    .maincat {
      padding-top: 5px;
      padding-bottom: 5px;
    }
  }
}