// Include mixins and functions
@import 'utilities';

// Include the navigation styles
@import 'navigation';

// Include all of the fonts for this application
@import 'fonts';

// Custom Select styles
@import 'zselect';

// Custom button styles
@import 'buttons';

// Size Guide modal styles
@import 'modal_sizeguide';

// Newsletter modal styles
@import 'modal_newsletter';

// Sweepstakes modal styles
@import 'modal_sweepstakes';

// Personal Shopper modal styles
@import 'modal_personal_shopper';

body {
  @include brand-primary-font($size: 10);
  font-size: 12px;
  background: white;
}

th
{
	font-weight: normal;
}

td
{
	font-weight: normal;
}

form input {
  border-radius: 0;
}

// Customize the headers
@include headers {
  @include brand-primary-font-futura();
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 1px;
}

h1, h2, h3 {
  @include brand-primary-font-futura(25);
}

// Adjust the padding globally for all rows and fluid containers
.container-fluid {
  padding: 0px;

  .row {
    padding: 0px;
  }
}

// Customize the links
a {
  color: #777;
  &:hover {
    color: #999999;
    text-decoration: none;
  }
  &:focus
  {
	color: #999999;
    text-decoration: none; 
  }
}

// Page title section
.page-title {
  padding: 0;

  .row {
    padding: 5px 0 5px 24px;
  }

  border-bottom: 1px solid #e7e7e7;
}

// Customize the buttons
.btn {
  @include brand-primary-font-futura($size: 10);
  color: #4F4F4F;
  border: 1px solid $btn-default-border;
  border-radius: 0;
  padding: 2px 10px 2px 10px;
  text-transform: uppercase;

  &:hover {
    color: #4F4F4F;
    background-color: lightgrey;
  }
}

// Footer styles
footer {
  @include brand-primary-font-futura($size: 10);
  text-transform: uppercase;
  background: white;
  color: #484848;
  width: 100%;
  padding: 20px;

  a {
    &:hover {
      color: #999;
      text-decoration: none;
    }
  }

  input {
    @include font-size(10);
    width: 100%;
    margin: 2px 0 5px 0;
    background: black;
    border: 1px solid lightgray;
  }

  // Arrow in the input
  .arrow {
    width: 18px;
    height: 25px;
    background: url('/templates/#{$storeid}/images/email_signup.jpg') -4px -2px/20px no-repeat;
    display: inline-block;
    position: absolute;
    right: 0;
    bottom: -1px;
  }

  // Adjust the left margin so there are equal gutters between footer sections
  @include breakpoint-medium-up {
    > div.row > div.col-md-offset-1:first-child {
      margin-left: 4.15%;
    }
  }

  @include breakpoint-medium {
    > div.row > div.col-xs-6 {
      height: 150px;
    }
  }

  // Adds the underline to the menu options
  div.title {
    margin: 5px 0;
    position: relative;
    @include brand-primary-font($size: 11);
  }
  
  div.reg {
    margin: 5px 0;
    position: relative;
  }

  // Navigation menu collections
  ul {
    list-style-type: none;
    padding-left: 0;

    li {

    }
  }

  ul.social {

    li {
      width: 50px;

      &:first-child {
        margin-top: 10px;
      }

      a {
        img {
          width: 50px;
          height: 19px;
        }
      }

    }
  }
}

// Make all images responsive by default
.row [class*='col-'] img {
  width: 100%;
  height: auto;
}

// Universal styles for modal
.modal {
  .close {
    font-size: 25px;
    opacity: 1;
    span {
      font-size: 25px;
    }
  }
}

.page-title {
  border-bottom: 1px solid #e7e7e7;

  @include headers {
    @include brand-primary-font($size: 14);
  }
}

hr {
  margin: 0;
  border-bottom: 1px solid #777;
  margin-bottom: 1px;
}

// Hover effect for products in columns
.product-hover {
  width: 100%;
  height: 75px;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
  color: white;
  background: rgba(0, 0, 0, .5);

  div {
    @include breakpoint-large-up {
      padding-top: 5px;
    }
    padding-top: 10px;

    p {
      text-align: center;

      &:first-child {
        @include breakpoint-medium-up {
          @include font-size(16);
        }
        @include font-size(13);
      }

      &:last-child {
        @include breakpoint-medium-up {
          @include font-size(14);
        }
        @include font-size(12);
      }
    }
  }
}

.free-shipping-notification {
	background: #484848;
	color: #FFF;
	margin: 0 !important;
	padding-left: 10px;
	height: 27px;
	line-height: 29px;
	position: relative;
	@include breakpoint-mobile-menu {
		padding: 0px 10px;
	}
	@include headers {
		padding-top: 2px;
	}
  	.toptext
	{
		@include brand-primary-font-futura($size: 10);
		letter-spacing: 1px;
		text-transform: uppercase;
		white-space: nowrap;
		a {
			color: #FFF;
			&:hover
			{
				color: #FFF;
				text-decoration: underline;
				span
				{
					text-decoration: underline;
				}
			}
			i
			{
				margin-left: 4px;
			}
		}
	}
	
	.hideformobile
	{
		display: inline-block;
		@include breakpoint-mobile-menu {
			display: none;
		}
	}
}



.val-selector {
    background-color: #FFFFFF;
    border: 1px solid #DDDDDD;
    cursor: pointer;
    display: inline-block;
    float: left;
    height: 29px;
    min-width: 100px;
    position: relative;
    text-align: left;
    @include brand-primary-font-futura($size: 11);
    font-style: normal;
    font-size: 12px;
}

.val-selector .valtext {
    float: left;
    line-height: 27px;
    text-transform: uppercase;
    width:100%;
}

.val-selector .valarrow:before {
    content: "\f0d7";
    font-family: 'FontAwesome';
    position: absolute;
    top: 0px;
    right: 15px;
    line-height: 27px;
    font-size: 14px;
    color: #484848;
}

.val-selector .valoptions {
    background-color: #FFFFFF;
    border: 1px solid #807F83;
    display: none;
    font-size: 10px;
    left: -1px;
    line-height: 14px;
    position: absolute;
    top: 27px;
    width: 100%;
    box-sizing: content-box;
    z-index: 99;
}

.val-selector .prodvalcont {
    padding-left: 10px;
    padding-right: 25px;
    box-sizing: content-box;
    height: 100%;
    display: block;
}

.val-selector .valoptions .suboption {
    background-color: #FFFFFF;
    font-size: 12px;
    line-height: 19px;
    padding-left: 10px;
    text-align: left;
    text-transform: uppercase;
    &:hover
    {
	    background: lightgray;
    }
}

.val-selector {
    background-color: #FFFFFF;
    border: 1px solid #807F83;
    cursor: pointer;
    display: inline-block;
    float: left;
    height: 29px;
    min-width: 100px;
    position: relative;
    text-align: left;
    overflow: visible;
    width: auto;
    margin: 0 0 4px 0;
}

.val-selector .valoptions {
    max-height: 400px;
    overflow-y: auto;
}

.val-selector select
{
	display: none;
}

.pagetitle
{
	text-align: center;
	line-height: 53px;
	height: 70px;
	@include brand-primary-font($size: 18);
	text-transform: uppercase;
	padding: 10px 0px;
}

.ehh
{
	overflow: hidden;
}

.ksocialicons a
{
	margin-right: 6px;
	font-size: 15px;
	color: #484848;
	
	&:hover
	{
		color: #333;
	}
}

.shopping-bag
{
	background: url('/templates/33/images/whitebag.png') no-repeat top center transparent;
	width: 20px;
	height: 20px;
	position: absolute;
	top: 0px;
	right: 5px;
	bottom: 0px;
	margin: auto;
	text-align: center;
	color: #FFF;
	font-family: Georgia;
	font-size: 12px;
	line-height: 24px;
	padding-left: 3px;
	@include breakpoint-mobile-menu {
		display: none;
		&.mobilemenubag
		{
			display: block;
			position: relative;
			right: auto;
			background-image: url('/templates/33/images/bag-mobile.png');
			padding-left: 1px;
			margin-top: -6px;
			width: 26px;
			height: 36px;
			line-height: 32px;
			background-size: 100%;
		}
	}
}

a:hover {
  color: #b0976d;
  text-decoration: underline;
}

