{% extends "store.base.twig" %}

{% set baseImagePath = "/templates/#{controller.storeid}/images" %}
{% set storeLinkUrl = "index.php?storeid=#{controller.storeId}&page={page}" %}
{% set baseUrl = "index.php?storeid=#{controller.getStoreId(false)}&sess=#{sessionName}&#{sessionName}=#{sessionId}" %}
{% set product = registry.get('product') %}
{% import "form.macros.twig" as forms %}
{% set seo = registry.get('seo') %}

{% block title %}
    {%  if seo.title is not empty %}
        {{ seo.title }}
    {%  else %}
        Kay Unger - {{ action.title|title }}
    {% endif %}
{% endblock %}

{% block fbMeta %}

    {%  if seo is not empty %}
        <meta property="og:title" content="{{ seo.title }}"/>
        <meta property="og:site_name" content="Kay Unger"/>
        <meta property="og:description" content="{{ seo.desc }}"/>
        {%  if seo.image is not empty %}
            <meta property="og:image" content="{{ seo.image }}"/>
        {% endif %}

    {% else %}
    {%  if product is not empty %}
        <meta property="og:type" content="og:product" />
        <meta property="og:title" content="{{ product.details.Name|title }}" />
        <meta property="og:image" content="http://c8907125.r25.cf2.rackcdn.com/{{ product.images.ID }}.jpg" />
        <meta property="og:description" content="{{ product.details.Description|striptags|replace({'&nbsp;': ''}) }}" />
        <meta property="og:url" content="{{ action.productUrl|replace({'stores.zindigo.com': 'www.kayunger.com'})|replace({'storesdev.zindigo.com': 'www.kayunger.com'}) }}" />
        <meta property="product:price:amount" content="{{product.details.StorePrice}}" />
        <meta property="product:price:currency" content="USD" />
        <meta property="fb:app_id" content="124835944336119"/>


    {% endif %}
    {% endif %}
{% endblock %}

{% block assets %}
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<script src="//use.typekit.net/frz3lmn.js"></script>
	<script>try{Typekit.load();}catch(e){}</script>
    <!-- CSS -->
    <link rel="stylesheet" href="/css/{{ controller.storeId }}/generated/frontend.min.css" />
    <link rel="stylesheet" href="/css/{{ controller.storeId }}/generated/app.min.css?time={{ date().timestamp }}" />
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    {% for cssAsset in action.getCssFileAssets() %}
        <link rel="stylesheet" href="/css/{{ controller.storeId }}/generated/{{ cssAsset }}?time={{ date().timestamp }}"/>
    {% endfor %}
    <link rel="stylesheet" href="//releases.flowplayer.org/5.5.0/skin/minimalist.css">
    
    <!--[if lte IE 8]><link rel="stylesheet" type="text/css" href="/css/33/ie8.css" /><![endif]-->

    <!-- JS -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="/js/{{ controller.storeId }}/generated/frontend.min.js"></script>
    <script src="/js/{{ controller.storeId }}/generated/app.min.js"></script>
    <script src="//releases.flowplayer.org/5.5.0/flowplayer.min.js"></script>
	<link rel="shortcut icon" href="//storesdev.zindigo.com/templates/33/images/favicon.ico" type="image/x-icon">
	<link rel="icon" href="//storesdev.zindigo.com/templates/33/images/favicon.ico" type="image/x-icon">
    <meta name="google-site-verification" content="h9-6op7VnvCRJ_1w3ufgJHEw35rDJkSuvplHuWquYXw" />
{% endblock %}

{% block header %}
    <div class="row free-shipping-notification">
        <div class="col-xs-12 text-left toptext">
            <div class="searchcontainer">
                SEARCH
                <i class="fa fa-search searchbutton"></i>
                <span class="stextcontainer">

                        {% set sformId = "search-form" %}
                        {{ forms.form_open("#{sformId}", "#{sformId}", 'index.php', 'GET') }}
                        {{ forms.hidden_input('action', 'action', 'search') }}
                        {{ forms.hidden_input('page', 'page', 'searchproducts') }}
                        {{ forms.hidden_input('sess', 'sess', "#{sessionName}") }}
                        {{ forms.hidden_input('storeid', 'storeid', "#{controller.getStoreId(false)}") }}

                            <input type="text" placeholder="" value="" name="searchtext" />
                        {{ forms.form_close() }}
                </span>
            </div>
        </div>
        <a href="{{ baseUrl }}&page=cart_view" class="shopping-bag">{{ session.cart.itemcount }}</a>
    </div>
    {% include "navigation.twig" %}
{% endblock %}

{% block content %}
    {{ controller.output|raw }}
{% endblock %}

{% block footer %}
	{% include "_modal_size_chart.twig" %}
	 {# {% include "_modal_newsletter.twig" %} #}
	{% include "_modal_personal_shopper.twig" %}
    <footer>
        <div class="row">
            <div class="col-xs-6 col-sm-3 col-md-2 col-md-offset-1">
                <div class="title">where to buy</div>
                <div class="reg"><a href="{{ storeLinkUrl|replace({'{page}': 'findstore'}) }}">FIND A STORE</a></div>
                <div>&nbsp;</div>
                <div class="title">WHOLESALE</div>
                <div class="reg"><a href="{{ storeLinkUrl|replace({'{page}': 'reps'}) }}">REPS</a></div>
                {#}
                <div class="title">
                    sign up for updates
                    <input name="join" type="email"/>
                    <input type="hidden" name="storeId" value="{{ controller.storeId }}" />
                    <a class="signup-footer" href="#">
                        <span class="arrow"></span>
                    </a>
                </div>
                <div>
                    empowered by zindigo
                </div>
                #}
            </div>
            <div class="col-xs-6 col-sm-3 col-md-2 col-md-offset-1">
            	<div class="title">CUSTOMER SERVICE</div>
				<div class="reg">US (877) 212-8450</div>
				<div class="reg"><a href="{{ storeLinkUrl|replace({'{page}': 'returns'}) }}">SHIPPING & RETURNS</a></div>
				<div class="reg"><a href="#" data-toggle="modal" data-target="#sizeGuide" class="sizeguide">SIZE CHART</a></div>
				<div class="reg"><a href="{{ storeLinkUrl|replace({'{page}': 'sitemap'}) }}">SITE MAP</a></div>
<div class="reg"><a href="#" data-toggle="modal" data-target="#personalShopperModal">personal shopper</a></div>
				
            </div>
            <div class="col-xs-6 col-sm-3 col-md-2 col-md-offset-1">
            	<div class="title">NEWSLETTER</div>
                <div class="reg"><a href="#" data-toggle="modal" data-target="#newsletter" class="signupupdates">SIGN UP FOR UPDATES</a></div>
                <div>&nbsp;</div>
                <div class="title">LEGAL</div>
                <div class="reg"><a href="{{ storeLinkUrl|replace({'{page}': 'privacy'}) }}">PRIVACY POLICY</a></div>
                <div class="reg"><a href="{{ storeLinkUrl|replace({'{page}': 'terms'}) }}">TERMS & CONDITIONS</a></div>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-2 col-md-offset-1">
                <div class="title">JOIN THE KAY UNGER COMMUNITY</div>
                <div class="ksocialicons">
                	<a href="http://www.facebook.com/kayungernewyork" target="_blank"><i class="fa fa-facebook"></i></a>
                	<a href="http://instagram.com/kayungernewyork" target="_blank" ><i class="fa fa-instagram"></i></a>
                </div>
                <div>&nbsp;</div>
				<div class="reg">©{{ "now"|date("Y") }} KAY UNGER</div>
				<div class="reg">EMPOWERED BY ZINDIGO</div>
            </div>
        </div>
    </footer>
    <script src="//static.getclicky.com/js" type="text/javascript"></script>
    <script type="text/javascript">try{ clicky.init(100632428); }catch(e){}</script>
    {% for jsAsset in action.getScriptFileAssets() %}
        <script src="/js/{{ controller.storeId }}/generated/{{ jsAsset }}"></script>
    {% endfor %}
{% endblock %}


