@import "../fonts";
@import "../utilities";
@import "../forms";
@import "../modal_video";

.blog-container
{
  padding:20px;
}
.blog-article
{
  position: relative;
  cursor: pointer;
  .article-preview
  {
    padding: 15px;
    text-align: center;
    display: block;
    img
    {
       max-width: 400px;
    }
    .article-hover
    {
      display:none;
      position: absolute;
      top: 0px;
      left: 0px;
      background: rgba(255,255,255,0.7);
      color: #000;
      width: 100%;
      text-align: center;
      .article-info
      {
        display: table-cell;
        vertical-align: middle;
        font-size: 14px;
        line-height: 24px;
        text-transform: uppercase;

      }
    }
    &:hover .article-hover
    {
      display: table;
    }
  }
}


.article-container {
  padding: 25px;
  .clear
  {
    clear: both;
  }
  .article-nav {
    font-size: 13px;
    line-height: 18px;
    .moreposts {
      text-align: right;
      .prev-article
      {
        border-right: 1px solid #000;
        margin-right: 10px;
        padding-right: 10px;
      }
      a:first-child
      {
        float: left;
      }
    }

  }
  .article-html
  {
    font-size: 13px;
    line-height: 18px;
    .article-date
    {
      padding-top: 30px;
      padding-bottom: 15px;
    }
    img
    {
      width: auto !important;
      max-width: 100%;
    }
    .article-main-image
    {
      text-align: center;
    }

    .article-content
    {
      padding: 15px;
      padding-left: 0px;
      a
      {
        text-decoration: underline;
      }
    }
  }
}

