  @import "../fonts";
@import "../utilities";
@import "checkout";

#cart-form
{
	padding: 0px 30px;
}

table {
  width: 100%;
  margin-bottom: $grid-gutter-width;
  @include brand-secondary-font-book($size: 11);
  thead
  {
	  border-bottom: 1px solid #000;
  }

  th {
    @include font-size(11);
    text-transform: uppercase;
    padding: 4px;
    text-align: left;
    font-weight: 300 !important;
    @include breakpoint-xsmall {
      font-size: 12px !important;
    }
  }

  td {
    @include font-size(11);
    padding: 4px;
    text-align: left;
    span{
      @include breakpoint-xsmall {
        font-size: 12px !important;
      }
    }
  }
}

table.header {
  margin-top: $grid-gutter-width;
  /*text-transform: uppercase;*/
}

table.items {
  tr {
   /*
    &:nth-child(odd) {
      background: lightgray;
    }

    &:nth-child(even) {
      background: white;
    }
    */
  }
}

table.summary {

	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	@include breakpoint-xsmall {
      border-bottom:none;
    }

  .disclaimer {
    @include font-size(10);
  }

  td {
    vertical-align: top;
    @include breakpoint-small-up {
      padding: 25px 0px;
    }
  }

  .total {
    text-align: right;
    width: 250px;
    @include breakpoint-xsmall {
    	text-align: left;
    }

    span {
      @include breakpoint-small-up {
        min-width: 70px;
      }
      display: inline-block;
	  text-align: right;
      &:last-child {
        float: right;
      }
    }

    span.bold {
      @include brand-secondary-font-book($size: 13);
      text-transform: uppercase;
    }

    span.price {
      @include brand-secondary-font-book($size: 13);
      text-align: right;

      &:before {
        content: ' ';
      }
    }
    
    .total-text
    {
	  @include brand-secondary-font-book($size: 13);
      text-transform: uppercase;
    }
  }

  tr {
    td.detail {
      width: 75px;
      @include brand-secondary-font-book($size: 11);
      text-transform: uppercase;
    }
  }

  ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
  }
}

.quantity input {
  width: 60px;
  text-align: center;
  border: 1px solid #000;
}

.cart-promos {
	@include brand-secondary-font-book($size: 11);
	text-transform: uppercase;
	text-align: left;
	margin-bottom: $grid-gutter-width;

  .cart-promo {
    margin-bottom: $grid-gutter-width;
    @include breakpoint-xsmall {
      text-align: center;
      label{
        margin-top: 0px !important;
      }
    }
    
  }
}

.cart-buttons {
  text-align: right;
  margin-bottom: $grid-gutter-width;
}

div.properties {

  span {
    @include font-size(11);
  }

  span.name {
    @include brand-secondary-font-book($size: 11);
    padding-right: 4px;

    &:not(:first-child) {
      padding-left: 10px;
    }
  }

  span.value {

  }
}


.row [class*='col-'] .image
{
	max-width: 150px;
	img
	{
		max-height: 200px;
		width: auto;
		max-width: 100%;
    padding:10px 10px 10px 0;
	}
}

.price
{
	text-align: right;
	a
	{
		color: #000;
		text-decoration: underline;
		text-transform: lowercase;
		font-size: 11px;
	}
}

.quantity
{
	text-align: center;
	a
	{
		color: #000;
		text-decoration: underline;
		text-transform: lowercase;
		font-size: 11px;
	}
}

.extrainfo
{
	@include brand-secondary-font-book($size: 11);
	/*text-transform: lowercase;*/
	margin-top: 10px;
  margin-bottom: 20px;
}
.btn
{
	background-color: #000;
}
.btn.btn-default
{
	border: none;
	@include brand-secondary-font-book($size: 10);
	outline: none;
	background-color: #000;
	&.continue-shopping
	{
		width: 192px;
		height: 44px;
		line-height: 41px;
		background-color: #FFF;
    border:1px solid #000;
		color:#000;
    float:left;
    @include brand-secondary-font-book($size: 10);
    @include breakpoint-xsmall {
			width: 100%;
		}
	}
	&.update
  {
    width: 172px;
    height: 44px;
    line-height: 41px;
    background-color: #FFF;
    color: #000;
    font-weight: bold;
    border:1px solid black;
    float: right;
    margin-right: 4px;
    @include brand-secondary-font-book($size: 10);
    @include breakpoint-xsmall {
      width: 100%;
    }
  }
	&.apply-promo
	{
		height: 25px;
		vertical-align: top;
    @include brand-secondary-font-book($size: 9);
		@include breakpoint-xsmall {
			width: 100%;
			margin-top: 5px;
		}
	}
	
	&.checkout
	{
		width: 172px;
		height: 44px;
		line-height: 41px;
		background-color: #000;
		color: #FFF;
    float: right;
    @include brand-secondary-font-book($size: 10);
		@include breakpoint-xsmall {
			width: 100%;
			margin-top: 10px;
      margin-bottom:5px;
		}
	}
	
	

}

.cart-promo input
{
	@include breakpoint-small {
		width: 100%;
		margin-top: 2px;
	}
}

.cart-view-container
{
	min-height: 450px;
	@include breakpoint-xsmall {
		min-height: inherit;
	}
}

label {
  @include brand-secondary-font-book($size: 11);
}

.alert-danger{
  @include brand-secondary-font-book($size: 11);
}

td.description{
  font-weight: 300 !important;
}

.price span{
  line-height: 27px;
}
