@import "../fonts";
@import "../utilities";
@import "../modal_video";
.clear
{
  clear: both;
}
.about-collections
{
  background-color: #b0b0b0;
  color: #000;
  text-align: left;
  max-height: 95px;
  &.ww-collections
  {
    max-height: none;
    position: relative;
    .ultimate-center
    {
      position: absolute;
      top: 0px;
      bottom: 0px;
      margin: auto;
      min-height: 95px;
    }
  }
  @include breakpoint-medium
  {
    max-height: 190px;
  }
  .title-holder
  {
    position: relative;
    background-color: #b0b0b0;
    z-index: 99;
    @include breakpoint-medium
    {
      height: inherit !important;
    }
  }
  .collection-name-container {
    display: table;
    width: 100%;
    background-color: #b0b0b0;
    @include breakpoint-xsmall {
      height: 6em !important;
    }
    .collection-name {
      font-size: 28px;
      line-height: 32px;
      text-transform: uppercase;
      text-align: left;
      display: table-cell;
      vertical-align: top;
      padding-left: 25px;
      &.ww-coll-name
      {
        padding-left: 0px;
      }
      @include breakpoint-medium
      {
        padding-top: 10px;
      }
    }
  }
  .collection-desc
  {
    font: 13px/1.5 'AvenirNextLTPro-Regular';
    max-height: 6em;
    text-align: justify;
    width: 100%;
    padding: 0px 25px;
    &.ww-coll-desc
    {
      padding: 0px 0px 0px 50px;
      @include breakpoint-medium
      {
        padding: 0px 25px;
      }
    }
  }

  .desc-holder
  {
    position: relative;
    background-color: #b0b0b0;
    z-index: 99;
    .articlelink
    {
      text-align: right;
      padding-right: 25px;
      padding-left: 25px;
    }

    &.ww-desc-holder
    {
      position: relative;
      .articlelink
      {
        text-align: right;
        padding-right: 0px;
        padding-left: 50px;
      }
    }
  }

}

.ww-feed
{
  padding: 25px 15px;
  border-top: 1px solid #000;
  border-bttom: 1px solid #000;
  .share-ww
  {
    font-size: 24px;
    line-height: 30px;
    text-align: center;
  }
  .igpost
  {
    padding: 15px;
  }
}


.carousel .item {-webkit-transition: opacity 1.5s; -moz-transition: opacity 1.5s; -ms-transition: opacity 1.5s; -o-transition: opacity 1.5s; transition: opacity 1.5s;}
.carousel .active.left {left:0;opacity:0;z-index:2;}
.carousel .next {left:0;opacity:1;z-index:1;}


.carousel-control {
  position: absolute;
  top: 40%;
  z-index: 5;
  display: inline-block;
}

.carousel-control img{
  height: 52px !important;
  width: 26px !important;
  cursor: pointer;
}

.carousel-control.left, .carousel-control.right{
  background-image:none;
}

.carousel-control
{
  width: 27px;
  height: 52px;
}

.carousel-indicators
{
  bottom: 0px;
  position: relative;
  border-top: 13px solid #000;
  left: 0px;
  top: 0px;
  width: 100%;
  margin: 0px;
  padding: 30px 0px;
}

.carousel-indicators li
{
  border-right: 3px;
  background-color: rgba(191,191,191,1);
  border-radius: 0px;
}

.carousel-indicators .active
{
  border-right: 3px;
  background-color: rgba(0,0,0,1);
}

/* Slider */
.slick-slider
{
  position: relative;

  display: block;
  box-sizing: border-box;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list
{
  position: relative;

  display: block;
  overflow: hidden;

  margin: 0;
  padding: 0;
}
.slick-list:focus
{
  outline: none;
}
.slick-list.dragging
{
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track
{
  position: relative;
  top: 0;
  left: 0;

  display: block;
}
.slick-track:before,
.slick-track:after
{
  display: table;

  content: '';
}
.slick-track:after
{
  clear: both;
}
.slick-loading .slick-track
{
  visibility: hidden;
}

.slick-slide
{
  display: none;
  float: left;

  height: 100%;
  min-height: 1px;
}
[dir='rtl'] .slick-slide
{
  float: right;
}
.slick-slide img
{
  display: block;
}
.slick-slide.slick-loading img
{
  display: none;
}
.slick-slide.dragging img
{
  pointer-events: none;
}
.slick-initialized .slick-slide
{
  display: block;
}
.slick-loading .slick-slide
{
  visibility: hidden;
}
.slick-vertical .slick-slide
{
  display: block;

  height: auto;

  border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
  display: none;
}

.products-holder
{
  border-top: 1px solid #000;
  padding: 20px 0px;
  .product
  {
    cursor: pointer;
  }
}

.prod-prev
{
  position: absolute;
  top: 45%;
  left: 0px;
  z-index: 99;
  cursor: pointer;
}

.prod-next
{
  position: absolute;
  top: 45%;
  right: 0px;
  z-index: 99;
  cursor: pointer;
}

.gallery-buttons
{
  text-align: center;
  .view-all, .upload-photo
  {
    font-size: 20px;
    line-height: 30px;
    display: inline-block;
    margin-top: 15px;
    margin: 0px 30px;
  }
}

