@import "../fonts";
@import "../utilities";

label {
  width: 160px;
  text-transform: uppercase;
  text-align: left;
  margin-right: 5px;
  float: left;
  @include brand-primary-font($size: 11);
}

select,
input {
  width: 160px;
  margin: 0px;
  padding: 0px;
  display: inline-block;
  border-radius: 0px;
  float: left;
  height: 25px;
}

input
{
	border-radius: 0px;
	margin-bottom: 10px;
	@include brand-primary-font($size: 11);
	letter-spacing: normal;
	padding-left: 5px;
}

h2 {
  @include font-size(16);
  padding: 10px 0;
  clear: both;
}

#paymentinfo_inner,
#customerinfo_inner {
  div {
    padding: 5px 0;
    clear: both;
  }
}

#cyberpaymentform_submit {
  @include breakpoint-xsmall {
    margin: 5px 0;
  }
  margin: 5px 0 0 165px;
  float: none;
}

#signedForm
{
	padding: 0px 30px;
}


#cyberpaymentform_submit
{
	border: none;
	@include brand-primary-font($size: 10);
	letter-spacing: normal;
	text-transform: uppercase;
	outline: none;
	width: 172px;
	height: 44px;
	line-height: 41px;
	background-color: #000;
	color: #FFF;
	margin-bottom: 10px;
	@include breakpoint-small {
		width: 100%;
	}
}
