@import "../fonts";
@import "../utilities";
@import "../forms";
@import "../modal_video";

.dynamic-container {
  padding: 25px;
  .dynamic-title {
    font-size: 18px;
    line-height: 30px;
    margin: 25px 0px;
  }

  .dynamic-content {
    font-size: 12px;
    line-height: 18px;
    margin-top: 15px;
    .dynamic-email {
      color: #000;
      display: block;
text-transform: lowercase;
text-decoration: none;
    }
    .dynamic-phone {
      text-decoration: none;
      color: #000;
      display: block;
    }
  }
}
