@import "../fonts";
@import "../utilities";
@import "../forms";
@import "../modal_upload";


.igpost
{
  padding: 15px;
  text-align: center;
  .igfrom
  {
    @include brand-secondary-font($size: 10);
    font-size: 13px;
    line-height: 18px;
  }
  .ig-text
  {
    font-size: 13px;
    line-height: 18px;
  }
}

.share-ww
{
  font-size: 22px;
  line-height: 30px;
  text-align: center;
padding-bottom: 15px;
}


.gallery-container
{
  padding-top: 30px;
}

.gallery-buttons
{
  text-align: center;
  .connect-with, .upload-photo
  {
    font-size: 20px;
    line-height: 30px;
    display: inline-block;
    margin-top: 15px;
    /*text-decoration: underline;*/
    margin: 0px 30px;
  }
}

