@import "../fonts";
@import "../utilities";
@import "../modal_video";

.carousel .item {-webkit-transition: opacity 1.5s; -moz-transition: opacity 1.5s; -ms-transition: opacity 1.5s; -o-transition: opacity 1.5s; transition: opacity 1.5s;}
.carousel .active.left {left:0;opacity:0;z-index:2;}
.carousel .next {left:0;opacity:1;z-index:1;}


.carousel-control {
  position: absolute;
  top: 40%;
  z-index: 5;
  display: inline-block;
}

.carousel-control img{
  height: 52px !important;
  width: 26px !important;
  cursor: pointer;
}

.carousel-control.left, .carousel-control.right{
  background-image:none;
}

.carousel-control.right{
right: 10px;
}
.carousel-control.left
{
left: 10px;
}

.carousel-control
{
  width: 27px;
  height: 52px;
 .right
{
	right: 10px;
}
.left
{
	left: 10px;
}
}


.carousel-indicators
{
  bottom: 0px;
  position: relative;
  padding-top: 15px;
  border-top: 13px solid #000;
  left: 0px;
  top: 0px;
  width: 100%;
  margin: 0px;
  padding-bottom: 15px;
}

.carousel-indicators li
{
  border-right: 3px;
  background-color: rgba(191,191,191,1);
}

.carousel-indicators .active
{
  border-right: 3px;
  background-color: rgba(0,0,0,1);
}

.instagram-spot
{
  @include brand-primary-font($size: 14);
  text-align: center;
}

.igpost
{
  padding: 15px;
}
