@import "../fancy";

.presslideshow
{
  padding: 15px;
  .press-item
  {
    padding: 15px;
    position: relative;
    cursor: pointer;
    float: none;
    display: inline-block;
    .gallery
    {
      display: block;
    }
    .hoverpart
    {
      position: absolute;
      z-index: 999;
      display: none;
      background: rgba(255,255,255,0.7);
      width: 100%;
      height: 100%;
      top: 0px;
      left: 0px;
      padding: 10px;

      .articlestext
      {
        margin-top: 45%;
        font-size: 16px;
        line-height: 22px;
        text-align: center;
        text-transform: uppercase;
      }
    }
    &:hover .hoverpart
    {
      display: block;
    }
  }
}

.fancybox-overlay
{
  background: rgba(0,0,0,0.8);
  .fancybox-skin
  {
    border: none;
  }
  .fancybox-title
  {
    color: #FFF;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 24px;
  }
}

.fancybox-close
{
  background: url('/templates/80/images/white-close.png') no-repeat top center transparent;
  width: 29px;
  height: 29px;
  right: 27px;
}

.featherlight {
  .featherlight-close-icon
  {
    width: 29px;
    height: 29px;
    background: transparent;
    left: 80%;
    right: inherit;
  }
  .featherlight-content
  {
    border: none;
    background: transparent;
    min-width: inherit;
    padding: 0px 35px;
    height: initial;
    overflow: visible;
    .about-press
    {
      text-align: center;
      color: #FFF;
      font-size: 14px;
      line-height: 24px;
      text-transform: uppercase;
      max-width: 80%;
      margin: 0 auto;
    }
    .press-image
    {
      max-height: 85%;
      height: initial;
      overflow: auto;
      text-align: center;
      max-width: 80%;
      margin: 0 auto;
      img
      {
        max-width: 100%;
      }
    }

  }
  .featherlight-previous
  {
    width: 27px;
    height: 52px;
    display: block;
    right: inherit;
    left: 0px;
    top: 0px;
    bottom: 0px;
    margin: auto 0;
    &:hover
    {
      background: transparent;
    }
    span
    {
      display: block;
      top: 0px;
      width: 27px;
      height: 52px;
      bottom: 0px;
      margin: auto;
      img
      {
        vertical-align: top;
      }
    }
  }
  .featherlight-next
  {
    width: 27px;
    height: 52px;
    display: block;
    right: 0px;
    left: inherit;
    top: 0px;
    bottom: 0px;
    margin: auto 0;
    &:hover
    {
      background: transparent;
    }
    span
    {
      display: block;
      top: 0px;
      width: 27px;
      height: 52px;
      bottom: 0px;
      margin: auto;
      img
      {
        vertical-align: top;
      }
    }
  }
}