@import "../fonts";
@import "../utilities";
@import "../forms";
@import "../modal_video";

form input {
  border-radius: 0px !important;
}

#status {
  padding-bottom: 0;
}

#content-wrap {
  background: #FFF;
  margin-bottom: 50px;
}

#products-container {
  min-height: 500px;

  .products {
    div[class*='product-ad-'] {
      display: block;
    }
  }
}

.product {
  position: relative;
  display: none;
  a
  {
    display: inline-block;
  }
  .phover {
    display: none;
    position: absolute;
    left: 0px;
    bottom: 0px;
    background: rgba(255, 255, 255, 0.7);
    width: 100%;
    height: 100%;
    color: #000;
    text-align: center;
    font-size: 14px;
    line-height: 24px;
    cursor: pointer;
    vertical-align: middle;
    a {
      display: table;
      text-align: center;
      width: 100%;
      color: #000;
      div {
        display: table-cell;
        vertical-align: middle;
      }
    }
    a:hover {
      color: #000 !important;
    }
  }
}

.product {
  @include brand-primary-font($size: 11);
  margin-bottom: 25px;
  display: none;
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
  .name {
    padding-top: 5px;
    line-height: 17px;

    /*font-style: italic;*/
    /*letter-spacing: 0.2em;*/

    /*@include breakpoint-xsmall {
      @include font-size(13);
    }*/
  }

  .price {
    /*letter-spacing: 0.2em;*/
    /*@include breakpoint-xsmall {
      @include font-size(13);
    }*/
  }

  img {
    width: 100%;
    max-width: 100%;
    height: auto;
  }

  &:hover .phover {
    display:block;
  }

}

.defaultsharer {
  box-sizing: content-box;
  left: 5px;
  bottom: 44px;
  height: 75px;
  padding: 5px 0;
  position: absolute;

  .moreinfo {
    @include brand-secondary-font-book($size: 12);

    &:hover {
      color: $brand-color-lightgray;
    }
  }

  .shareit {
    @include brand-secondary-font-book($size: 10);
  }

  a {
    &:hover {
      color: $brand-color-lightgray;
    }
  }

  .defshare {
    background: url("/templates/#{$storeid}/images/views/products/social_sprites.png") no-repeat scroll left top transparent;
  }
}

.origprice {
  text-decoration: line-through;
}

.saleprice {
  color: #a90407;
}

.row [class*='col-'].product img
{
  /*max-height: 600px;*/
  /*width: auto;*/
  @include breakpoint-xsmall
  {
    /*max-height: 500px;*/
  }
}

.sortingby
{
  font-size: 14px;
  line-height: 30px;
  height: 30px;
  text-align: right;
  padding-right: 15px;
  @include breakpoint-medium {
    padding: 0px 10px;
    height: auto;
  }
}

.sortingby-page
{
  font-size: 14px;
  line-height: 30px;
  height: 30px;
  text-align: left;
  padding-left: 25px;
  @include breakpoint-medium {
    padding: 0px 10px;
    height: auto;
  }
}

.itemamount
{
  display: inline-block;
  height: 29px;
  line-height: 29px;
  vertical-align: top;
  text-transform: none;
  span
  {
    display: block;
    float: left;
    margin-right: 0px;
    line-height: 29px;
    display: inline-block;
    font-size: 12px;
  }
  @include breakpoint-small {
    display: block;
    text-align: center;
    span
    {
      float: none;
      display: block;
    }
  }
}

.personalized_header{
  .title{
    position: absolute;
    color: #000;
    z-index: 999;
    @include brand-secondary-font-book($size: 30);
    font-size: 25px;
    font-weight: 100;
    text-transform: uppercase;
    /*padding: 30px 0px;*/
    margin-bottom: 20px;
    margin-top: 4%;
    line-height: 98px;
    width:100%;
    text-align: center;
    @include breakpoint-small {
      line-height: 40px;
    }
    @include breakpoint-mobile-menu{
      line-height: normal;
      margin-top: 6%;
    }
  }
  .description{
    position: absolute;
    color: #000;
    z-index: 999;
    width:100%;
    text-align: center;
    @include brand-secondary-font-book($size:14);
    padding-top: 10%;
    font-size: 12px;
    text-transform: uppercase;
    margin-bottom: 20px;
    font-weight: 300;
    @include breakpoint-small {
      padding-top: 5%;
    }
    div{
      width:80%;
      max-width:1000px;
      margin: 0px auto;
      @include breakpoint-small {
        width:95%;
      }
      @include breakpoint-mobile-menu{
        display: none;
      }
    }
  }
  .title_bg{
    width:100%;
    height: auto;
    margin-bottom:20px;
    font-weight: 100;
  }
}

.refineby
{
  /*border-right: 1px solid #000;*/
  border-left: 1px solid #000;
  display: inline-block;
  padding-left:20px;
  margin: 0px 10px;
  height: 29px;
  vertical-align: top;
  span
  {
    line-height: 29px;
    display: block;
    float: left;
    margin-right: 10px;
    font-size: 12px;
    text-transform: uppercase;
  }

  @include breakpoint-small {
    border: none;
    display: block;
    text-align: center;
    padding: 0px;
    margin: 0px;
    height: auto;
    span
    {
      float: none;
      display: block;
      position: relative;
      top: 0px;
      margin-right: 0px;
    }
  }
}

.sortby
{
  display: inline-block;
  height: 29px;
  line-height: 29px;
  font-size: 12px;
  vertical-align: top;
  margin-left: 10px;
  padding-left: 10px;
  @include breakpoint-small {
    display: block;
    height: auto;
    margin-left: 0px;
    padding-left: 0px;
    border: none;
  }
  span
  {
    line-height: 29px;
    display: block;
    margin-right: 10px;
    text-transform: uppercase;
    @include breakpoint-small {
      float: none;
      margin-right: 0px;
      text-align: left;
    }
  }
}

#Container .mix{
  display: none;
}

.val-selector
{
  width: auto;
  padding-right: 10px;
  float: none;
  top: 0px;
  font-size: 12px;
  margin-right: 10px;
  @include breakpoint-small {
    width: 100%;
    display: block;
    padding: 0px 10px;
  }
}

.sort-selector{
  width: 150px;
  @include breakpoint-small {
    width:100%;
  }
}

.cateogry-selector{
  width: 130px;
  @include breakpoint-small {
    width:100%;
  }
}

.price-selector{
  width: 150px;
  @include breakpoint-small {
    width:100%;
  }
}

#status
{
  @include brand-secondary-font-book($size: 12);
  text-transform: uppercase;
  margin-top: 20px;
  text-align: center;
}

.availablesizes, .stylenumber{
  @include brand-secondary-font-book($size: 18);
  font-size: 14px;
  line-height: 22px;
  /*letter-spacing: normal;*/
}

/*@media (min-width: 1200px) and (max-width: 1500px){
	.product_image{
		max-height: 490px !important;
	}

}

@media (min-width: 1200px) and (max-width: 1500px){
	.product_image{
		max-height: 490px !important;
	}

}

@media (min-width: 900px) and (max-width: 1199px){
	.product_image{
		max-height: 500px !important;
	}

}

@media (min-width: 600px) and (max-width: 899px){
	.product_image{
		max-height: 410px !important;
	}

}

@media (max-width: 599px){
	.product_image{
		max-height: 500px !important;
	}

}*/

.homepage_loader{
  display: none;
}

.small_description{
  @include brand-secondary-font-book($size: 18);
  font-size: 14px;
  /*line-height: 18px;*/
}


.discount_label{
  height: 74px;
  width: 74px;
  background: #000;
  top: 4px;
  left: 4px;
  position: absolute;
  border-radius: 37px;
  text-align: center;
  color: #fff;
  vertical-align: middle;
  padding-top:18px;
}

.preoder-label{
  top: 30px;
  left: 30px;
  position: absolute;
  @include brand-secondary-font-book($size: 18);
  font-size: 14px;
}
.pagination {
  padding: 0px;
  margin: 0px;
  padding-left: 0px;
  .paginator {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: inline-block;
    cursor: pointer;
    font-size: 12px;
    line-height: 16px;
    * {
      display: inline-block;
    }
    .pagor {
      letter-spacing: normal;
      color: #000;
      text-decoration: none;
      padding: 0px 5px;

      &.selected {
        text-decoration: underline;
      }
    }
    .dotdotdot {
      padding-right: 4px;
    }
    .paginatorleft {
      padding-right: 10px;
    }
    .paginatorright {
      padding-left: 10px;
    }
  }
}

.sort-cont
{
  padding-top: 20px;
}
