@import "../fonts";
@import "../utilities";
@import "../forms";
@import "checkout";

.left {
  text-align: right;

  table {
    @include breakpoint-small-up {
      float: right;
    }

    tr {
      td {
        &:first-child {
          @include breakpoint-small-up {
            width: 60%;
          }
        }
      }
    }
  }
}

.right {
  table {
    float: left;
  }
}

select.z-select,
input[type=text],
input[type=email] {
  width: 160px;
}

.required {
  color: #000;
  font-weight: bold;
  padding-left: 2px;
}

.summary {
	@include font-size(10);
	padding: 4px;
	border-top: 1px solid #000;
}

table {
  border-spacing: $grid-gutter-width;
  border-collapse: separate;
  @include breakpoint-xsmall {
    margin-top: -$grid-gutter-width;
  }

  tr {
    td {
      vertical-align: top;

      label {
        display: block;
        margin: 5px 0 0 0;
      }

      &:first-child {
        @include brand-secondary-font-book($size: 11);
        font-size: 12px;
        text-transform: uppercase;
        width: 100px;
        text-align: right;
        padding-right: 10px;
      }
      &:last-child {
        text-align: left;
      }
    }
  }
}

.shipping {
  display: none;

  input[type=checkbox] {
    height: auto;
  }

  label.inline {
    display: inline-block;
  }
}

form
{
	input
	{
		border-radius: 0px;
		margin-bottom: 10px;
		@include brand-secondary-font-book($size: 11);
		font-size: 12px;
		padding-left: 5px;
	}
	
	select
	{
		margin-bottom: 10px;
		@include brand-secondary-font-book($size: 11);
	}
	label
	{
		@include brand-secondary-font-book($size: 10);
	}
}

.z-select
{
	margin-bottom: 10px;
	border-radius: 0px;
	@include brand-secondary-font-book($size: 11);
}

.extrainfo
{
	@include brand-secondary-font-book($size: 9);
	text-transform: uppercase;
	margin-top: 10px;
	border-top: 1px solid #000;
	padding-top: 10px;
	margin-bottom: 10px;
}

.btn.btn-default
{
	border: none;
	@include brand-secondary-font-book($size: 10);
	outline: none;
	&.prev
	{
		width: 172px;
		height: 44px;
		line-height: 41px;
		background-color: #FFF;
		color: #000;
		border:1px solid #000;
		margin-bottom: 10px;
		@include brand-secondary-font-book($size: 10);
		@include breakpoint-xsmall {
			width: 100%;
		}
	}

	&.next
	{
		width: 172px;
		height: 44px;
		line-height: 41px;
		background-color: #000;
		color: #FFF;
		margin-bottom: 10px;
		@include brand-secondary-font-book($size: 10);
		@include breakpoint-xsmall {
			width: 100%;
		}
	}

}


.purchase-container
{
	padding: 0px 30px;
	@include breakpoint-small-up {
		min-height: 400px;
	}
}

.shipping tr
{
	height: 26px !important;
}
