@import "../fonts";
@import "../utilities";
@import "../forms";
@import "cart_view";

#entryform
{
	padding: 0px 30px;
	@include breakpoint-xsmall {
   		padding: 0px 15px;
   	}
}

.btn
{
	border: none;
	@include brand-secondary-font-book($size: 10);
	outline: none;
	&.prev
	{
		width: 172px;
		height: 44px;
		line-height: 41px;
		background-color: #FFF;
		color: #000;
		margin-bottom: 10px;
		border:1px solid #000;
		@include breakpoint-xsmall {
			width: 100%;
		}
	}

	&.next
	{
		width: 172px;
		height: 44px;
		line-height: 41px;
		background-color: #000;
		color: #FFF;
		margin-bottom: 10px;
		@include breakpoint-xsmall {
			width: 100%;
		}
	}

}

.cart-buttons
{
	padding-top: 10px;
}

tr.header {
  @include brand-secondary-font-book($size: 10);
  text-transform: uppercase;

  td {
    background: #AEAEAE;
    color: white;
  }
}

.summary_title{
	@include brand-secondary-font-book($size: 13);
	text-transform: uppercase;
}

.total ul li span{
	font-weight: 300 !important;
}

.address{
	font-weight: 300 !important;
}