@import "../fonts";
@import "../utilities";
@import "../forms";
@import "../modal_video";
.stockist-container
{
  padding: 30px;
}
.stockists {
  position: relative;
  background-size: initial;
  background-position: top left;
  background-repeat: no-repeat;
  .bg-img {
    display: none;
  }
  .stockist-holder
  {
    background: rgba(255,255,255,0.8);
    padding: 15px;
    .locator-text
    {
      font-size: 28px;
      line-height: 32px;
      margin-bottom: 20px;
    }
    .val-selector
    {
      width: 220px;
      float: none;
      display: block;
      margin: 0 auto;
      margin-bottom: 10px;
    }
    .submit-stockist
    {
      width: 220px;
      font-size: 14px;
      height: 40px;
      line-height: 40px;
      color: #FFF;
      background-color: #000;
      text-align: center;
      cursor: pointer;
      margin: 0 auto;
      margin-top: 15px;
      margin-bottom: 30px;
    }
  }
  .map-canvas {
    height: 500px;
    margin: 0px;
    padding: 0px;
    @include breakpoint-small
    {
      height: 300px;
    }
  }
  .current-stores
  {
    overflow: auto;
    height: 500px;
    @include breakpoint-small
    {
      height: 300px;
    }
  }
  .map-holder
  {
    padding: 15px;
  }
  .store
  {
    font-size: 13px;
    line-height: 20px;
    .store-name
    {
      @include brand-secondary-font($size: 11);
      font-size: 13px;
      line-height: 20px;
    }
    .viewmap
    {
      text-decoration: underline;
      display: block;
      font-size: 13px;
      line-height: 20px;
      margin-bottom: 10px;
    }
  }
}
