@import "../fonts";
@import "../utilities";
@import "../forms";
@import "../modal_video";

.story {
  position: relative;
  background-size: initial;
  background-position: top left;
  background-repeat: no-repeat;
.story-container {
  background: rgba(255,255,255,0.8);
  .story-title {
    font-size: 28px;
    line-height: 30px;
    text-align: center;
    max-width: 340px;
    margin: 25px auto;
  }

  .story-text {
    font-size: 13px;
    line-height: 18px;
    text-align: justify;
    overflow: auto;
    padding: 15px 100px;
    @include breakpoint-xsmall {
      padding: 15px 50px;
    }
  }
}
  img
  {
    opacity: 0;
    position: absolute;
    top: 0px;
    left: 0px;
    min-height: 100%;
    min-height: 250px;
  }
}

.wwstory {
  position: relative;
  background-size: initial;
  background-position: top right;
  background-repeat: no-repeat;

  .story-container {
    background: rgba(255,255,255,0.8);
    .story-title {
      font-size: 28px;
      line-height: 30px;
      text-align: center;
      max-width: 340px;
      margin: 25px auto;
    }

    .story-text {
      font-size: 13px;
      line-height: 18px;
      text-align: justify;
      overflow: auto;
      padding: 15px 100px;
      @include breakpoint-xsmall {
        padding: 15px 50px;
      }
    }
  }
  img
  {
    opacity: 0;
    position: absolute;
    top: 0px;
    left: 0px;
    min-height: 100%;
    min-height: 250px;
  }

  .vertical-container
  {
    display: table;
    widht: 100%;
    .vertical-text
    {
      text-align: justify;
      display: table-cell;
      vertical-align: middle;
    }
  }
}

.ww-feed
{
  padding: 25px 15px;
  border-top: 1px solid #000;
  border-bttom: 1px solid #000;
  .share-ww
  {
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    padding-top: 30px;
  }
  .view-all
  {
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    display: block;
  }
  .igpost
  {
    padding: 15px;
  }
}

.learnmore-vid
{
  cursor: pointer;
  text-align: center;
  text-decoration: underline;
  &:hover
  {
    text-decoration: underline;
  }
}

