@import "../fonts";
@import "../utilities";
@import "../forms";
@import "../modal_video";


.spacing-fix {
  margin-top: 160px;
  margin-bottom: 15px;
}

.nbs-flexisel-nav-left {
  display:none;
}

.nbs-flexisel-nav-right {
  display:none;
}

.video-container
{
  padding: 30px;
  .videosmall {
    text-transform: uppercase;
    padding: 10px;
    text-align: center;
    display: inline-block;
    font-size: 12px;
    img
    {
      width: auto;
      max-width: 250px;
    }
  }
}

