{% extends "store.base.twig" %}

{% set baseImagePath = "/templates/#{controller.storeid}/images" %}
{% set storeLinkUrl = "index.php?storeid=#{controller.storeId}&page={page}" %}
{% set baseUrl = "index.php?storeid=#{controller.getStoreId(false)}&sess=#{sessionName}&#{sessionName}=#{sessionId}" %}
{% set sessionName = "#{sessionName}" %}
{% import "form.macros.twig" as forms %}
{% set seo = registry.get('seo') %}

{% block title %}
    {%  if seo.title is not empty %}
        {{ seo.title }}
    {%  else %}
        Stella Valle - {{ action.title|title }}
    {% endif %}
{% endblock %}

{% block fbMeta %}
    <meta property="og:site_title" content="{{ registry.get('storename') | raw }}" />
    {%  if seo is not empty %}
        <meta property="og:title" content="{{ seo.title }}"/>
        <meta property="og:site_name" content="Stella Valle"/>
        <meta property="og:description" content="{{ seo.desc }}"/>
        {%  if seo.image is not empty %}
            <meta property="og:image" content="{{ seo.image }}"/>
        {% endif %}

    {% else %}

    {%  if proddetails is not empty %}
        <meta property="og:site_title" content="Stella Valle" />
        <!-- Pinterest OpenGraph Product Rich Pin -->
        <meta property="og:price:amount" content="{{ proddetails.details.StorePrice|number_format(2) }}" />
        <meta property="product:price:amount" content="{{ proddetails.details.SalePrice ? proddetails.details.SalePrice|number_format(2) : proddetails.details.StorePrice|number_format(2) }}" />
        <meta property="product:color" content="{{ proddetails.details.ColorFamily }}" >
        <meta property="og:price:currency" content="USD" />
        <meta property="og:title" content="{{ proddetails.details.Name|title }}" />
        <meta property="og:url" content="{{ action.productUrl|replace({'stores.zindigo.com': 'www.stellavalle.com'})|replace({'storesdev.zindigo.com': 'www.stellavalle.com'}) }}" />
        <meta property="og:type" content="product" />
        <meta property="og:image" content="http://c8907125.r25.cf2.rackcdn.com/{{ proddetails.images.ID }}.jpg" />
        <meta property="og:description" content="{{ proddetails.details.Description|striptags|replace({'&nbsp;': ''}) }}" />
    {% endif %}
    {% endif %}

    {{ parent() }}
{% endblock %}

{% block assets %}
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- CSS -->
    <link rel="stylesheet" href="/css/{{ controller.storeId }}/generated/frontend.min.css" />
    <link rel="stylesheet" href="/css/{{ controller.storeId }}/generated/app.min.css?time={{ date().timestamp }}" />
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    {% for cssAsset in action.getCssFileAssets() %}
        <link rel="stylesheet" href="/css/{{ controller.storeId }}/generated/{{ cssAsset }}?time={{ date().timestamp }}"/>
    {% endfor %}
    <link rel="stylesheet" href="//releases.flowplayer.org/5.5.0/skin/minimalist.css">
    
    <!--[if lte IE 8]><link rel="stylesheet" type="text/css" href="/css/{{ controller.storeId }}/ie8.css" /><![endif]-->

    <!-- JS -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="/js/{{ controller.storeId }}/generated/frontend.min.js"></script>
    <script src="/js/{{ controller.storeId }}/generated/app.min.js"></script>
    <script src="//releases.flowplayer.org/5.5.0/flowplayer.min.js"></script>
    <script src="//cdn.jsdelivr.net/cycle2/20140314/jquery.cycle2.min.js"></script>
    <script src="//cdn.jsdelivr.net/cycle2/20140314/jquery.cycle2.carousel.min.js"></script>

	<link rel="shortcut icon" href="/templates/{{ controller.storeId }}/images/favicon.ico" type="image/x-icon">
	<link rel="icon" href="/templates/{{ controller.storeId }}/images/favicon.ico" type="image/x-icon">
    <meta name="google-site-verification" content="5Vblm_xiF5w9AJElhqgd-ayQt1wm9Q9ZKxB66gKr51I" />
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />

    {# YOTPO #}
    <script type="text/javascript">
        (function e(){var e=document.createElement("script");e.type="text/javascript",e.async=true,e.src="//staticw2.yotpo.com/eB4LY0YiIwVF6qw2QE3RDvH5ekX1yDPoQE58z9jD/widget.js";var t=document.getElementsByTagName("script")[0];t.parentNode.insertBefore(e,t)})();
    </script>
{% endblock %}

{% block header %}
    {% include "navigation.twig" %}
{% endblock %}

{% block content %}
    {{ controller.output|raw }}
{% endblock %}

{% block footer %}
    {% include "_modal_newsletter.twig" %}
    {% include "_modal_upload.twig" %}
    <footer>
        <div class="row footercontainer" >

            <div class="col-xs-6 col-md-3">
            	<div class="reg reg_title">INSIDE STELLA VALLE</div>
                <div class="reg">
                    <div class="drop">
                        <a href="javascript:void(0)">PRESS</a>
                        <ul class="footer-dropdown">
                            <li><a href="{{ baseUrl }}&page=press">EDITORIAL</a></li>
                            <li><a href="{{ baseUrl }}&page=press&subsection=blog">BLOGGERS AND CELEBRITY</a></li>
                            <li><a href="{{ baseUrl }}&page=video&section=sharktank">SHARK TANK</a></li>
                            <li><a href="{{ baseUrl }}&page=press&subsection=target">STELLA VALLE FOR TARGET</a></li>
                            <li><a href="{{ baseUrl }}&page=video&section=entrepreneur">ENTREPRENEUR</a></li>
                        </ul>
                    </div>
                </div>
                <div class="reg"><a href="{{ baseUrl }}&page=story&storyid=4227">STORY</a></div>
                <div class="reg"><a href="{{ baseUrl }}&page=blog">BLOG</a></div>
                <div class="reg"><a href="{{ baseUrl }}&page=stockists">STOCKISTS</a></div>
            </div>

            <div class="col-xs-6 col-md-3">
                <div class="reg reg_title">CUSTOMER SERVICE</div>
                <div class="reg"><a href="{{ storeLinkUrl|replace({'{page}': 'contact'}) }}">CONTACT</a></div>
                <div class="reg"><a href="{{ storeLinkUrl|replace({'{page}': 'returns'}) }}">SHIPPING & RETURNS</a></div>
                <div class="reg"><a href="{{ storeLinkUrl|replace({'{page}': 'terms'}) }}">TERMS & CONDITIONS</a></div>
                <div class="reg"><a href="{{ storeLinkUrl|replace({'{page}': 'privacy'}) }}">PRIVACY POLICY</a></div>
            </div>

            <div class="col-xs-6 col-md-3">
                <div class="reg reg_title">SHOP</div>
                <div class="reg"><a href="{{ baseUrl }}&page=products&categoryId=2501&action=all">ALL PRODUCTS</a></div>
                <div class="reg"><a href="{{ baseUrl }}&page=products&categoryId=2503&action=all">NECKLACES</a></div>
                <div class="reg"><a href="{{ baseUrl }}&page=products&categoryId=2504&action=all">BRACELETS</a></div>
                <div class="reg"><a href="{{ baseUrl }}&page=products&categoryId=2505&action=all">EARRINGS</a></div>
                <div class="reg"><a href="{{ baseUrl }}&page=products&categoryId=2506&action=all">RINGS</a></div>
            </div>

            <div class="col-xs-6 col-md-3">
                <div class="reg reg_title">STAY CONNECTED</div>
                <div class="reg"><a href="#" data-toggle="modal" data-target="#newsletter">EMAIL SIGN UP</a></div>
                <div class="reg">STELLA VALLE</div>
                <div class="reg">
                    <a href="https://twitter.com/stellavallenyc" target="_blank" class="socialink"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
                    <a href="http://pinterest.com/stellavalle/" target="_blank" class="socialink"><i class="fa fa-pinterest-square" aria-hidden="true"></i></a>
                    <a href="http://instagram.com/stellavalle/" target="_blank" class="socialink"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                    <a href="https://www.facebook.com/pages/stella-valle/113196925361707" target="_blank" class="socialink"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
                </div>
                <div style="margin-top: 10px;"></div>
                <div class="reg">WOMEN WARRIORS</div>
                <div class="reg">
                    <a href="https://www.twitter.com/womenwarriorssv" target="_blank" class="socialink"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
                    <a href="http://www.pinterest.com/WomenWarriorsSV" target="_blank" class="socialink"><i class="fa fa-pinterest-square" aria-hidden="true"></i></a>
                    <a href="http://www.instagram.com/womenwarriorssv" target="_blank" class="socialink"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                    <a href="http://www.facebook.com/WomenWarriorsSV" target="_blank" class="socialink"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
                </div>

            </div>

        </div>
    </footer>

    {% for jsAsset in action.getScriptFileAssets() %}
        <script src="/js/{{ controller.storeId }}/generated/{{ jsAsset }}"></script>
    {% endfor %}

<script type="text/javascript"> (function e(){var e=document.createElement("script");e.type="text/javascript",e.async=!0, e.src="//staticw2.yotpo.com/eB4LY0YiIwVF6qw2QE3RDvH5ekX1yDPoQE58z9jD/widget.js";var t=document.getElementsByTagName("script")[0]; t.parentNode.insertBefore(e,t)})(); </script>
{% endblock %}


